Repository uc-cdis/gitops-qa, pull requests merged in 2020-10, with the labels that each got.

#928 chore:deploying release version 2020.10 to qa-brain
  qa-brain.planx-pla.net/manifest.json
  qa-brain.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-dbgapTest, test-google-googleServiceAccountRemovalTest

#965 Updating QA Environment 2020.10 qa-acct.planx-pla.net 1602519803
  qa-acct.planx-pla.net/manifest.json
Labels: automerge

#968 task(qa): Fix analyze data link for jenkins envs
  jenkins-brain.planx-pla.net/portal/gitops.json
  jenkins-dcp.planx-pla.net/portal/gitops.json
  jenkins-niaid.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#964 Updating QA env with integration202011 qa-jcoin.planx-pla.net 1602519657
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#974 chore/remove dummy file
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTT_dictionary.pdf
Labels: jenkins-dcp, test-portal-homepageTest

#963 Updating QA env with integration202011 qa-brain.planx-pla.net 1602519557
  qa-brain.planx-pla.net/manifest.json
  qa-brain.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge, test-apis-presignedUrlTest, test-pidgin-getCoremetadataTest, test-portal-rasAuthN

#959 Updating QA env with integration202011 qa-dcp.planx-pla.net 1602513163
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-etlTest

#985 chore/update text on landing page
  qa-niaid.planx-pla.net/portal/gitops.json
Labels: test-apis-centralizedAuth

#989 chore(qa): Update backend access and other services on qa-anvil
  qa-anvil.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#988 chore/update dd version to 3.6.0
  qa-covid19.planx-pla.net/manifest.json
Labels: test-portal-dataUploadTest

#996 chore(bdcat): Update arborist to 2.5.0 in qa.planx-pla.net
  qa.planx-pla.net/manifest.json
Labels: automerge

#1002 fix: peregrine to master
  jenkins-dcp.planx-pla.net/manifest.json
Labels: test-portal-coremetadatapageTest

#1003 doc: Add plans-qa as CODEOWNERS for jenkins envs
  CODEOWNERS
Labels: doc-only
