Repository uc-cdis/gitops-qa, pull requests merged in 2020-09, with the labels that each got.

#860 feat(qa-anvil): Updated useryaml for anvil to point to new qa-anvil one
  qa-anvil.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#874 AnVILQA_DD_2.2.3
  qa-anvil.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#888 QA-AnVIL_DD_2.2.4
  qa-anvil.planx-pla.net/manifest.json
Labels: test-apis-centralizedAuth

#890 Chore/apply integration202010 to qa brain
  qa-brain.planx-pla.net/manifest.json
  qa-brain.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#889 Updating CI env with integration202010 qa-dcp.planx-pla.net 1600101385
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge, gen3-release

#895 Updating CI env with integration202010 qa-anvil.planx-pla.net 1600185192
  qa-anvil.planx-pla.net/manifest.json
  qa-anvil.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge, test-apis-metadataIngestionTest

#897 chore(qa): Fix the gaTrackingId for a couple of Qa envs.
  qa-bloodpac.planx-pla.net/portal/gitops.json
  qa-dcfdemo.planx-pla.net/portal/gitops.json
Labels: automerge

#892 feat(anvil-access): Added access-backend for anvil
  qa-anvil.planx-pla.net/manifest.json
Labels: test-apis-metadataIngestionTest

#896 Add phenotye_group and project_id as search facets
  qa-anvil.planx-pla.net/etlMapping.yaml
  qa-anvil.planx-pla.net/portal/gitops.json
Labels: test-apis-dataUploadTest

#877 Updating QA Environment 2020.09 qa-dcf.planx-pla.net 1599689779
  qa-dcf.planx-pla.net/manifest.json
Labels: automerge, test-portal-indexingPageTest

#908 Update manifest.json
  qa-anvil.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#906 QA-AnVIL_gitops_svb
  qa-anvil.planx-pla.net/portal/gitops.json
Labels: test-portal-indexingPageTest

#910 qa-niaid requestor 1.1.0
  qa-niaid.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#915 QA-DCP_DD_3.6.2
  qa-dcp.planx-pla.net/manifest.json
Labels: test-portal-dataUploadTest

#916 task : change the Fence version to 4.23.5
  qa-dcp.planx-pla.net/manifest.json
Labels: gen3-release

#920 chore(qa): Try to repro 2020.09 release blocker in qa-dcp
  qa-dcp.planx-pla.net/manifest.json
Labels: test-sheepdogAndPeregrine-submitFileTest

#932 fix: include ui-component button class in color overrides
  qa-dcp.planx-pla.net/portal/gitops.css
Labels: test-portal-homepageTest

#929 Updating QA env with 2020.10 qa-dcp.planx-pla.net 1601406909
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge, gen3-release
