Repository uc-cdis/gitops-qa, pull requests merged in 2020-05, with the labels that each got.

#521 chore(qa): leave sower config block empty to be properly mutated by CI checks.
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#518 chore: update the services to 2020.05
  qa-covid19.planx-pla.net/manifest.json
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-centralizedAuth

#519 chore(qa): Introduce new CI env to qaplanetv2
  ci-env-1.planx-pla.net/etlMapping.yaml
  ci-env-1.planx-pla.net/manifest.json
  ci-env-1.planx-pla.net/manifests/fence/fence-config-public.yaml
  ci-env-1.planx-pla.net/manifests/hatchery/hatchery.json
  ci-env-1.planx-pla.net/portal/.!2999!gitops-logo.png
  ci-env-1.planx-pla.net/portal/.!3000!gitops-favicon.ico
  ci-env-1.planx-pla.net/portal/gitops-favicon.ico
  ci-env-1.planx-pla.net/portal/gitops-logo.png
  ci-env-1.planx-pla.net/portal/gitops-sponsors/nhlbi.svg
  ci-env-1.planx-pla.net/portal/gitops.css
  ci-env-1.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#516 Chore/qakf authz
  qa-kidsfirst.planx-pla.net/manifest.json
  qa-kidsfirst.planx-pla.net/manifests/fence/fence-public-config.yaml
Labels: test-apis-OAuth2Test

#528 covid19_DD_2.3.13
  qa-covid19.planx-pla.net/manifest.json
Labels: test-apis-drsEndpointsTest

#544 chore(decommission-qa-dcp-datastage): < what it says
  qa-dcp.datastage.io/etlMapping.yaml
  qa-dcp.datastage.io/manifest.json
  qa-dcp.datastage.io/manifests/hatchery/hatchery.json
  qa-dcp.datastage.io/portal/gitops-favicon.ico
  qa-dcp.datastage.io/portal/gitops-logo.png
  qa-dcp.datastage.io/portal/gitops-sponsors/nhlbi.png
  qa-dcp.datastage.io/portal/gitops.css
  qa-dcp.datastage.io/portal/gitops.json
Labels: decommission-environment

#545 Update manifest.json
  qa-covid19.planx-pla.net/manifest.json
Labels: test-apis-centralizedAuth

#552 Update etlMapping.yaml
  qa-dcp.planx-pla.net/etlMapping.yaml
Labels: test-apis-centralizedAuth

#554 chore(qa): Deploy June integration branch to qa-dcp
  qa-dcp.planx-pla.net/manifest.json
Labels: gen3-release

#557 feat: qa-covid19 to etl
  qa-covid19.planx-pla.net/manifest.json
Labels: test-apis-centralizedAuth

#561 Update gitops.json
  qa-dcp.planx-pla.net/portal/gitops.json
Labels: test-apis-dataUploadTest

#573 COVID19_DD_2.3.18
  qa-covid19.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#567 chore : add premade notebook to QA env
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#578 Update manifest.json
  qa-dcp.planx-pla.net/etlMapping.yaml
  qa-dcp.planx-pla.net/manifest.json
Labels: test-portal-indexingPageTest

#598 chore(qa): Adjust qa-dcp to apply integration202006 to gen3-fuse and mds
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest
