Repository uc-cdis/gitops-qa, pull requests merged in 2020-11, with the labels that each got.

#1006 Updating QA Environment to test November release images 2020.11 qa-dcp.planx-pla.net 1603733898
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge, gen3-release

#1034 chore(dashboard): update ACTT-1 dictionary
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTT-1 Data Dictionary.pdf
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTT1_Data_Dictionary.pdf
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTT1_Data_Dictionary.xlsx
Labels: test-apis-presignedUrlTest, test-pidgin-getCoremetadataTest, test-portal-coremetadatapageTest

#1046 chore(midrc): Update indexd and sheepdog on qa-midrc
  qa-midrc.planx-pla.net/manifest.json
Labels: test-apis-dataUploadTest

#1051 (PXP-7097/7099) MIDRC portal chnges
  qa-midrc.planx-pla.net/portal/gitops.css
  qa-midrc.planx-pla.net/portal/gitops.json
Labels: test-portal-dataUploadTest

#1056 chore(qa): Fix portal setup for jenkins-genomel
  jenkins-blood.planx-pla.net/portal/gitops.json
  jenkins-brain.planx-pla.net/portal/gitops.json
  jenkins-dcp.planx-pla.net/portal/gitops.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/portal/gitops-logo.png
  jenkins-genomel.planx-pla.net/portal/gitops.json
  jenkins-niaid.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1057 chore(dictionary): update to dictionary release 3.7.2
  qa-covid19.planx-pla.net/manifest.json
Labels: test-apis-presignedUrlTest

#1062 fix(ci): jenkins-blood user agreement prompt breaks homepageTest
  jenkins-blood.planx-pla.net/portal/gitops.json
Labels: jenkins-blood, test-portal-homepageTest

#1064 chore(qa): Enable automerge Github action
  .github/workflows/automerge.yml
Labels: automerge, doc-only

#1069 PXP-7182 Feat/atlas
  qa-mickey.planx-pla.net/portal/gitops-sponsors/atlas-logo.png
  qa-mickey.planx-pla.net/portal/gitops.json
Labels: test-pidgin-getCoremetadataTest

#1053 Updating QA env with integration202012 qa-dcp.planx-pla.net 1605411563
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge, gen3-release

#1060 Updating QA Environment integration202012 qa-brain.planx-pla.net 1605800246
  qa-brain.planx-pla.net/manifest.json
  qa-brain.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge, test-apis-dataUploadTest, test-portal-dataUploadTest

#1070 fix(ci): Malformed JSON for jenkins-blood/portal/gitops.json
  jenkins-blood.planx-pla.net/portal/gitops.json
Labels: jenkins-blood, test-portal-homepageTest

#1061 Updating QA Environment integration202012 qa-ibd.planx-pla.net 1605800428
  qa-ibd.planx-pla.net/manifest.json
Labels: automerge

#1071 chore(midrc): Enabling useProfileDropdown for jenkins-brain only
  jenkins-brain.planx-pla.net/portal/gitops.json
Labels: test-apis-metadataIngestionTest

#1072 Update publication page to include button names and description. Add …
  qa-bloodpac.planx-pla.net/dashboard/Public/open-links/BPDC000117/README.md
  qa-bloodpac.planx-pla.net/dashboard/Public/open-links/BPDC000117/app.css
  qa-bloodpac.planx-pla.net/dashboard/Public/open-links/BPDC000117/blood-pac.img
  qa-bloodpac.planx-pla.net/dashboard/Public/open-links/BPDC000117/download-helper.js
  qa-bloodpac.planx-pla.net/dashboard/Public/open-links/BPDC000117/index.html
Labels: test-apis-etlTest

#1074 Feat/qa niaid dap
  qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/portal/gitops.json
Labels: test-apis-metadataIngestionTest
