Repository uc-cdis/gitops-qa, pull requests merged in 2020-07, with the labels that each got.

#705 chore/update etl for CHI-NBHD dataset
  qa-covid19.planx-pla.net/etlMapping.yaml
Labels: test-portal-homepageTest

#728 chore(qa): Test integration202008 in qa-dcp
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release, test-google-googleDataAccessTest

#750 remove redundant ci-env-1 folder
  ci-env-1.planx-pla.net/etlMapping.yaml
  ci-env-1.planx-pla.net/manifest.json
  ci-env-1.planx-pla.net/manifests/fence/fence-config-public.yaml
  ci-env-1.planx-pla.net/manifests/hatchery/hatchery.json
  ci-env-1.planx-pla.net/portal/.!2999!gitops-logo.png
  ci-env-1.planx-pla.net/portal/.!3000!gitops-favicon.ico
  ci-env-1.planx-pla.net/portal/gitops-favicon.ico
  ci-env-1.planx-pla.net/portal/gitops-logo.png
  ci-env-1.planx-pla.net/portal/gitops-sponsors/nhlbi.svg
  ci-env-1.planx-pla.net/portal/gitops.css
  ci-env-1.planx-pla.net/portal/gitops.json
Labels: decommission-environment

#751 chore(precommit): Install pre-commit hook
  .pre-commit-config.yaml
  .secrets.baseline
Labels: doc-only

#754 chore(qa): Sanity check release 2020.08
  jenkins-blood.planx-pla.net/etlMapping.yaml
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#769 Revert "chore(qa): More fence replicas to improve stability of CI tests"
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifest.json
Labels: test-portal-homepageTest
