Repository uc-cdis/gitops-qa, pull requests merged in 2020-02, with the labels that each got.

#382 reverting guppy index to test exploration page
  qa-brain.planx-pla.net/manifest.json
Labels: jenkins-brain

#394 added guppyConfig to jenkins-dcp
  jenkins-dcp.planx-pla.net/portal/gitops.json
Labels: jenkins-dcp

#400 task(qa): Setting up March release versions against qa-dcp
  qa-dcp.planx-pla.net/manifest.json
Labels: gen3-release
