Repository uc-cdis/gitops-qa, pull requests merged in 2020-06, with the labels that each got.

#605 chore(qa): Testing June release tag images (2020.06)
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-google-googleDataAccessTest

#643 deploying integration202007 in qa-brain
  qa-brain.planx-pla.net/manifest.json
  qa-brain.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-centralizedAuth

#652 feat: portal config for idph facility
  qa-covid19.planx-pla.net/portal/gitops.json
Labels: test-pidgin-getCoremetadataTest

#654 chore(qa): Fixing etl on qa-anvil
  qa-anvil.planx-pla.net/etlMapping.yaml
  qa-anvil.planx-pla.net/manifest.json
Labels: test-guppy-guppyTest

#641 chore(qa): Deploy integration202007 to qa-dcp
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-guppy-guppyTest

#656 Update manifest.json
  qa-anvil.planx-pla.net/manifest.json
Labels: test-guppy-guppyTest

#659 chore(qa): Enabling metadata ingestion sower jobs on qa-dcp
  qa-dcp.planx-pla.net/manifest.json
Labels: test-portal-indexingPageTest

#661 chore(qa): Enable dashboard on qa-dcp
  qa-dcp.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#667 update dd version
  qa-anvil.planx-pla.net/manifest.json
Labels: test-guppy-guppyTest

#685 chore(qa): Enable Metadata Ingestion jobs on Jenkins CI environments
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifest.json
Labels: test-portal-indexingPageTest

#686 chore(qa): Testing July release imgs
  qa-brain.planx-pla.net/manifest.json
  qa-brain.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-google-googleDataAccessTest
