Repository uc-cdis/gitops-qa, pull requests merged in 2020-04, with the labels that each got.

#474 chore(qa): Applying integration202005 images to qa-dcp.
  qa-dcp.planx-pla.net/manifest.json
Labels: test-google-googleDataAccessTest

#481 feat: qa-covid19 to latest etl
  qa-covid19.planx-pla.net/manifest.json
Labels: test-pidgin-getCoremetadataTest

#480 chore(qa): Add indexing sower jobs to qa-dcp for testing
  qa-dcp.planx-pla.net/manifest.json
Labels: test-apis-dataUploadTest

#483 chore(qa): Enable new indexing sower jobs in all jenkins envs
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifest.json
Labels: test-apis-dataUploadTest
