Repository uc-cdis/gitops-qa, pull requests merged in 2020-01, with the labels that each got.

#365 chore(qa): Updating dictionary for jenkins-dcp
  jenkins-dcp.planx-pla.net/manifest.json
Labels: jenkins-dcp

#373 allow tests on jenkins_dcp with subject
  jenkins-dcp.planx-pla.net/manifest.json
Labels: jenkins-dcp

#374 Chore/deploy integration202002 to qabrain
  qa-brain.planx-pla.net/manifest.json
Labels: jenkins-brain

#375 raising PR to test integration202002 on qa-dcp
  qa-dcp.planx-pla.net/manifest.json
Labels: jenkins-blood

#377 release(qa): Re-apply integration images to be tested and deplopyed against qa-dcp.
  qa-dcp.planx-pla.net/manifest.json
Labels: jenkins-blood
