Repository uc-cdis/gitops-qa, pull requests merged in 2020-12, with the labels that each got.

#1089 Update manifest.json
  qa-dcp.planx-pla.net/manifest.json
Labels: test-apis-centralizedAuth

#1092 chore(qa): Update access backend on qa-anvil
  qa-anvil.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#1068 Add qa-heal environment
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/scaling/scaling.json
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1094 DD testing QA IBDGC
  qa-ibd.planx-pla.net/manifest.json
Labels: test-portal-landingPageButtonsTest

#1097 feat(ncbi_etl): use covid19-etl:4.5.1
  qa-covid19.planx-pla.net/manifest.json
Labels: test-portal-rasAuthN

#1087 adding services for data_upload in qa-ibd
  qa-ibd.planx-pla.net/manifest.json
Labels: test-portal-landingPageButtonsTest

#1102 chore(qa): Temporary auto-label for qa-heal
  .github/auto-label.json
  .github/workflows/auto-label.yml
Labels: automerge, doc-only

#1120 Updating QA Environment integration202101 qa-ibd.planx-pla.net 1608063637
  qa-ibd.planx-pla.net/manifest.json
Labels: automerge

#1109 chore(covid19-etl): spin covid19-etl
  qa-covid19.planx-pla.net/manifest.json
Labels: test-portal-rasAuthN

#1121 Updating QA Environment integration202101 qa-dcp.planx-pla.net 1608063636
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge, test-apis-dataUploadTest, test-portal-dataUploadTest

#1128 chore(qa-covid19): spin ssj and covid19-etl
  qa-covid19.planx-pla.net/manifest.json
Labels: test-portal-rasAuthN

#1127 BDCat_DD_4.0.3
  qa-dcp.planx-pla.net/etlMapping.yaml
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/portal/gitops.json
Labels: test-apis-etlTest, test-portal-dataUploadTest

#1122 Updating QA Environment integration202101 qa-brain.planx-pla.net 1608063693
  qa-brain.planx-pla.net/manifest.json
  qa-brain.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge

#1126 New DD release to 1.3.0 IBD. QA
  qa-ibd.planx-pla.net/manifest.json
Labels: jenkins-brain, test-portal-dataUploadTest
