Repository uc-cdis/gitops-qa, pull requests merged in 2021-12, with the labels that each got.

#1779 Release Testing PR - integration202112 integration202112 qa-dcp.planx-pla.net 1637778511
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-centralizedAuth, test-apis-dbgapTest

#1783 Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Labels: test-portal-discoveryPageTest

#1792 Chore/apply codeowners to all files
  CODEOWNERS
Labels: doc-only

#1797 updating CODEOWNERS
  CODEOWNERS
Labels: doc-only

#1800 PXP-9136 - fix link
  qa-jcoin.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1786 Gen3 Monthly Release 2021.12 qa-dcp.planx-pla.net 1638487629
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-centralizedAuth, test-apis-OAuth2Test, test-portal-homepageTest, test-portal-indexingPageTest, test-guppy-guppyTest, test-portal-dataUploadTest, test-portal-coremetadatapageTest, test-google-googleServiceAccountKeyTest

#1794 Updating CI env with integration202201 qa-ibd.planx-pla.net 1639178066
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge

#1795 Updating CI env with integration202201 qa-dcp.planx-pla.net 1639178337
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-google-googleServiceAccountTest

#1802 QAAnVIL_2.3.6_DD
  qa-anvil.planx-pla.net/manifest.json
Labels: test-apis-dataUploadTest
