Repository uc-cdis/gitops-qa, pull requests merged in 2021-04, with the labels that each got.

#1293 qa-ibd new DD release
  qa-ibd.planx-pla.net/manifest.json
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-sheepdogAndPeregrine-submitFileTest

#1302 updating the auto-label
  .github/auto-label.json
Labels: doc-only

#1312 chore(dashboard):update DAR form
  qa-niaid.planx-pla.net/dashboard/Public/files/NIAID Data Access Request FormSept2020revised.pdf
  qa-niaid.planx-pla.net/dashboard/Public/files/NIAID_DAR.pdf
  qa-niaid.planx-pla.net/portal/gitops.json
Labels: jenkins-niaid

#1315 Update etlMapping.yaml
  qa-dcp.planx-pla.net/etlMapping.yaml
  qa-dcp.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1282 add portal validation
  .travis.yml
Labels: jenkins-niaid

#1311 chore : Deploying 2021.03 to QA-NCT
  qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: jenkins-niaid

#1309 Updating QA Environment integration202105 qa-brain.planx-pla.net 1618329275
  qa-brain.planx-pla.net/manifest.json
  qa-brain.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge

#1314 Updating QA Environment integration202105 qa-ibd.planx-pla.net 1618423832
  qa-ibd.planx-pla.net/manifest.json
Labels: automerge

#1288 Sanity Check April Release 2021.04 qa-dcp.planx-pla.net 1617147585
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge, gen3-release

#1306 Display CNN_XRAY_CF notebook in Dashboard
  qa-covid19.planx-pla.net/dashboard/Public/notebooks/CNN_XRAY_CF.html
  qa-covid19.planx-pla.net/dashboard/Public/notebooks/CNN_XRAY_CF.png
  qa-covid19.planx-pla.net/dashboard/Public/notebooks/DarkCovidNet_binary_classes.html
  qa-covid19.planx-pla.net/dashboard/Public/notebooks/DarkCovidNet_binary_classes.png
  qa-covid19.planx-pla.net/portal/gitops.json
Labels: jenkins-niaid

#1321 modify CODEOWNERS for qabrain and qamickey
  CODEOWNERS
Labels: doc-only

#1322 Update the CODEOWNER file
  CODEOWNERS
Labels: doc-only

#1332 PXP-7787-add docs to topbar QA Acct
  qa-acct.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1334 Fix portal configs to pass tests
  jenkins-brain.planx-pla.net/portal/gitops.json
  jenkins-niaid.planx-pla.net/portal/gitops.json
  qa-dcfdemo.planx-pla.net/portal/gitops.json
  qa-niaid.planx-pla.net/portal/gitops.json
Labels: jenkins-niaid

#1310 Updating QA Environment integration202105 qa-dcp.planx-pla.net 1618329513
  qa-dcp.planx-pla.net/etlMapping.yaml
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
  qa-dcp.planx-pla.net/portal/gitops.json
Labels: gen3-release

#1339 Update gitops.json
  qa-dcp.planx-pla.net/portal/gitops.json
Labels: test-portal-dataUploadTest

#1340 QA_COVID_new DD release
  qa-covid19.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#1341 PXP-7787 - updates documentation-page acct
  qa-acct.planx-pla.net/dashboard/Public/documentation-page/index.css
  qa-acct.planx-pla.net/dashboard/Public/documentation-page/index.html
Labels: jenkins-niaid

#1348 Sanity checking May Release 2021.05 qa-dcp.planx-pla.net 1619710070
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-OAuth2Test
