Repository uc-cdis/gitops-qa, pull requests merged in 2021-05, with the labels that each got.

#1360 chore(qa): Update qaplanetv1
  qa.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#1363 update nb version
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-etlTest

#1365 HP-149 - QA-HEAL explorer config changes
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1371 Updating QA Anvil Environment 2021.04 qa-anvil.planx-pla.net 1620674324
  qa-anvil.planx-pla.net/manifest.json
  qa-anvil.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge

#1379 HP-127-removing filters QA HEAL
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1377 QA_JCOIN_etl_gitops
  qa-jcoin.planx-pla.net/etlMapping.yaml
  qa-jcoin.planx-pla.net/portal/gitops.json
Labels: test-apis-dataUploadTest

#1382 Update manifest.json
  qa-anvil.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#1385 Update etlMapping.yaml
  qa-anvil.planx-pla.net/etlMapping.yaml
Labels: test-portal-homepageTest

#1397 Updating QA Environment integration202106 qa-ibd.planx-pla.net 1621355777
  qa-ibd.planx-pla.net/manifest.json
Labels: automerge

#1394 Updating QA Environment integration202106 qa-dcp.planx-pla.net 1621265383
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge, gen3-release

#1396 Updating QA Environment integration202106 qa-brain.planx-pla.net 1621352850
  qa-brain.planx-pla.net/manifest.json
  qa-brain.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge

#1405 notebook-browser-heal
  qa-heal.planx-pla.net/dashboard/notebooks/HEAL_Workspace_Demo_BACPAC.html
  qa-heal.planx-pla.net/dashboard/notebooks/HEAL_Workspace_Demo_BACPAC.png
  qa-heal.planx-pla.net/dashboard/notebooks/NORC_JCOIN_data_demo.html
  qa-heal.planx-pla.net/dashboard/notebooks/NORC_JCOIN_notebook.png
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-portal-dataUploadTest

#1408 Update gitops.json
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1411 chore (release-update) : deploy 2021.04 to QA-JCOIN
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-dataUploadTest

#1414 chore(release-update) : deploy integrationbranch202106 to QA-IBD
  qa-ibd.planx-pla.net/manifest.json
Labels: gen3-release

#1419 qa-heal: add audit service
  qa-heal.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#1420 chore: update etlMapping and portal config for IDPH-Vaccine
  qa-covid19.planx-pla.net/etlMapping.yaml
  qa-covid19.planx-pla.net/portal/gitops.json
Labels: test-portal-dataUploadTest
