Repository uc-cdis/gitops-qa, pull requests merged in 2021-09, with the labels that each got.

#1612 Adding ACTT-3 DD and DUL pdfs
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTT-3 Data Dictionary.pdf
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTT-3 Data Use Limitations.pdf
Labels: test-apis-auditServiceTest

#1615 upgrade versions to 2021.08 on qa-heal
  qa-heal.planx-pla.net/manifest.json
Labels: test-apis-auditServiceTest

#1616 HP-542 - chore/update help desk email on HEAL.
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1619 chore : Deploy audit_service to QA JCOIN
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/fence/fence-config-public.yaml
Labels: test-apis-centralizedAuth, test-guppy-guppyTest, test-apis-auditServiceTest

#1617 upgrade qa-heal to 2021.09
  qa-heal.planx-pla.net/manifest.json
Labels: test-guppy-guppyTest, test-apis-auditServiceTest, test-apis-aggMDSTest, test-portal-discoveryPageTest

#1621 updates
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.html
Labels: test-portal-homepageTest

#1620 Update gitops.json
  qa-covid19.planx-pla.net/portal/gitops.json
Labels: test-apis-centralizedAuth

#1622 HEAL: new jcoin and bacpac nb
  qa-heal.planx-pla.net/dashboard/Public/notebooks/JCOIN_Tracking_Opioid_Stigma.html
  qa-heal.planx-pla.net/dashboard/Public/notebooks/JCOIN_Tracking_Opioid_Stigma.png
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-apis-aggMDSTest

#1624 Add "loginForDownload": true to qa-midrc portal
  qa-midrc.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1626 use v1.1 of aws-es-proxy
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-new.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifest.json
Labels: test-apis-aggMDSTest

#1627 deploying 2021.09 to QA NCT
  qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-studyViewerTest

#1630 HP-554 - heal Change tag "clinicaltrials" into "clinicaltrials.gov"
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Labels: test-portal-homepageTest

#1632 HP-566 - Change gitops HEAL to show new tag categories
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1634 Do not show Other category
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1635 PXP-6400 - JCOIN deploy Notebook Browser
  qa-jcoin.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1636 PXP-6400 - update
  qa-jcoin.planx-pla.net/dashboard/Public/notebooks/placeholder.png
  qa-jcoin.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1637 Update gitops.json
  qa-jcoin.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1639 deploy release 2021.09 and audit-service to QA IBD
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/fence/fence-public-config.yaml
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#1640 HEAL documentation updates
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/data_resources.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/grid_notebooks_color.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/healdataorg_login.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/notebook_browser_run_cell.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/static_notebook_bacpac_demo.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/static_notebook_bacpac_demo_1.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/static_notebooks_landing.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_data_folder.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_flavors.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_flavors__.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_login_other_commons_discovery.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_login_other_commons_top_banner.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_placeholder.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_placeholder_guid.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_shutdown_sign_1.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_shutdown_sign_2.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_terminal.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_terminal_download.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_terminal_downloaded.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.css
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.html
Labels: test-portal-homepageTest

#1646 fix : name of the fence config public file
  qa-ibd.planx-pla.net/manifests/fence/fence-config-public.yaml
Labels: test-portal-homepageTest

#1648 tiny edit
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.html
Labels: test-portal-homepageTest

#1651 HEAL: test jcoin nb sdk version
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-centralizedAuth, test-apis-auditServiceTest

#1653 HP-579 - Update aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Labels: test-portal-homepageTest

#1652 Feat/qa heal
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.css
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-apis-centralizedAuth

#1649 added serious adverse event node ETL
  qa-jcoin.planx-pla.net/etlMapping.yaml
  qa-jcoin.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#1660 HP-538 - docs heal update
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/static_notebook_bacpac_manifestname.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.html
Labels: test-portal-homepageTest
