Repository uc-cdis/gitops-qa, pull requests merged in 2021-02, with the labels that each got.

#1187 QA ACCOUNT Release 2021.01 qa-acct.planx-pla.net 1612300923
  qa-acct.planx-pla.net/manifest.json
Labels: test-portal-dataUploadTest

#1196 feat: controlled access index, index-scoped tiered-access, data explorer
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-apis-etlTest, test-portal-homepageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1202 [PXP-7604] - new color palette qa acct
  qa-acct.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1205 new icons and tab color
  qa-acct.planx-pla.net/manifest.json
  qa-acct.planx-pla.net/portal/gitops.css
  qa-acct.planx-pla.net/portal/gitops.json
Labels: test-portal-dataUploadTest

#1214 Feat/qa heal controlled access data
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-apis-etlTest, test-portal-homepageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1215 Chore/update qa dcp
  qa-dcp.planx-pla.net/etlMapping.yaml
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-etlTest, test-portal-homepageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1225 Feat/qa heal discovery page
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-apis-etlTest, test-portal-homepageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1221 New DD in PRC - QA
  qa-covid19.planx-pla.net/manifest.json
Labels: test-portal-dataUploadTest, test-portal-homepageTest, test-portal-rasAuthN, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-sheepdogAndPeregrine-submitFileTest

#1226 Add discovery button to qa-heal navbar
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-apis-etlTest, test-portal-homepageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1227 icons change for qa-heal tabs
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-apis-etlTest, test-portal-homepageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1219 Sanity checking March Release integration202103 qa-ibd.planx-pla.net 1613589144
  qa-ibd.planx-pla.net/manifest.json
Labels: automerge

#1218 Sanity checking March Release integration202103 qa-brain.planx-pla.net 1613588988
  qa-brain.planx-pla.net/manifest.json
  qa-brain.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge

#1229 chore: hide midrc submission
  qa-midrc.planx-pla.net/portal/gitops.css
Labels: test-apis-centralizedAuth, test-apis-cleverSafeTest, test-apis-drsEndpointsTest, test-apis-etlTest, test-apis-presignedUrlTest, test-apis-userTokenTest, test-guppy-guppyTest, test-pidgin-getCoremetadataTest, test-portal-coremetadatapageTest, test-portal-homepageTest, test-portal-loginPageTest, test-portal-rasAuthN, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-sheepdogAndPeregrine-submitFileTest

#1230 update manifest
  qa-mickey.planx-pla.net/manifest.json
  qa-mickey.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-pidgin-getCoremetadataTest

#1217 Sanity checking March Release integration202103 qa-dcp.planx-pla.net 1613588987
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#1238 Chore/qa mickey
  .secrets.baseline
  qa-mickey.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-pidgin-getCoremetadataTest
