Repository uc-cdis/gitops-qa, pull requests merged in 2021-06, with the labels that each got.

#1422 Updating QA-NCT to 2021.04 + fence 4.29.1
  qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: jenkins-niaid

#1430 Apply file_count fix to qa-anvil
  qa-anvil.planx-pla.net/etlMapping.yaml
  qa-anvil.planx-pla.net/portal/gitops.json
Labels: jenkins-niaid

#1428 2021.06 Sanity Check 2021.06 qa-dcp.planx-pla.net 1622667300
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge, gen3-release

#1429 chore (fence-config): adding fence-config-public to QA_NCT
  qa-niaid.planx-pla.net/manifests/fence/fence-config-public.yaml
Labels: jenkins-niaid

#1434 Config changes for new study page
  qa-heal.planx-pla.net/portal/gitops.json
Labels: jenkins-niaid

#1435 Update fence version in qa-mickey
  qa-mickey.planx-pla.net/manifest.json
Labels: test-apis-userTokenTest, test-pidgin-getCoremetadataTest

#1441 Updating QA Environment 2021.06 qa-anvil.planx-pla.net 1623432735
  qa-anvil.planx-pla.net/manifest.json
  qa-anvil.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge

#1443 Updating to audit-service 1.0.0 + fence 5.1.0
  qa-niaid.planx-pla.net/manifest.json
Labels: jenkins-niaid

#1442 Updating the fence-config-public to add new field
  qa-niaid.planx-pla.net/manifests/fence/fence-config-public.yaml
Labels: jenkins-niaid

#1446 Test monthly release 2021.06 qa-heal.planx-pla.net 1623861140
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge

#1453 change portal version and config, fix notebook name
  .secrets.baseline
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1454 Update hatchery.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#1455 NCT Fence 5.2.1
  qa-niaid.planx-pla.net/manifest.json
Labels: jenkins-niaid

#1448 Release Testing PR integration202107 qa-dcp.planx-pla.net 1623946554
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge, test-apis-dbgapTest, test-google-googleServiceAccountKeyTest, test-guppy-guppyTest, test-pidgin-getCoremetadataTest, test-portal-coremetadatapageTest, test-portal-homepageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-sheepdogAndPeregrine-submitFileTest

#1456 chore(ancestor): set frame ancestor for jc/bacpac
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: jenkins-niaid

#1461 Update gitops.json qa heal static notebooks title change
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1459 Sanity Checking July images 2021.07 qa-dcp.planx-pla.net 1624398182
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge

#1469 heal bundle with no home
  qa-heal.planx-pla.net/manifest.json
Labels: test-google-googleDataAccessTest
