Repository uc-cdis/gitops-qa, pull requests merged in 2021-11, with the labels that each got.

#1734 deploying new data-portal for systemUseMessage fix
  qa-midrc.planx-pla.net/manifest.json
Labels: test-portal-dataUploadTest, test-portal-coremetadatapageTest

#1737 HP-591 - Update aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Labels: test-apis-dataUploadTest

#1739 HP-591 - Update aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Labels: test-portal-homepageTest

#1740 HP-591 - Update aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Labels: test-portal-homepageTest

#1736 feat add gateway ip
  qa-mickey.planx-pla.net/manifest.json
  qa-mickey.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest, test-portal-dataUploadTest, test-portal-coremetadatapageTest

#1746 Style/update niaid portal css
  qa-niaid.planx-pla.net/portal/gitops.css
  qa-niaid.planx-pla.net/portal/gitops.json
Labels: jenkins-niaid

#1738 Move all qa envs behind VPN
  qa-acct.planx-pla.net/manifest.json
  qa-aids.planx-pla.net/manifest.json
  qa-anvil.planx-pla.net/manifest.json
  qa-bloodpac.planx-pla.net/manifest.json
  qa-brain.planx-pla.net/manifest.json
  qa-canine.planx-pla.net/manifest.json
  qa-covid19.planx-pla.net/manifest.json
  qa-dcf.planx-pla.net/manifest.json
  qa-dcfdemo.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifest.json
  qa-flu.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifest.json
  qa-kidsfirst.planx-pla.net/manifest.json
  qa-mickey.planx-pla.net/manifest.json
  qa-microbiome.planx-pla.net/manifest.json
  qa-midrc.planx-pla.net/manifest.json
  qa-nde.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifest.json
  qa-tb.planx-pla.net/manifest.json
  qa.planx-pla.net/manifest.json
  qaplanetv2.planx-pla.net/manifest.json
Labels: jenkins-niaid

#1752 style/update_niaid-portal-css: add updates to homepage and point data portal back to master branch
  qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/portal/gitops.json
Labels: jenkins-niaid

#1758 Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Labels: test-apis-centralizedAuth, test-apis-metadataIngestionTest

#1751 chore: deploy 2021.11 to QA-KF
  qa-kidsfirst.planx-pla.net/manifest.json
Labels: jenkins-genomel

#1762 HEAL QA - using 2021.11 version
  qa-heal.planx-pla.net/manifest.json
Labels: test-apis-auditServiceTest

#1774 PXP-9088-4
  qa-niaid.planx-pla.net/etlMapping.yaml
  qa-niaid.planx-pla.net/portal/gitops.json
Labels: test-apis-dataUploadTest

#1775 PXP-9088-5
  qa-niaid.planx-pla.net/portal/gitops.json
Labels: test-apis-dataUploadTest

#1776 PXP-9088-6
  qa-niaid.planx-pla.net/portal/gitops.json
Labels: test-apis-dataUploadTest

#1777 feat(qa-dcf): updates for RAS deployment
  qa-dcf.planx-pla.net/manifest.json
  qa-dcf.planx-pla.net/manifests/cronjobs/cronjobs.json
  qa-dcf.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1781 (chore) rename qa-dcf.planx-pla.net to ctds-test-env.planx-pla.net
  ctds-test-env.planx-pla.net/manifest.json
  ctds-test-env.planx-pla.net/manifests/cronjobs/cronjobs.json
  ctds-test-env.planx-pla.net/manifests/scaling/scaling.json
  ctds-test-env.planx-pla.net/portal/gitops-favicon.ico
  ctds-test-env.planx-pla.net/portal/gitops-logo.png
  ctds-test-env.planx-pla.net/portal/gitops-sponsors/nhlbi.png
  ctds-test-env.planx-pla.net/portal/gitops.css
  ctds-test-env.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest
