Repository uc-cdis/gitops-qa, pull requests merged in 2021-01, with the labels that each got.

#1132 IBD-QA_DD_1.3.1
  qa-ibd.planx-pla.net/manifest.json
Labels: test-portal-dataUploadTest

#1133 DD 1.4.0 release IBDGC QA
  qa-ibd.planx-pla.net/manifest.json
Labels: test-portal-dataUploadTest

#1142 IBDGC DD 1.5.1 PATCH release CMC links fixed
  qa-ibd.planx-pla.net/manifest.json
Labels: test-apis-dataUploadTest, test-apis-drsEndpointsTest, test-portal-dataUploadTest

#1144 chore(niaid): dispatcher_num in global
  qa-niaid.planx-pla.net/manifest.json
Labels: doc-only

#1143 QA DD 1.5.2 release IBDGC
  qa-ibd.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#1146 chore(portal): add units and props to table
  qa-covid19.planx-pla.net/portal/gitops.json
Labels: test-apis-centralizedAuth

#1145 feat: change "Downloadable" tab to file type
  qa-anvil.planx-pla.net/etlMapping.yaml
  qa-anvil.planx-pla.net/portal/gitops.json
Labels: test-apis-dataUploadTest, test-portal-dataUploadTest

#1140 chore(release): Test 2021.01 in qa-ibd
  qa-ibd.planx-pla.net/manifest.json
Labels: test-apis-dataUploadTest, test-portal-dataUploadTest

#1151 Updating QA Environment integration202102 qa-dcp.planx-pla.net 1610644744
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge

#1154 Updating QA Environment integration202102 qa-ibd.planx-pla.net 1610645512
  qa-ibd.planx-pla.net/manifest.json
Labels: automerge

#1157 Feat/qa mickey
  qa-mickey.planx-pla.net/manifest.json
  qa-mickey.planx-pla.net/portal/gitops.json
Labels: test-pidgin-getCoremetadataTest

#1153 Updating QA Environment integration202102 qa-brain.planx-pla.net 1610645392
  qa-brain.planx-pla.net/manifest.json
  qa-brain.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge, test-portal-homepageTest

#1155 chore: updating QA-COVID19 to 2021.01 release version
  qa-covid19.planx-pla.net/manifest.json
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-dataUploadTest

#1161 chore(qa): Adjust scaling settings for portal and presigned url fence pods
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifest.json
Labels: automerge

#1163 fix(ci): fix autoscaling config for jenkins envs
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifest.json
Labels: automerge

#1162 libre update
  qa-midrc.planx-pla.net/manifest.json
Labels: test-portal-dataUploadTest

#1167 chore/update_covid19-portal: update covid19 data-portal image to 2.43.0
  qa-covid19.planx-pla.net/manifest.json
Labels: test-portal-dataUploadTest

#1171 HP-20 - DD 1.1.0 HEAL in QA
  qa-heal.planx-pla.net/manifest.json
Labels: test-apis-etlTest, test-portal-homepageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1169 chore(manifest):update portal version
  qa-niaid.planx-pla.net/manifest.json
Labels: test-apis-dataUploadTest

#1172 adding CODEOWNER for qa-heal
  CODEOWNERS
Labels: doc-only

#1177 HP 20 - adding ETL mapping props to heal QA
  qa-heal.planx-pla.net/etlMapping.yaml
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-apis-etlTest, test-portal-homepageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest
