Repository uc-cdis/gitops-qa, pull requests merged in 2021-08, with the labels that each got.

#1546 Change section heading "Data Access Agreements" to "Data Access"
  qa-niaid.planx-pla.net/portal/gitops.json
Labels: jenkins-niaid

#1541 Upgrading Requestor in QA Niaid to 1.4.0
  qa-niaid.planx-pla.net/manifest.json
Labels: jenkins-niaid

#1547 update port for Jupyter containers
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-pidgin-getCoremetadataTest, test-portal-coremetadatapageTest

#1549 Chore(qa): Make jenkins envs compliant with mariner
  jenkins-blood.planx-pla.net/manifests/mariner/mariner.json
  jenkins-brain.planx-pla.net/manifests/mariner/mariner.json
  jenkins-dcp.planx-pla.net/manifests/mariner/mariner.json
  jenkins-genomel.planx-pla.net/manifests/mariner/mariner.json
  jenkins-new.planx-pla.net/manifests/mariner/mariner.json
  jenkins-niaid.planx-pla.net/manifests/mariner/mariner.json
Labels: test-guppy-guppyTest

#1553 Add updated study note to QA-NIAID home page
  qa-niaid.planx-pla.net/portal/gitops.json
Labels: jenkins-niaid, test-portal-studyViewerTest

#1555 Update text on NIAID landing page in QA
  qa-niaid.planx-pla.net/portal/gitops.json
Labels: jenkins-niaid

#1558 qa-heal remove gen3documentation link
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1560 Update gitops.json
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1562 Update gitops.json
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1550 Fix/heal ws
  .secrets.baseline
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-etlTest

#1559 Disable adv search filters
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-apis-auditServiceTest

#1573 test/niaidHPwebform: load test form to QA
  qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/portal/gitops.json
Labels: jenkins-niaid

#1566 chore: Add StudyViewer to jenkins-genomel
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/portal/gitops.json
Labels: jenkins-genomel, test-portal-studyViewerTest

#1577 HP-362 - Update documentation in HEAL
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/access_NO.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/data_resources.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/discovery_features.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/discovery_options.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/discovery_select_and_open_in_workspace.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/download_discovery_prepared_1.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_flavors__.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_login_other_commons.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_login_other_commons_grey.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.html
Labels: test-portal-homepageTest

#1575 Revert "test/niaidHPwebform: load test form to QA"
  qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/portal/gitops.json
Labels: jenkins-niaid

#1580 HP-362 - fix/image size
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.html
Labels: test-portal-homepageTest

#1579 chore(enable-study-viewer): Enable StudyViewer config for jenkins-dcp
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest, test-apis-etlTest

#1582 deploy studyViewer to jenkins_new
  jenkins-new.planx-pla.net/manifest.json
  jenkins-new.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest, test-apis-etlTest, jenkins-new

#1581 enable studyviewer in jenkins-brain
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/portal/gitops.json
Labels: jenkins-brain, test-portal-homepageTest, test-apis-etlTest

#1578 deploy studyViewer to jenkins_blood
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-blood.planx-pla.net/portal/gitops.json
Labels: jenkins-blood, test-portal-homepageTest, test-apis-etlTest

#1551 Feat/ibd studyviewer
  .secrets.baseline
  qa-ibd.planx-pla.net/etlMapping.yaml
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1586 chore/update_niaid-portal: update niaid data-portal image to 3.6.0
  qa-niaid.planx-pla.net/manifest.json
Labels: jenkins-niaid

#1567 chore: Deploy audit-service to QA-PRC
  qa-covid19.planx-pla.net/manifest.json
  qa-covid19.planx-pla.net/manifests/fence/fence-config-public.yaml
Labels: test-apis-centralizedAuth, test-apis-auditServiceTest

#1591 Update url for ibd-study-viewer
  qa-ibd.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1585 Agg MDS config.
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-blood.planx-pla.net/metadata/aggregate_config.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/metadata/aggregate_config.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/metadata/aggregate_config.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/metadata/aggregate_config.json
  jenkins-new.planx-pla.net/manifest.json
  jenkins-new.planx-pla.net/metadata/aggregate_config.json
  jenkins-niaid.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/metadata/aggregate_config.json
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/metadata/aggregate_config.json
Labels: jenkins-dcp, test-portal-homepageTest

#1600 Release Testing PR integration202109 qa-ibd.planx-pla.net 1629750339
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-indexingPageTest, test-sheepdogAndPeregrine-submitFileTest, test-portal-rasAuthN, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1607 test
  jenkins-blood.planx-pla.net/portal/gitops.json
  jenkins-brain.planx-pla.net/portal/gitops.json
  jenkins-dcp.planx-pla.net/portal/gitops.json
  jenkins-genomel.planx-pla.net/portal/gitops.json
  jenkins-new.planx-pla.net/portal/gitops.json
  jenkins-niaid.planx-pla.net/portal/gitops.json
Labels: test-apis-aggMDSTest, test-portal-discoveryPageTest
