Repository uc-cdis/gitops-qa, pull requests merged in 2021-03, with the labels that each got.

#1243 fix etlmapping
  qa-covid19.planx-pla.net/etlMapping.yaml
Labels: test-apis-etlTest

#1249 chore(ci): Remove dashboard from jenkins-niaid
  jenkins-niaid.planx-pla.net/manifest.json
Labels: automerge, test-portal-homepageTest

#1251 Updating QA Environment 2021.03 qa-acct.planx-pla.net 1615308706
  qa-acct.planx-pla.net/manifest.json
Labels: automerge

#1255 Feat/qa heal workspaces
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-etlTest, test-portal-homepageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1254 HP-92 - Update Discovery Page config QA HEAL
  qa-heal.planx-pla.net/portal/gitops-logo.png
  qa-heal.planx-pla.net/portal/gitops-sponsors/gene_heal.svg
  qa-heal.planx-pla.net/portal/gitops.css
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-apis-etlTest, test-portal-homepageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1247 chore(PXP-7818): removing Browse Data from Navigation bar
  qa-midrc.planx-pla.net/portal/gitops.json
Labels: test-portal-dataUploadTest

#1262 remove explorer from QA-HEAL
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-apis-etlTest, test-portal-homepageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1265 chore(heal): update available modules
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-apis-etlTest, test-portal-homepageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1267 remove the auto-label file
  .github/auto-label.json
Labels: doc-only

#1237 chore:Enabling study-viewer in jenkins-niaid
  jenkins-niaid.planx-pla.net/etlMapping.yaml
  jenkins-niaid.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/portal/gitops.json
Labels: jenkins-niaid, test-apis-etlTest, test-portal-homepageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1269 IBD and JCOIN: Use arborist UI on profile page
  qa-ibd.planx-pla.net/portal/gitops.json
  qa-jcoin.planx-pla.net/portal/gitops.json
Labels: test-portal-rasAuthN

#1268 chore/update_covid19-portal: update covid19 data-portal image to 2.48.0
  qa-covid19.planx-pla.net/manifest.json
  qa-covid19.planx-pla.net/portal/gitops.css
Labels: test-portal-rasAuthN

#1264 Sanity checking April Release integration202104 qa-dcp.planx-pla.net 1616076514
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-rasAuthN

#1263 feat: deploy mds and discovery page
  .secrets.baseline
  qa-bloodpac.planx-pla.net/etlMapping.yaml
  qa-bloodpac.planx-pla.net/manifest.json
  qa-bloodpac.planx-pla.net/portal/gitops.css
  qa-bloodpac.planx-pla.net/portal/gitops.json
Labels: jenkins-brain, test-portal-homepageTest, test-portal-landingPageButtonsTest

#1284 PXP-7939 feat: add novnc workspace
  .secrets.baseline
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest
