Repository uc-cdis/gitops-qa, pull requests merged in 2021-07, with the labels that each got.

#1473 Gen3 Monthly Release 2021.07 qa-heal.planx-pla.net 1625147491
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge

#1474 HP-205 - docs-implement
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/NIH_HEAL_header.jpg
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/access_NO.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/access_YES.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/access_box_1.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/access_box_select_window.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/access_boxes_3.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/access_greyed_out_box.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/createdby.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/discovery_adv_search.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/discovery_exporting_to_workspace.gif
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/discovery_landing.gif
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/discovery_select_and_open_in_workspace.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/discovery_select_study_download_manifest.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/discovery_study_page.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/discovery_study_page_datafiles.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/gen3.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/grid_discovery.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/grid_discovery_color.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/grid_login.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/grid_login_color.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/grid_notebooks.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/grid_notebooks_color.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/grid_profile.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/grid_profile_color.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/grid_workspace.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/grid_workspace_color.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/heal_logo.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/healdataorg_login.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/notebook_browser_run_cell.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/profile_APIkey.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/profile_APIkey_active.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/profile_APIkey_created.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/profile_access.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/static_notebook_bacpac.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/static_notebook_bacpac_demo.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/static_notebook_bacpac_demo_1.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/static_notebook_bacpac_manifestname.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/static_notebook_jcoin_manifestname.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/static_notebook_jcoin_study_1.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/static_notebooks_landing.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_data_folder.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_download.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_flavors_.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_launch.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_new.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_stata_0.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_terminate_2.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_upload.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.css
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.html
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1479 update portal config
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1470 chore: deploying 2021.07 to QA_NCT
  qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#1485 display tag cat names
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1487 aws-es-proxy Quay image
  .secrets.baseline
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifest.json
  qa-acct.planx-pla.net/manifest.json
  qa-aids.planx-pla.net/manifest.json
  qa-anvil.planx-pla.net/manifest.json
  qa-bloodpac.planx-pla.net/manifest.json
  qa-brain.planx-pla.net/manifest.json
  qa-canine.planx-pla.net/manifest.json
  qa-covid19.planx-pla.net/manifest.json
  qa-dcf.planx-pla.net/manifest.json
  qa-dcfdemo.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifest.json
  qa-flu.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifest.json
  qa-mickey.planx-pla.net/manifest.json
  qa-microbiome.planx-pla.net/manifest.json
  qa-midrc.planx-pla.net/manifest.json
  qa-nde.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifest.json
  qa-tb.planx-pla.net/manifest.json
  qa.planx-pla.net/manifest.json
  qaplanetv2.planx-pla.net/manifest.json
Labels: test-guppy-guppyTest

#1484 update hatchery for qa IBD
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: jenkins-niaid

#1496 chore(ci): Introduce 6th jenkins env (experiment)
  jenkins-new.planx-pla.net/etlMapping.yaml
  jenkins-new.planx-pla.net/manifest.json
  jenkins-new.planx-pla.net/manifests/fence/fence-config-public.yaml
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new.planx-pla.net/manifests/mariner/mariner.json
  jenkins-new.planx-pla.net/portal/gitops-createdby.png
  jenkins-new.planx-pla.net/portal/gitops-favicon.ico
  jenkins-new.planx-pla.net/portal/gitops-logo.png
  jenkins-new.planx-pla.net/portal/gitops.css
  jenkins-new.planx-pla.net/portal/gitops.json
  jenkins-new.planx-pla.net/portal/portal/gitops-favicon.ico
  jenkins-new.planx-pla.net/portal/portal/gitops-logo.png
  jenkins-new.planx-pla.net/portal/portal/gitops.css
  jenkins-new.planx-pla.net/portal/portal/gitops.json
Labels: test-portal-homepageTest

#1501 Add Commons tag to qa-heal
  qa-heal.planx-pla.net/portal/gitops.json
Labels: doc-only

#1503 Add adv search filters; enable search over dictionary field
  qa-heal.planx-pla.net/portal/gitops.json
Labels: doc-only

#1517 chore(jenkins-dcp): Fix dd + etlMapping + gitops.json
  jenkins-dcp.planx-pla.net/etlMapping.yaml
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/portal/gitops.json
Labels: jenkins-dcp, test-apis-etlTest, test-portal-homepageTest

#1515 Release Testing PR integration202108 qa-dcp.planx-pla.net 1626279482
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-exportToWorkspaceTest, test-apis-linkGoogleAccountTest, test-google-googleServiceAccountRemovalTest, test-google-googleServiceAccountTest

#1532 HP-304 - update docs links
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.html
Labels: test-portal-homepageTest

#1533 HP-304 - edits after first review
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/discovery_select_study_download_manifest.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/static_notebook_bacpac.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/static_notebook_jcoin_study_1.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_launch.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.css
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.html
Labels: test-portal-homepageTest

#1534 HP-304 - HEAL docs - update one note
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.html
Labels: test-portal-homepageTest

#1536 chore(ci): Enable PFB Export test for jenkins-brain
  jenkins-brain.planx-pla.net/etlMapping.yaml
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/portal/gitops-createdby.png
  jenkins-brain.planx-pla.net/portal/gitops-favicon.ico
  jenkins-brain.planx-pla.net/portal/gitops-logo.png
  jenkins-brain.planx-pla.net/portal/gitops-sponsors/cvb.png
  jenkins-brain.planx-pla.net/portal/gitops.css
  jenkins-brain.planx-pla.net/portal/gitops.json
  jenkins-dcp.planx-pla.net/manifest.json
Labels: jenkins-brain, test-guppy-guppyTest

#1537 chore(ci): Enable PFB Export test for jenkins-blood
  jenkins-blood.planx-pla.net/etlMapping.yaml
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-blood.planx-pla.net/portal/gitops.css
  jenkins-blood.planx-pla.net/portal/gitops.json
  jenkins-brain.planx-pla.net/portal/gitops.json
Labels: jenkins-blood, test-guppy-guppyTest

#1514 Release Testing PR integration202108 qa-ibd.planx-pla.net 1626279482
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: automerge

#1525 chore(release-update) : deploy 2021.07 to QA-JCOIN
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-pidgin-getCoremetadataTest

#1538 Fix broken url in Homepage
  qa-niaid.planx-pla.net/portal/gitops.json
Labels: jenkins-niaid

#1539 Update qa-niaid requestor version to 1.4.0
  qa-niaid.planx-pla.net/manifest.json
Labels: jenkins-niaid

#1540 Revert "Update qa-niaid requestor version to 1.4.0"
  qa-niaid.planx-pla.net/manifest.json
Labels: jenkins-niaid, test-portal-studyViewerTest
