Repository uc-cdis/gitops-qa, pull requests merged in 2022-03, with the labels that each got.

#1892 HP-638 - new metadata release heal
  qa-heal.planx-pla.net/manifest.json
Labels: test-apis-aggMDSTest

#1885 Updating CI env with 2022.02 qa-jcoin.planx-pla.net 1645732084
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#1897 Improve workspace spin up
  .secrets.baseline
  jenkins-blood.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-brain.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-dcp.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#1894 Gen3 Monthly Release 2022.03 qa-heal.planx-pla.net 1646242662
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#1898 Updating CI env with 2022.03 qa-kidsfirst.planx-pla.net 1646326446
  qa-kidsfirst.planx-pla.net/manifest.json
Labels: test-apis-centralizedAuth

#1900 Updating CI env with 2022.03 qa-ibd.planx-pla.net 1646669971
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#1901 Update manifest.json
  qa-covid19.planx-pla.net/manifest.json
Labels: test-apis-centralizedAuth

#1905 Updating CI env with 2022.03 qa-niaid.planx-pla.net 1646764329
  qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-studyViewerTest

#1906 Updating CI env with 2022.03 qa-jcoin.planx-pla.net 1646764331
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#1907 Updating CI env with 2022.03 qa-covid19.planx-pla.net 1646764731
  qa-covid19.planx-pla.net/manifest.json
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#1913 qa-midrc: deploy dicom viewer link in explorer
  qa-midrc.planx-pla.net/manifest.json
  qa-midrc.planx-pla.net/portal/gitops.json
Labels: test-portal-registerUserTest

#1917 Updating CI env with integration202204 qa-ibd.planx-pla.net 1647546893
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-OAuth2Test, test-apis-dbgapTest, test-google-googleServiceAccountRemovalTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-apis-requestorTest

#1916 Updating CI env with integration202204 qa-dcp.planx-pla.net 1647543787
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#1919 Gen3 Monthly Release 2022.03 qa-midrc.planx-pla.net 1647880413
  qa-midrc.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#1922 Updating CI env with 2022.03 qa.planx-pla.net 1648055466
  qa.planx-pla.net/manifest.json
Labels: gen3-release
