Repository uc-cdis/gitops-qa, pull requests merged in 2022-01, with the labels that each got.

#1816 HEAL - join tutorials into one workspace
  .secrets.baseline
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#1817 Increase Dataportal version in QA-niaid
  qa-niaid.planx-pla.net/manifest.json
Labels: test-guppy-guppyTest

#1828 Fix previous image tag
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-pidgin-getCoremetadataTest, test-apis-centralizedAuth

#1824 Updating CI env with integration202202 qa-dcp.planx-pla.net 1642615149
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-dbgapTest

#1825 Updating CI env with integration202202 qa-ibd.planx-pla.net 1642615222
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#1831 HP-655 - QA for additional PDAPS to heal aggregate config
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Labels: test-apis-dataUploadTest

#1839 fix hatchery manifest in qa-heal
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#1840 HP-655 - delete pdaps duplicates
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Labels: test-apis-dataUploadTest
