Repository uc-cdis/gitops-qa, pull requests merged in 2022-06, with the labels that each got.

#2034 Add tube back to qa.planx-pla.net
  qa.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#2039 update gitops.json - PXP-100102
  qa-niaid.planx-pla.net/portal/gitops.json
Labels: test-portal-studyViewerTest

#2042 Update jupyter-covid19.yaml
  qa-covid19.planx-pla.net/manifests/hatchery/jupyter-covid19.yaml
Labels: test-apis-etlTest

#2062 Updating CI env with integration202207 qa-dcp.planx-pla.net 1655395870
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#2063 Updating CI env with integration202207 qa-ibd.planx-pla.net 1655395871
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#2070 Updating CI env with 2022.07 qa-dcp.planx-pla.net 1656088764
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-centralizedAuth, test-apis-dbgapTest

#2055 Updating CI env with 2022.06 qa-niaid.planx-pla.net 1655220262
  qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest
