Repository uc-cdis/gitops-qa, pull requests merged in 2022-10, with the labels that each got.

#2212 new ws image tag
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#2210 Updating Env qa-dcp.planx-pla.net - 2022.10 1664555927
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-etlTest

#2219 Updating Env qa-ibd.planx-pla.net - 2022.10 1665075351
  qa-ibd.planx-pla.net/manifest.json
Labels: test-apis-etlTest

#2220 Updating Env qa-dcp.planx-pla.net - 2022.10 1665083570
  qa-dcp.planx-pla.net/manifest.json
Labels: test-apis-etlTest

#2222 Updating Env qa-niaid.planx-pla.net - 2022.10 1665085285
  qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-etlTest

#2221 Updating Env qa-kidsfirst.planx-pla.net - 2022.10 1665085284
  qa-kidsfirst.planx-pla.net/manifest.json
Labels: test-apis-centralizedAuth

#2226 Deploying qa-brh.planx-pla.net - 2022.09 1665512168
  qa-brh.planx-pla.net/manifest.json
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-dbgapTest, test-apis-userTokenTest

#2229 QA-heal ct.gov cedar fixes
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#2232 Gen3 Monthly Release 2022.10 qa-heal.planx-pla.net 1665757027
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-metadataIngestionTest

#2234 Updating Env qa-ibd.planx-pla.net - integration202211 1666100015
  qa-ibd.planx-pla.net/etlMapping.yaml
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-etlTest

#2238 Updating Env qa-jcoin.planx-pla.net - 2022.10 1666297731
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-google-googleDataAccessTest

#2155 change HEAL's aggMDS to use agg_server_paging
  .secrets.baseline
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-portal-discoveryPageTest

#2236 Updating Env qa-covid19.planx-pla.net - 2022.10 1666277894
  qa-covid19.planx-pla.net/manifest.json
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#2239 Updating MDS to 2.0.0 in qa-brh
  qa-brh.planx-pla.net/manifest.json
Labels: test-apis-centralizedAuth

#2242 Fix/hatchery ecs
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#2243 Updating Env with 2022.11 qa-ibd.planx-pla.net - 2022.11 1666993972
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release
