Repository uc-cdis/gitops-qa, pull requests merged in 2022-08, with the labels that each got.

#2124 Gen3 Monthly Release 2022.08 qa-heal.planx-pla.net 1659103246
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: jenkins-dcp, test-portal-discoveryPageTest

#2126 Update gitops.json
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#2130 Updating Env qa-kidsfirst.planx-pla.net - 2022.08 1659543994
  qa-kidsfirst.planx-pla.net/manifest.json
Labels: gen3-release

#2141 bumping cedar wrapper to 0.1.3
  qa-heal.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#2145 add default values for _subject_count for all commons in brh
  qa-brh.planx-pla.net/metadata/aggregate_config.json
Labels: test-apis-aggMDSTest

#2146 Updating Env qa-dcp.planx-pla.net - integration202209 1660587275
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-google-googleServiceAccountKeyTest

#2147 Updating Env qa-ibd.planx-pla.net - integration202209 1660590697
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-google-googleServiceAccountKeyTest

#2152 qa-heal MDs to 1.8.0
  qa-heal.planx-pla.net/manifest.json
Labels: jenkins-dcp, test-portal-discoveryPageTest

#2153 updated HEAL aggregate_config.json
  .secrets.baseline
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Labels: test-portal-homepageTest, test-portal-indexingPageTest, test-portal-discoveryPageTest, test-portal-gen3ffLandingPageTest

#2159 Gen3 Monthly Release 2022.08 qa.planx-pla.net 1661237073
  qa.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#2167 chore/update_niaid-portal: update niaid data-portal image to 3.30.0
  qa-niaid.planx-pla.net/manifest.json
Labels: test-apis-centralizedAuth

#2175 update mds to 1.8.1
  qa-heal.planx-pla.net/manifest.json
Labels: test-portal-homepageTest, test-portal-indexingPageTest, test-portal-discoveryPageTest, test-portal-gen3ffLandingPageTest
