Repository uc-cdis/gitops-qa, pull requests merged in 2022-02, with the labels that each got.

#1848 Update hatchery.json.
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#1850 Updating CI env with 2022.01 qa-jcoin.planx-pla.net 1643660732
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-linkGoogleAccountTest

#1849 Updating CI env with 2022.01 qa-covid19.planx-pla.net 1643660729
  qa-covid19.planx-pla.net/manifest.json
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-google-googleServiceAccountTest

#1851 Updating CI env with 2022.02 qa-dcp.planx-pla.net 1643739196
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-dbgapTest

#1858 Update tutorial image tag for bug fix
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-dataUploadTest

#1861 Updating CI env with 2022.02 qa-kidsfirst.planx-pla.net 1644423388
  qa-kidsfirst.planx-pla.net/manifest.json
Labels: test-apis-dbgapTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-google-googleServiceAccountKeyTest

#1865 update qa agg mds heal url
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Labels: test-portal-discoveryPageTest

#1866 change color of footer to heal gray Update gitops.css
  qa-heal.planx-pla.net/portal/gitops.css
Labels: test-portal-homepageTest

#1846 HP-638 - qa heal attribute change part 3
  qa-heal.planx-pla.net/metadata/aggregate_config.json
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-apis-aggMDSTest, test-portal-discoveryPageTest

#1864 QA-HEAL - update to 2022.02
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#1870 Revert "HP-638 - qa heal attribute change part 3"
  qa-heal.planx-pla.net/metadata/aggregate_config.json
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#1841 Updating presigned-url scaling for load-testing
  qa-dcp.planx-pla.net/manifests/scaling/scaling.json
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1877 Release Testing PR integration202203 qa-dcp.planx-pla.net 1645457984
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#1876 Release Testing PR integration202203 qa-ibd.planx-pla.net 1645457940
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#1881 adding notebook to jenkins envs
  jenkins-blood.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-brain.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-dcp.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#1883 Fix hatchery namespace in jenkins-niaid
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#1884 Updating CI env with 2022.03 qa-dcp.planx-pla.net 1645732074
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release
