Repository uc-cdis/gitops-qa, pull requests merged in 2022-09, with the labels that each got.

#2171 Updating Env qa-ibd.planx-pla.net - 2022.09 1661784262
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#2177 update mds to 1.8.2
  qa-heal.planx-pla.net/manifest.json
Labels: jenkins-dcp, test-portal-discoveryPageTest

#2196 test/vlmdSubmissionPage: pointing heal data portal to dev branch
  qa-heal.planx-pla.net/manifest.json
Labels: test-portal-homepageTest, test-portal-indexingPageTest, test-portal-dataUploadTest, test-portal-coremetadatapageTest, test-portal-discoveryPageTest, test-apis-requestorTest, test-apis-requestorNewTest

#2192 Updating Env qa-ibd.planx-pla.net - integration202210 1663356647
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-google-googleServiceAccountTest

#2191 Updating Env qa-dcp.planx-pla.net - integration202210 1663356646
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2204 Update manifest.json
  qa-dcp.planx-pla.net/manifest.json
Labels: test-apis-etlTest

#2198 remove stata workspaces
  .secrets.baseline
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2195 test BRH workspace registration in qa-heal
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-portal-discoveryPageTest
