Repository uc-cdis/gitops-qa, pull requests merged in 2022-07, with the labels that each got.

#2080 decoupled workspaces in jenkins-new
  .secrets.baseline
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-indexingPageTest, test-apis-aggMDSTest, test-portal-discoveryPageTest

#2079 Add multiple guppy config to jenkins envs for dicom-viewer tests.
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-new.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifest.json
Labels: test-apis-etlTest, test-apis-aggMDSTest

#2077 Updating Env qa-jcoin.planx-pla.net - 2022.06 1656616278
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#2088 (HP-822): feat/healMetaDescription: add meta description to heal
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-apis-drsEndpointsTest

#2092 decoupled workspaces on jenkins-genomel and jenkins-niaid
  .secrets.baseline
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2096 Updating Env qa-niaid.planx-pla.net - 2022.07 1657641102
  qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-google-googleServiceAccountKeyTest

#2095 Updating Env qa-covid19.planx-pla.net - 2022.07 1657641102
  qa-covid19.planx-pla.net/manifest.json
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#2113 fix hatchery config for decoupled workspaces
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#2112 Updating Env qa-ibd.planx-pla.net - 2022.08 1658782485
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#2115 fix command in hatchery for decoupled workspaces
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2114 Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Labels: test-portal-discoveryPageTest

#2120 do not use midrc es aliases
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-new.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#2118 apply hatchery changes for decoupled ws in jenkins
  .secrets.baseline
  jenkins-new.planx-pla.net/manifest.json
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2111 Updating Env qa-dcp.planx-pla.net - 2022.08 1658782457
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-etlTest

#2123 fix decoupled ws config on jenkins envs
  .secrets.baseline
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#2125 Updating Env qa-jcoin.planx-pla.net - 2022.08 1659107908
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-dbgapTest
