Repository uc-cdis/gitops-qa, pull requests merged in 2022-04, with the labels that each got.

#1929 Updating CI env with 2022.04 qa-ibd.planx-pla.net 1648739731
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-dataUploadTest

#1887 chore(ctds-test-env): rm unnecessary uwsgi timeout
  ctds-test-env.planx-pla.net/manifest.json
Labels: test-apis-centralizedAuth

#1925 (PXP-9639): Use fixed ES aliases for all Jenkins environments
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/etlMapping.yaml
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/etlMapping.yaml
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/etlMapping.yaml
  jenkins-new.planx-pla.net/etlMapping.yaml
  jenkins-niaid.planx-pla.net/etlMapping.yaml
Labels: test-guppy-guppyTest

#1943 Updating CI env with 2022.04 qa-jcoin.planx-pla.net 1649349208
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#1945 Updating CI env with 2022.04 qa-covid19.planx-pla.net 1649349278
  qa-covid19.planx-pla.net/manifest.json
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#1944 Updating CI env with 2022.04 qa-niaid.planx-pla.net 1649349213
  qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-cleverSafeTest, test-portal-studyViewerTest

#1924 Sanity Check 2022.04 2022.04 qa-dcp.planx-pla.net 1648243833
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1956 fix(version): update tube version to 0.6.5
  qa-covid19.planx-pla.net/manifest.json
  qa-midrc.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifest.json
Labels: test-apis-etlTest

#1954 Updating CI env with integration202205 qa-dcp.planx-pla.net 1649690605
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-drsEndpointsTest, test-google-googleServiceAccountRemovalTest

#1959 remove mariner from manifests
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-blood.planx-pla.net/manifests/mariner/mariner.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/manifests/mariner/mariner.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifests/mariner/mariner.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifests/mariner/mariner.json
  jenkins-new.planx-pla.net/manifest.json
  jenkins-new.planx-pla.net/manifests/mariner/mariner.json
  jenkins-niaid.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifests/mariner/mariner.json
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/mariner/mariner.json
  qa-covid19.planx-pla.net/manifest.json
  qa-mickey.planx-pla.net/manifest.json
  qa-mickey.planx-pla.net/manifests/mariner/mariner.json
Labels: test-portal-homepageTest

#1964 qa-ibd: use new qa-ibd user.yaml
  qa-ibd.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#1962 Gen3 Monthly Release 2022.04 qa-heal.planx-pla.net 1650378262
  qa-heal.planx-pla.net/manifest.json
Labels: test-apis-etlTest

#1963 use decoupled workspaces in jenkins-genomel and jenkins-niaid
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#1970 PXP-9430 remove unused links and sections
  qa-mickey.planx-pla.net/manifest.json
  qa-mickey.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest, test-apis-etlTest, test-portal-dataUploadTest, test-portal-coremetadatapageTest

#1978 QANCT_0.5.1_DD
  qa-niaid.planx-pla.net/manifest.json
Labels: test-portal-studyViewerTest

#1985 Revert "jenkins new - use decoupled workspaces"
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#1984 Revert "use decoupled workspaces in jenkins-genomel and jenkins-niaid"
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#1974 chore: fixing studyViewer config with ETLmapping
  jenkins-new.planx-pla.net/portal/gitops.json
Labels: test-portal-discoveryPageTest

#1968 bump up tube version to 0.6.9
  qa-niaid.planx-pla.net/manifest.json
Labels: test-portal-studyViewerTest

#1980 Gen3 Monthly Release 2022.05 qa-dcp.planx-pla.net 1650921499
  qa-dcp.planx-pla.net/etlMapping.yaml
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-etlTest
