Repository uc-cdis/gitops-qa, pull requests merged in 2022-12, with the labels that each got.

#2271 Updating Env qa-ibd.planx-pla.net - integration202212 1668744171
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: jenkins-blood, test-apis-requestorTest, test-apis-requestorNewTest

#2276 Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Labels: test-portal-discoveryPageTest

#2272 Updating Env qa-dcp.planx-pla.net - integration202212 1668744208
  .travis.yml
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2279 Updating Env qa-dcp.planx-pla.net - 2022.12 1670342834
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#2285 Updating Env qa-niaid.planx-pla.net - 2022.11 1670367434
  qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#2290 Update hatchery.json
  qa-brh.planx-pla.net/manifest.json
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2284 Updating Env qa-jcoin.planx-pla.net - 2022.11 1670367434
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-centralizedAuth, test-apis-OAuth2Test

#2295 Updating Env qa-ibd.planx-pla.net - integration202301 1670862180
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-pidgin-getCoremetadataTest

#2296 Updating Env qa-dcp.planx-pla.net - integration202301 1670862183
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-pidgin-getCoremetadataTest

#2307 Chore/qaheal filter
  .secrets.baseline
  qa-heal.planx-pla.net/portal/gitops.css
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-portal-discoveryPageTest, test-apis-requestorTest
