Repository uc-cdis/gitops-qa, pull requests merged in 2022-05, with the labels that each got.

#1991 QA_NCT_0.5.2_DD
  qa-niaid.planx-pla.net/manifest.json
Labels: test-portal-studyViewerTest

#1993 Update etlMapping.yaml
  qa-niaid.planx-pla.net/etlMapping.yaml
  qa-niaid.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#1996 add jenkins-workers to manifest
  qa.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#2001 changes
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.html
Labels: test-apis-centralizedAuth, test-portal-homepageTest, test-portal-indexingPageTest, test-apis-metadataIngestionTest, test-portal-discoveryPageTest

#1987 fixing jenkins studyViewer config
  jenkins-dcp.planx-pla.net/portal/gitops.json
Labels: test-pidgin-getCoremetadataTest

#2003 Updating CI env with 2022.05 qa-kidsfirst.planx-pla.net 1652284123
  qa-kidsfirst.planx-pla.net/manifest.json
Labels: gen3-release

#2002 Gen3 Monthly Release 2022.05 qa-heal.planx-pla.net 1652278331
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-dbgapTest

#2005 qa-jcoin etl nested_props
  qa-jcoin.planx-pla.net/etlMapping.yaml
  qa-jcoin.planx-pla.net/manifest.json
Labels: test-apis-etlTest

#2006 Update hatchery.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-centralizedAuth, test-apis-metadataIngestionTest

#2016 Gen3 Monthly Release integration202206 qa-dcp.planx-pla.net 1652825686 ...
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-guppy-guppyTest

#2021 Updating CI env with 2022.05 qa-jcoin.planx-pla.net 1653059526
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-dbgapTest

#2017 Gen3 Monthly Release integration202206 qa-ibd.planx-pla.net 1652825830
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-google-googleDataAccessTest, test-apis-dbgapTest

#2023 update fence-config with ORCID login
  qa-jcoin.planx-pla.net/manifests/fence/fence-config-public.yaml
Labels: test-apis-etlTest

#2020 Updating CI env with 2022.05 qa-niaid.planx-pla.net 1653058537
  qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-dbgapTest, jenkins-new

#2028 test/NIAIDexternal_url: change required_idp_field to requiredIdpField
  qa-niaid.planx-pla.net/portal/gitops.json
Labels: test-apis-etlTest

#2031 Updating CI env with 2022.06 qa-ibd.planx-pla.net 1653603021
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#2032 Updating CI env with 2022.06 qa-dcp.planx-pla.net 1653603049
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release
