Repository uc-cdis/gitops-qa, pull requests merged in 2022-11, with the labels that each got.

#2249 Fix/jenkins disco
  jenkins-blood.planx-pla.net/portal/gitops.json
  jenkins-brain.planx-pla.net/portal/gitops.json
  jenkins-dcp.planx-pla.net/etlMapping.yaml
  jenkins-dcp.planx-pla.net/portal/gitops.json
  jenkins-genomel.planx-pla.net/portal/gitops.json
  jenkins-new.planx-pla.net/etlMapping.yaml
  jenkins-new.planx-pla.net/portal/gitops.json
  jenkins-niaid.planx-pla.net/portal/gitops.json
Labels: jenkins-genomel, test-portal-discoveryPageTest

#2250 VADC-263: Update qa-mickey description and docs link
  qa-mickey.planx-pla.net/portal/gitops.json
Labels: test-portal-loginPageTest

#2245 Chore/qaheal update
  .secrets.baseline
  qa-heal.planx-pla.net/metadata/aggregate_config.json
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-portal-discoveryPageTest, test-apis-requestorTest, test-apis-requestorNewTest

#2253 set up workspace registration in qa-heal
  .pre-commit-config.yaml
  .secrets.baseline
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-apis-dataUploadTest, test-apis-metadataIngestionTest

#2256 Update etlMapping.yaml
  jenkins-dcp.planx-pla.net/etlMapping.yaml
Labels: test-apis-etlTest

#2255 Updating Env qa-covid19.planx-pla.net - 2022.11 1667925176
  qa-covid19.planx-pla.net/manifest.json
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-pidgin-getCoremetadataTest

#2252 BRH-295
  qa-brh.planx-pla.net/metadata/aggregate_config.json
Labels: test-apis-aggMDSTest

#2273 Gen3 Monthly Release 2022.11 qa-heal.planx-pla.net 1668744281
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: jenkins-brain, test-portal-discoveryPageTest
