Repository uc-cdis/gitops-qa, pull requests merged in 2023-05, with the labels that each got.

#2463 Gen3 Monthly Release 2023.05 qa-ibd.planx-pla.net 1683226122
  .travis.yml
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-coremetadata-getCoremetadataTest

#2476 Updating CI env with integration202306 qa-dcp.planx-pla.net 1684208878
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-centralizedAuth, test-portal-indexingPageTest

#2477 Updating CI env with integration202306 qa-ibd.planx-pla.net 1684208884
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-auditServiceTest

#2482 Add FRAME_ANCESTORS to hatchery
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-studyRegistrationTest

#2492 change mapping of Study Name from name to short_name
  qa-brh.planx-pla.net/portal/gitops.json
Labels: test-coremetadata-getCoremetadataTest, test-sheepdogAndPeregrine-submitFileTest, test-portal-coremetadatapageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#2494 Updating CI env with qa-ibd.planx-pla.net 1685108482
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2493 Updating CI env with qa-dcp.planx-pla.net 1685108477
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-coremetadata-getCoremetadataTest, test-sheepdogAndPeregrine-submitFileTest, test-portal-coremetadatapageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#2486 Updating Env qa-kidsfirst.planx-pla.net - 2023.05 1684789481
  qa-kidsfirst.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#2489 ETL mappings: JCOIN DD v3
  qa-jcoin.planx-pla.net/etlMapping.yaml
Labels: test-apis-dataUploadTest, test-portal-dataUploadTest, test-portal-coremetadatapageTest
