Repository uc-cdis/gitops-qa, pull requests merged in 2023-01, with the labels that each got.

#2313 Updating Env qa-dcp.planx-pla.net - 2023.01 1672797831
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-pidgin-getCoremetadataTest

#2315 qa-heal - remove unneeded sower jobs
  .secrets.baseline
  qa-heal.planx-pla.net/manifest.json
Labels: jenkins-blood, test-portal-discoveryPageTest

#2319 Updating Env qa-niaid.planx-pla.net - 2023.01 1673972900
  qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-google-googleDataAccessTest, test-google-googleServiceAccountTest, test-apis-dbgapTest, test-google-googleServiceAccountRemovalTest

#2320 Gen3 Monthly Release 2023.01 QA-BRH 2023.01 qa-brh.planx-pla.net 1673984591
  qa-brh.planx-pla.net/manifest.json
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-centralizedAuth

#2318 Verify refresh_token_at_login
  qa-brh.planx-pla.net/manifest.json
  qa-brh.planx-pla.net/metadata/aggregate_config.json
  qa-brh.planx-pla.net/portal/gitops.json
Labels: test-apis-centralizedAuth

#2325 Updating Env qa-dcp.planx-pla.net - integration202302 1674151793
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2324 Updating Env qa-ibd.planx-pla.net - integration202302 1674151772
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2323 Change `minimalFieldMapping.uid` in brh to `_unique_id`
  qa-brh.planx-pla.net/manifest.json
  qa-brh.planx-pla.net/portal/gitops.json
Labels: test-portal-discoveryPageTest

#2292 Update CRDC adapters in BRH
  qa-brh.planx-pla.net/manifest.json
  qa-brh.planx-pla.net/metadata/aggregate_config.json
Labels: test-portal-discoveryPageTest

#2339 Update QA BRH tutorial ws env.
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest, test-portal-coremetadatapageTest, test-portal-discoveryPageTest, test-apis-requestorTest

#2337 Gen3 Monthly Release 2023.02 qa-ibd.planx-pla.net 1674759377
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-pidgin-getCoremetadataTest
