Repository uc-cdis/gitops-qa, pull requests merged in 2023-02, with the labels that each got.

#2341 Gen3 Monthly Release 2023.02 qa-heal.planx-pla.net 1675107585
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-requestorTest

#2343 Updating Env qa-jcoin.planx-pla.net - 2023.02 1675209651
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2351 Updating Env qa-kidsfirst.planx-pla.net - 2023.02 1675365322
  qa-kidsfirst.planx-pla.net/manifest.json
Labels: test-apis-oidcClientTest

#2353 Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Labels: test-apis-userTokenTest, test-apis-requestorTest, test-apis-clientCredGrantTest

#2354 Updating Env qa-niaid.planx-pla.net - 2023.02 1675454925
  qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#2358 chore: adding new jenkins envs
  jenkins-new-1.planx-pla.net/etlMapping.yaml
  jenkins-new-1.planx-pla.net/manifest.json
  jenkins-new-1.planx-pla.net/manifests/fence/fence-config-public.yaml
  jenkins-new-1.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new-1.planx-pla.net/metadata/aggregate_config.json
  jenkins-new-1.planx-pla.net/portal/gitops-createdby.png
  jenkins-new-1.planx-pla.net/portal/gitops-favicon.ico
  jenkins-new-1.planx-pla.net/portal/gitops-logo.png
  jenkins-new-1.planx-pla.net/portal/gitops.css
  jenkins-new-1.planx-pla.net/portal/gitops.json
  jenkins-new-1.planx-pla.net/portal/portal/gitops-favicon.ico
  jenkins-new-1.planx-pla.net/portal/portal/gitops-logo.png
  jenkins-new-1.planx-pla.net/portal/portal/gitops.css
  jenkins-new-1.planx-pla.net/portal/portal/gitops.json
  jenkins-new-2.planx-pla.net/etlMapping.yaml
  jenkins-new-2.planx-pla.net/manifest.json
  jenkins-new-2.planx-pla.net/manifests/fence/fence-config-public.yaml
  jenkins-new-2.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new-2.planx-pla.net/metadata/aggregate_config.json
  jenkins-new-2.planx-pla.net/portal/gitops-createdby.png
  jenkins-new-2.planx-pla.net/portal/gitops-favicon.ico
  jenkins-new-2.planx-pla.net/portal/gitops-logo.png
  jenkins-new-2.planx-pla.net/portal/gitops.css
  jenkins-new-2.planx-pla.net/portal/gitops.json
  jenkins-new-2.planx-pla.net/portal/portal/gitops-favicon.ico
  jenkins-new-2.planx-pla.net/portal/portal/gitops-logo.png
  jenkins-new-2.planx-pla.net/portal/portal/gitops.css
  jenkins-new-2.planx-pla.net/portal/portal/gitops.json
  jenkins-new-3.planx-pla.net/etlMapping.yaml
  jenkins-new-3.planx-pla.net/manifest.json
  jenkins-new-3.planx-pla.net/manifests/fence/fence-config-public.yaml
  jenkins-new-3.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new-3.planx-pla.net/metadata/aggregate_config.json
  jenkins-new-3.planx-pla.net/portal/gitops-createdby.png
  jenkins-new-3.planx-pla.net/portal/gitops-favicon.ico
  jenkins-new-3.planx-pla.net/portal/gitops-logo.png
  jenkins-new-3.planx-pla.net/portal/gitops.css
  jenkins-new-3.planx-pla.net/portal/gitops.json
  jenkins-new-3.planx-pla.net/portal/portal/gitops-favicon.ico
  jenkins-new-3.planx-pla.net/portal/portal/gitops-logo.png
  jenkins-new-3.planx-pla.net/portal/portal/gitops.css
  jenkins-new-3.planx-pla.net/portal/portal/gitops.json
  jenkins-new-4.planx-pla.net/etlMapping.yaml
  jenkins-new-4.planx-pla.net/manifest.json
  jenkins-new-4.planx-pla.net/manifests/fence/fence-config-public.yaml
  jenkins-new-4.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new-4.planx-pla.net/metadata/aggregate_config.json
  jenkins-new-4.planx-pla.net/portal/gitops-createdby.png
  jenkins-new-4.planx-pla.net/portal/gitops-favicon.ico
  jenkins-new-4.planx-pla.net/portal/gitops-logo.png
  jenkins-new-4.planx-pla.net/portal/gitops.css
  jenkins-new-4.planx-pla.net/portal/gitops.json
  jenkins-new-4.planx-pla.net/portal/portal/gitops-favicon.ico
  jenkins-new-4.planx-pla.net/portal/portal/gitops-logo.png
  jenkins-new-4.planx-pla.net/portal/portal/gitops.css
  jenkins-new-4.planx-pla.net/portal/portal/gitops.json
Labels: commission-environment

#2360 brh tutorials update
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2370 Updating Env qa-ibd.planx-pla.net - integration202303 1676476127
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-indexingPageTest, test-google-googleServiceAccountRemovalTest

#2373 Reduce qa.planx-pla.net footprint
  qa.planx-pla.net/dashboard/Secure/qa-reports/img/gen3-home-logo.svg
  qa.planx-pla.net/dashboard/Secure/qa-reports/index.html
  qa.planx-pla.net/dashboard/Secure/qa-reports/js/jquery-1.3.2.min.js
  qa.planx-pla.net/dashboard/Secure/qa-reports/js/script.js
  qa.planx-pla.net/dashboard/Secure/qa-reports/style.css
  qa.planx-pla.net/manifest.json
  qa.planx-pla.net/manifests/argo/argo.json
  qa.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#2371 Updating Env qa-dcp.planx-pla.net - integration202303 1676476195
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2382 align brh to heal
  qa-brh.planx-pla.net/manifest.json
Labels: test-pidgin-getCoremetadataTest, test-apis-centralizedAuth, test-sheepdogAndPeregrine-submitFileTest, test-apis-presignedUrlTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-apis-aggMDSTest, test-apis-requestorTest
