Repository uc-cdis/gitops-qa, pull requests merged in 2023-10, with the labels that each got.

#2632 Gen3 Monthly Release 2023.10 qa-brh.planx-pla.net 1695911081
  qa-brh.planx-pla.net/manifest.json
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-requestorTest, test-portal-exportToWorkspaceTest

#2633 Deploying GWAS to jenkins-niaid
  .secrets.baseline
  Jenkinsfile
  jenkins-niaid.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/portal/gitops.json
Labels: jenkins-niaid, skip-k8s-cleanup, test-portal-GWASUIAppTest

#2660 QA JCOIN 2023.10 2023.10 qa-jcoin.planx-pla.net 1696870291
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-indexingPageTest, test-apis-metadataIngestionTest

#2623 Add GWAS to jenkins-blood and jenkins-brain
  .secrets.baseline
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-blood.planx-pla.net/portal/gitops.json
  jenkins-brain.planx-pla.net/portal/gitops.json
Labels: jenkins-blood, skip-k8s-cleanup, test-portal-GWASUIAppTest

#2634 Deploying GWAS to jenkins-dcp
  .secrets.baseline
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/portal/gitops.json
Labels: jenkins-dcp, skip-k8s-cleanup, test-portal-GWASUIAppTest

#2639 Deploying GWAS to jenkins-new
  .secrets.baseline
  jenkins-new.planx-pla.net/manifest.json
  jenkins-new.planx-pla.net/portal/gitops.json
Labels: jenkins-new, test-portal-GWASUIAppTest

#2640 Deploying GWAS to jenkins-new-1
  .secrets.baseline
  jenkins-new-1.planx-pla.net/manifest.json
  jenkins-new-1.planx-pla.net/portal/gitops.json
Labels: jenkins-new-1, test-portal-GWASUIAppTest

#2641 Deploying GWAS to jenkins-new-2
  .secrets.baseline
  jenkins-new-2.planx-pla.net/manifest.json
  jenkins-new-2.planx-pla.net/portal/gitops.json
Labels: jenkins-new-2, test-portal-GWASUIAppTest

#2642 Deploying GWAS to jenkins-new-3
  .secrets.baseline
  jenkins-new-3.planx-pla.net/manifest.json
  jenkins-new-3.planx-pla.net/portal/gitops.json
Labels: jenkins-new-3, skip-k8s-cleanup, test-portal-GWASUIAppTest

#2643 Deploying GWAS to jenkins-new-4
  .secrets.baseline
  jenkins-new-4.planx-pla.net/manifest.json
  jenkins-new-4.planx-pla.net/portal/gitops.json
Labels: jenkins-new-4, skip-k8s-cleanup, test-portal-GWASUIAppTest

#2678 Updating CI env with integration202311 qa-ibd.planx-pla.net 1697657881
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-google-googleDataAccessTest, test-apis-etlTest

#2668 (chore HP-1244): add cedar ingest cron job, adjust agg-mds job
  qa-heal.planx-pla.net/manifests/cronjobs/cronjobs.json
Labels: test-portal-studyRegistrationTest

#2677 Updating CI env with integration202311 qa-dcp.planx-pla.net 1697657876
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release, test-apis-dbgapTest

#2685 add static notebook to example analysis page
  qa-brh.planx-pla.net/portal/gitops.json
Labels: test-apis-requestorTest

#2684 Updating CI env with 2023.11 qa-ibd.planx-pla.net 1698084418
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-auditServiceTest

#2683 Updating CI env with 2023.11 qa-dcp.planx-pla.net 1698084413
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-coremetadata-getCoremetadataTest, test-apis-presignedUrlTest, test-apis-linkGoogleAccountTest, test-apis-oidcClientTest
