Repository uc-cdis/gitops-qa, pull requests merged in 2023-03, with the labels that each got.

#2392 Updating Env qa-dcp.planx-pla.net - 2023.03 1677706467
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-dbgapTest

#2393 Updating Env qa-ibd.planx-pla.net - 2023.03 1677706468
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-google-googleDataAccessTest, test-google-googleServiceAccountRemovalTest

#2405 Updating Env qa-dcp.planx-pla.net - integration202304 1678717869
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-google-googleDataAccessTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#2409 PRC remove pidgin
  qa-covid19.planx-pla.net/manifest.json
Labels: test-coremetadata-getCoremetadataTest, test-portal-coremetadatapageTest

#2413 new ws image
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2412 Adding dynamoDB table name for qa-brh payment portal
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-centralizedAuth

#2416 update generic & tutorial ws
  .secrets.baseline
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2418 Restore dashboard in qa.planx-pla.net
  qa.planx-pla.net/dashboard/Secure/qa-reports/img/gen3-home-logo.svg
  qa.planx-pla.net/dashboard/Secure/qa-reports/index.html
  qa.planx-pla.net/dashboard/Secure/qa-reports/js/jquery-1.3.2.min.js
  qa.planx-pla.net/dashboard/Secure/qa-reports/js/script.js
  qa.planx-pla.net/dashboard/Secure/qa-reports/style.css
  qa.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#2419 Add Q1 2023 to QA reports in dashboard
  qa.planx-pla.net/dashboard/Secure/qa-reports/index.html
Labels: test-portal-homepageTest
