Repository uc-cdis/gitops-qa, pull requests merged in 2023-08, with the labels that each got.

#2550 add cohortmiddleware and argowrapper to jenkins-genomel
  jenkins-genomel.planx-pla.net/manifest.json
Labels: jenkins-brain

#2557 Add GWAS config to jenkins-genomel
  jenkins-genomel.planx-pla.net/portal/gitops.json
Labels: jenkins-genomel

#2559 analysis feature flag jenkins-genomel
  jenkins-genomel.planx-pla.net/portal/gitops.json
Labels: jenkins-genomel, skip-k8s-cleanup

#2542 roll back CIDC subject counts
  qa-brh.planx-pla.net/metadata/aggregate_config.json
Labels: test-portal-homepageTest, jenkins-new-2

#2563 Gen3 Monthly Release 2023.08 qa-brh.planx-pla.net 1691413461
  qa-brh.planx-pla.net/manifest.json
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-centralizedAuth

#2575 GWAS Results Update
  qa-mickey.planx-pla.net/dashboard/Public/documentation/.buildinfo
  qa-mickey.planx-pla.net/dashboard/Public/documentation/.doctrees/environment.pickle
  qa-mickey.planx-pla.net/dashboard/Public/documentation/.doctrees/index.doctree
  qa-mickey.planx-pla.net/dashboard/Public/documentation/.doctrees/temp.doctree
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/068-select-cohort.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/069-continuous-dichotomous.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/070-continuous.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/071-continuous-covariate.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/072-continuous-covariate.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/073-dichotomous-covariate.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/074-dichotomous-covariate.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/075-attrition-table.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/076-configure-GWAS.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/077-submit.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_sources/index.rst.txt
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/068-select-cohort.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/069-continuous-dichotomous.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/070-continuous.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/071-continuous-covariate.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/072-continuous-covariate.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/073-dichotomous-covariate.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/074-dichotomous-covariate.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/075-attrition-table.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/076-configure-GWAS.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/077-submit.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/alabaster.css
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/basic.css
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/pygments.css
  qa-mickey.planx-pla.net/dashboard/Public/documentation/genindex.html
  qa-mickey.planx-pla.net/dashboard/Public/documentation/index.html
  qa-mickey.planx-pla.net/dashboard/Public/documentation/search.html
  qa-mickey.planx-pla.net/dashboard/Public/documentation/searchindex.js
Labels: test-portal-homepageTest

#2573 add Button for dataExplorerConfig - jenkins-genomel
  jenkins-genomel.planx-pla.net/portal/gitops.json
Labels: jenkins-genomel

#2578 Updating CI env with integration202309 qa-dcp.planx-pla.net 1692030897
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-exportToWorkspaceTest

#2576 Add kayako `0.2.0` in `qa-brh`
  qa-brh.planx-pla.net/manifest.json
Labels: test-portal-discoveryPageTest, jenkins-new-3, skip-k8s-cleanup

#2585 remove pidgin deployment form jenkins-envs
  .secrets.baseline
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-new-1.planx-pla.net/manifest.json
  jenkins-new-2.planx-pla.net/manifest.json
  jenkins-new-3.planx-pla.net/manifest.json
  jenkins-new-4.planx-pla.net/manifest.json
  jenkins-new.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifest.json
Labels: test-portal-discoveryPageTest

#2594 Update gitops.json
  qa-niaid.planx-pla.net/portal/gitops.json
Labels: test-apis-exportToWorkspaceTest, jenkins-new-4
