Repository uc-cdis/gitops-qa, pull requests merged in 2023-11, with the labels that each got.

#2704 Updating CI env with integration202312 qa-dcp.planx-pla.net 1699897390
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-etlTest

#2708 Update manifest.json
  qa-niaid.planx-pla.net/manifest.json
Labels: jenkins-dcp, test-apis-dataUploadTest, test-apis-drsEndpointsTest, test-apis-clientCredGrantTest

#2701 QA JCOIN 2023.11 2023.11 qa-jcoin.planx-pla.net 1699630541
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Labels: jenkins-dcp, test-portal-indexingPageTest

#2711 Updating CI env with 2023.12 qa-dcp.planx-pla.net 1700602068
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-dataUploadTest

#2712 Updating CI env with 2023.12 qa-ibd.planx-pla.net 1700602073
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-dataUploadTest, jenkins-new-1, skip-k8s-cleanup

#2715 Gen3 Monthly Release 2023.12 qa-brh.planx-pla.net 1701272661
  qa-brh.planx-pla.net/manifest.json
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2714 Gen3 Monthly Release 2023.12 qa-heal.planx-pla.net 1701269033
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-studyRegistrationTest
