Repository uc-cdis/gitops-qa, pull requests merged in 2023-09, with the labels that each got.

#2595 adding manifest and data-portal branch into qa covid19
  qa-covid19.planx-pla.net/manifest.json
  qa-covid19.planx-pla.net/portal/gitops.json
Labels: jenkins-new, test-portal-exportToWorkspaceTest

#2607 Update manifest.json
  qa-mickey.planx-pla.net/manifest.json
Labels: test-apis-oidcClientTest

#2611 Updating CI env with integration202310 qa-ibd.planx-pla.net 1694456152
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-google-googleServiceAccountTest, test-coremetadata-getCoremetadataTest, test-google-googleServiceAccountRemovalTest

#2610 Updating CI env with integration202310 qa-dcp.planx-pla.net 1694456146
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-google-googleServiceAccountTest, test-google-googleServiceAccountRemovalTest, test-apis-etlTest, test-portal-dataUploadTest

#2613 Add amazonlinux nextflow in qa-brh
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest, test-apis-requestorTest

#2616 add new framingham nb
  qa-brh.planx-pla.net/dashboard/Public/notebooks/Predicting_Insights_Into_Heart_Health.html
  qa-brh.planx-pla.net/dashboard/Public/notebooks/Predicting_Insights_Into_Heart_Health.png
  qa-brh.planx-pla.net/portal/gitops.json
Labels: test-sheepdogAndPeregrine-submitFileTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-portal-exportToWorkspaceTest

#2625 Updating CI env with 2023.10 qa-ibd.planx-pla.net 1695650636
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#2624 Updating CI env with 2023.10 qa-dcp.planx-pla.net 1695650630
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-google-googleServiceAccountTest, test-google-googleServiceAccountRemovalTest, jenkins-new
