Repository uc-cdis/gitops-qa, pull requests merged in 2023-06, with the labels that each got.

#2495 correct agg config for JCOIN, CRDC PDC, and CRDC CIDC
  qa-brh.planx-pla.net/metadata/aggregate_config.json
Labels: test-coremetadata-getCoremetadataTest, test-apis-centralizedAuth, test-portal-discoveryPageTest

#2485 Updating Env qa-covid19.planx-pla.net - 2023.05 1684789480
  qa-covid19.planx-pla.net/manifest.json
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2484 Updating Env qa-niaid.planx-pla.net - 2023.05 1684789418
  qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-exportToWorkspaceTest

#2499 inrease tutorial ws memory limit
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#2500 Updating Env qa-jcoin.planx-pla.net - 2023.05 1686152800
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2520 Gen3 Monthly Release 2023.06 qa-heal.planx-pla.net 1687484045
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2521 Add static nb to example analysis page
  qa-heal.planx-pla.net/dashboard/Public/notebooks/Monitoring_The_Future_Part1.html
  qa-heal.planx-pla.net/dashboard/Public/notebooks/Monitoring_The_Future_Part1.png
  qa-heal.planx-pla.net/portal/gitops.json
Labels: test-portal-discoveryPageTest
