Repository uc-cdis/gitops-qa, pull requests merged in 2024-05, with the labels that each got.

#2857 Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Labels: test-portal-discoveryPageTest, test-portal-studyRegistrationTest

#2837 Gen3 Monthly Release 2024.04 qa-covid19.planx-pla.net 1712169914
  qa-covid19.planx-pla.net/manifest.json
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-etlTest

#2875 Updating CI env with integration202406 qa-dcp.planx-pla.net 1715608066
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#2876 Updating CI env with integration202406 jenkins-perf.planx-pla.net 1715608073
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#2880 Chore/qa heal cde sub
  .secrets.baseline
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Labels: jenkins-new-1

#2882 Updating CI env with 2024.06 jenkins-perf.planx-pla.net 1715871858
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-exportToWorkspaceTest

#2881 Updating CI env with 2024.06 qa-dcp.planx-pla.net 1715871852
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-metadataIngestionTest, jenkins-new, skip-k8s-cleanup

#2879 Update DUA to the 2024 version
  qa-niaid.planx-pla.net/dashboard/Public/files/NIAIDDUA2021Accessclinicaldata@NIAID.pdf
  qa-niaid.planx-pla.net/dashboard/Public/files/NIAIDDUAAccessclinicaldata@NIAID.pdf
  qa-niaid.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#2883 Updating CI env with 2024.06 qa-heal.planx-pla.net 1715871863
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-OAuth2Test, test-portal-dataUploadTest, test-portal-studyRegistrationTest, test-portal-exportToWorkspaceTest
