Repository uc-cdis/gitops-qa, pull requests merged in 2024-07, with the labels that each got.

#2940 Remove paymodel config from jenkins envs
  jenkins-blood.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-brain.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-dcp.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new-1.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new-2.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new-3.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new-4.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#2945 Updating CI env with integration202408 jenkins-perf.planx-pla.net 1721310886
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#2944 Updating CI env with integration202408 qa-dcp.planx-pla.net 1721310880
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#2955 Updating CI env with 2024.08 qa-dcp.planx-pla.net 1721843852
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#2956 Updating CI env with 2024.08 jenkins-perf.planx-pla.net 1721843866
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-exportToWorkspaceTest

#2957 Updating CI env with 2024.08 qa-heal.planx-pla.net 1721843872
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-studyRegistrationTest
