Repository uc-cdis/gitops-qa, pull requests merged in 2024-01, with the labels that each got.

#2737 (HP-572) add fields for dynamodb for hatchery
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-clientCredGrantTest, test-apis-oidcClientTest, test-portal-studyRegistrationTest

#2745 Updating CI env with integration202402 qa-dcp.planx-pla.net 1705475773
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-exportToWorkspaceTest

#2746 Updating CI env with integration202402 qa-ibd.planx-pla.net 1705475778
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-indexingPageTest

#2759 new ws image for updated OADC nb
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest
