Repository uc-cdis/gitops-qa, pull requests merged in 2024-12, with the labels that each got.

#2997 Chore/add pay model to hatchery qa heal
  .secrets.baseline
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-dataUploadTest

#3097 Updating CI env with integration202501 jenkins-perf.planx-pla.net 1734360891
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#3096 Updating CI env with integration202501 qa-dcp.planx-pla.net 1734360884
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release, test-google-googleDataAccessTest, test-portal-pfbExportTest

#3106 Updating CI env with 2025.01 qa-dcp.planx-pla.net 1734630285
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-pfbExportTest
