Repository uc-cdis/gitops-qa, pull requests merged in 2024-02, with the labels that each got.

#2755 Updating CI env with 2024.02 qa-ibd.planx-pla.net 1706209984
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2774 Gen3 Monthly Release 2024.02 qa-brh.planx-pla.net 1707168261
  qa-brh.planx-pla.net/manifest.json
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-centralizedAuth, test-portal-discoveryPageTest

#2778 -Add most_recent_update_datetime to etl mapping for NIAID
  .secrets.baseline
  qa-niaid.planx-pla.net/etlMapping.yaml
  qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/portal/gitops.json
Labels: test-portal-studyViewerTest

#2781 Updating CI env with integration202403 qa-dcp.planx-pla.net 1707522563
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#2785 Copy changes for home page of NIAID clinical trials:
  qa-niaid.planx-pla.net/portal/gitops.json
Labels: test-portal-studyViewerTest, test-apis-requestorTest

#2764 Gen3 Monthly Release 2024.02 qa-jcoin.planx-pla.net 1706809022
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-etlTest

#2797 Add argo service url to CI envs
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-new-1.planx-pla.net/manifest.json
  jenkins-new-2.planx-pla.net/manifest.json
  jenkins-new-3.planx-pla.net/manifest.json
  jenkins-new-4.planx-pla.net/manifest.json
  jenkins-new.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifest.json
Labels: test-portal-homepageTest
