Repository uc-cdis/gitops-qa, pull requests merged in 2024-10, with the labels that each got.

#3026 Use separate user.yaml for CI
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-new-1.planx-pla.net/manifest.json
  jenkins-new-2.planx-pla.net/manifest.json
  jenkins-new-3.planx-pla.net/manifest.json
  jenkins-new-4.planx-pla.net/manifest.json
  jenkins-new.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifest.json
Labels: test-apis-dbgapTest, test-apis-oidcClientTest, skip-k8s-cleanup

#3022 VADC-1316: Update argo template in qa-mickey
  qa-mickey.planx-pla.net/portal/gitops.json
Labels: test-apis-centralizedAuth

#3031 Updating CI env with integration202411 qa-dcp.planx-pla.net 1728914217
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-pfbExportTest

#3032 Updating CI env with integration202411 jenkins-perf.planx-pla.net 1728914223
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#3048 Use updated user.yaml for service PRs
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifest.json
Labels: test-portal-homepageTest
