Repository uc-cdis/gitops-qa, pull requests merged in 2024-03, with the labels that each got.

#2816 update the GWAS config and team project
  jenkins-genomel.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest, test-apis-etlTest, test-portal-discoveryPageTest, test-portal-exportToWorkspaceTest

#2814 Updating CI env with integration202404 qa-dcp.planx-pla.net 1710180820
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2805 Gen3 Monthly Release 2024.03 qa-niaid.planx-pla.net 1709576745
  qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-studyViewerTest

#2825 (HP-1417): set hatchery/jupyter versions for gen3licensed dyna…
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2828 Updating CI env with 2024.04 qa-dcp.planx-pla.net 1711050084
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release
