Repository uc-cdis/gitops-qa, pull requests merged in 2024-08, with the labels that each got.

#2967 Update gitops.json
  qa-covid19.planx-pla.net/portal/gitops.json
Labels: test-apis-etlTest, test-apis-auditServiceTest

#2973 Updating CI env with integration202409 jenkins-perf.planx-pla.net 1723471849
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2980 Updating CI env with 2024.09 jenkins-perf.planx-pla.net 1723820443
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#2979 Updating CI env with 2024.09 qa-dcp.planx-pla.net 1723820437
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release, test-apis-OAuth2Test

#2981 Updating CI env with 2024.09 qa-heal.planx-pla.net 1723820448
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-studyRegistrationTest

#2987 remove cohort-middleware and argo service from jenkins-envs
  .secrets.baseline
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-new-1.planx-pla.net/manifest.json
  jenkins-new-2.planx-pla.net/manifest.json
  jenkins-new-3.planx-pla.net/manifest.json
  jenkins-new-4.planx-pla.net/manifest.json
  jenkins-new.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#2968 Add Hatchery to QA-BIH
  qa-bih.planx-pla.net/etlMapping.yaml
  qa-bih.planx-pla.net/manifest.json
  qa-bih.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#2983 Gen3 Monthly Release 2024.08 qa-jcoin.planx-pla.net 1723827319
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-dataUploadTest

#2991 remove lifecycle-pre-stop
  jenkins-blood.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-brain.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-dcp.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new-1.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new-2.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new-3.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new-4.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
  qa-anvil.planx-pla.net/etlMapping.yaml
  qa-anvil.planx-pla.net/manifests/hatchery/hatchery.json
  qa-bloodpac.planx-pla.net/manifests/hatchery/hatchery.json
  qa-brain.planx-pla.net/manifests/hatchery/hatchery.json
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
  qa-dcfdemo.planx-pla.net/manifests/hatchery/hatchery.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
  qa-mickey.planx-pla.net/manifests/hatchery/hatchery.json
  qa-nde.planx-pla.net/manifests/hatchery/hatchery.json
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest
