Repository uc-cdis/gitops-qa, pull requests merged in 2024-09, with the labels that each got.

#3008 Updating CI env with integration202410 jenkins-perf.planx-pla.net 1726494916
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#3007 Updating CI env with integration202410 qa-dcp.planx-pla.net 1726494909
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release, test-apis-dbgapTest

#3014 Updating CI env with 2024.10 jenkins-perf.planx-pla.net 1726755814
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#3013 Updating CI env with 2024.10 qa-dcp.planx-pla.net 1726755809
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release, test-google-googleDataAccessTest, test-portal-dataUploadTest, test-portal-pfbExportTest

#3018 Disable user profile dropdown in jenkins-brain
  jenkins-brain.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest, jenkins-new-1, skip-k8s-cleanup
