Repository uc-cdis/gitops-qa, pull requests merged in 2024-11, with the labels that each got.

#3057 Delete qa-anvil.planx-pla.net directory
  qa-anvil.planx-pla.net/etlMapping.yaml
  qa-anvil.planx-pla.net/manifest.json
  qa-anvil.planx-pla.net/manifests/hatchery/hatchery.json
  qa-anvil.planx-pla.net/manifests/scaling/scaling.json
  qa-anvil.planx-pla.net/portal/gitops-favicon.ico
  qa-anvil.planx-pla.net/portal/gitops-logo.png
  qa-anvil.planx-pla.net/portal/gitops.css
  qa-anvil.planx-pla.net/portal/gitops.json
Labels: decommission-environment

#3063 Updating CI env with integration202412 jenkins-perf.planx-pla.net 1731340785
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release, test-apis-OAuth2Test

#3062 Updating CI env with integration202412 qa-dcp.planx-pla.net 1731340779
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-pfbExportTest

#3068 Updating CI env with 2024.12 jenkins-perf.planx-pla.net 1731538018
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release, test-google-googleDataAccessTest

#3067 Updating CI env with 2024.12 qa-dcp.planx-pla.net 1731538012
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-pfbExportTest
