Repository uc-cdis/gitops-qa, pull requests merged in 2024-04, with the labels that each got.

#2834 Update GWAS config in jenkins env
  jenkins-blood.planx-pla.net/portal/gitops.json
  jenkins-brain.planx-pla.net/portal/gitops.json
  jenkins-dcp.planx-pla.net/portal/gitops.json
  jenkins-new-1.planx-pla.net/portal/gitops.json
  jenkins-new-2.planx-pla.net/portal/gitops.json
  jenkins-new-3.planx-pla.net/portal/gitops.json
  jenkins-new-4.planx-pla.net/portal/gitops.json
  jenkins-new.planx-pla.net/portal/gitops.json
  jenkins-niaid.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#2843 Updating CI env with integration202405 qa-dcp.planx-pla.net 1713187474
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-indexingPageTest, test-apis-etlTest, test-portal-dataUploadTest

#2844 Updating CI env with integration202405 jenkins-perf.planx-pla.net 1713187479
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#2852 Updating CI env with 2024.05 jenkins-perf.planx-pla.net 1714070459
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2851 Updating CI env with 2024.05 qa-dcp.planx-pla.net 1714070455
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-coremetadata-getCoremetadataTest

#2854 Gen3 Monthly Release 2024.04 qa-heal.planx-pla.net 1714072202
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-dataUploadTest
