Repository uc-cdis/gitops-qa, pull requests merged in 2024-06, with the labels that each got.

#2896 Gen3 Monthly Release 2024.06 qa-jcoin.planx-pla.net 1717611063
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-portal-exportToWorkspaceTest

#2909 Updating CI env with integration202407 jenkins-perf.planx-pla.net 1718635201
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#2884 Testing : new alias creation jenkins_subject_alias_new
  jenkins-dcp.planx-pla.net/etlMapping.yaml
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/portal/gitops.json
Labels: test-apis-metadataIngestionTest

#2890 New index on jenkins-blood
  jenkins-blood.planx-pla.net/etlMapping.yaml
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-blood.planx-pla.net/portal/gitops.json
Labels: test-portal-discoveryPageTest, test-portal-exportToWorkspaceTest

#2891 New index on jenkins-brain
  jenkins-brain.planx-pla.net/etlMapping.yaml
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/portal/gitops.json
Labels: test-portal-dataUploadTest, test-portal-discoveryPageTest, test-apis-clientCredGrantTest, test-portal-exportToWorkspaceTest

#2908 Updating CI env with integration202407 qa-dcp.planx-pla.net 1718635195
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: test-apis-centralizedAuth, test-apis-metadataIngestionTest

#2915 Updating CI env with 2024.07 qa-dcp.planx-pla.net 1719415032
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release, test-apis-OAuth2Test

#2916 Updating CI env with 2024.07 jenkins-perf.planx-pla.net 1719415038
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release
