Repository uc-cdis/gitops-qa, pull requests merged in 2025-04, with the labels that each got.

#3198 align QA BDC ETL with preprod and prod
  qa-dcp.planx-pla.net/etlMapping.yaml
  qa-dcp.planx-pla.net/manifest.json
Labels: test-apis-cleverSafeTest

#3201 feat(qa-vpodc.data-commons.org): update to 2025.04
  qa-vpodc.planx-pla.net/manifest.json
Labels: test-portal-homepageTest, test-portal-discoveryPageTest

#3192 Add gen3-user-data-library to all jenkins env
  .gitignore
  .secrets.baseline
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-new-1.planx-pla.net/manifest.json
  jenkins-new-2.planx-pla.net/manifest.json
  jenkins-new-3.planx-pla.net/manifest.json
  jenkins-new-4.planx-pla.net/manifest.json
  jenkins-new.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifest.json
Labels: test-apis-auditServiceTest

#3207 Add GH action workflow for integration tests
  .github/workflows/integration_tests.yaml
  Jenkinsfile
Labels: TestDicomViewer

#3212 Updating CI env with integration202505 qa-dcp.planx-pla.net 1744640481
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release, TestPFBExport

#3213 Updating CI env with integration202505 jenkins-perf.planx-pla.net 1744640488
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: TestWorkspacePage

#3214 Updating CI env with integration202505 qa-heal.planx-pla.net 1744640493
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release, TestAuditService, TestLoginPage

#3227 Updating CI env with 2025.05 jenkins-perf.planx-pla.net 1745246228
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: TestPresignedURL, TestCentralizedAuth

#3226 Updating CI env with 2025.05 qa-dcp.planx-pla.net 1745246222
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#3229 Fix HEAL QA manifest
  qa-heal.planx-pla.net/manifest.json
Labels: TestHomePage

#3202 Update manifest.json for qa dcf
  ctds-test-env.planx-pla.net/manifest.json
Labels: TestAuditService, TestRasAuthN, TestLoginPage, TestHomePage, TestUserToken, TestIndexingPage, TestDbgap, TestGoogleDataAccess, TestGen3Client, TestOIDCClient, TestDrsEndpoints
