Repository uc-cdis/gitops-qa, pull requests merged in 2025-06, with the labels that each got.

#3240 Gen3 Monthly Release 2025.05 qa-brh.planx-pla.net 1746809655
  qa-brh.planx-pla.net/manifest.json
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
Labels: TestRasAuthN, TestCentralizedAuth

#3269 PXP-11491 Delete NCT
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTIV-1 Data Use Limitations.pdf
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTIV-1 IM 3-14-A_Infliximab_SDTM Specifications.xlsx
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTIV-1 IM 3-14-B_Abatacept_SDTM Specifications.xlsx
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTIV-1 IM-3-14-C_Cenicriviroc_SDTM Specifications.xlsx
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTIV-1 NIAID information page_ 18July2023.docx
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTT-1 Data Dictionary.pdf
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTT-1 Data Use Limitations.pdf
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTT-2 Data Dictionary.pdf
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTT-2 Data Use Limitations.pdf
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTT-3 Data Dictionary.pdf
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTT-3 Data Use Limitations.pdf
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTT-4 Data Use Limitations.pdf
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTT2_Data_Dictionary_v3.0.pdf
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTT3_Data_Dictionary_v1.0.pdf
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTT4_Data_Dictionary_v1.0.pdf
  qa-niaid.planx-pla.net/dashboard/Public/files/IMPACC March 2022 Data Use Limitations.pdf
  qa-niaid.planx-pla.net/dashboard/Public/files/MARM-TB-FDT Data Use Limitations.pdf
  qa-niaid.planx-pla.net/dashboard/Public/files/NCT00811954 Data Use Limitations.pdf
  qa-niaid.planx-pla.net/dashboard/Public/files/NIAIDDUAAccessclinicaldata@NIAID.pdf
  qa-niaid.planx-pla.net/dashboard/Public/files/NIAID_DAR.pdf
  qa-niaid.planx-pla.net/dashboard/Public/files/SCRIPT Data Use Limitations.pdf
  qa-niaid.planx-pla.net/dashboard/Public/files/SCRIPT_Data_Dictionary.csv
  qa-niaid.planx-pla.net/dashboard/Public/maintenance-page/img/createdby.png
  qa-niaid.planx-pla.net/dashboard/Public/maintenance-page/img/error.svg
  qa-niaid.planx-pla.net/dashboard/Public/maintenance-page/img/gen3.png
  qa-niaid.planx-pla.net/dashboard/Public/maintenance-page/img/header-logo.png
  qa-niaid.planx-pla.net/dashboard/Public/maintenance-page/index.css
  qa-niaid.planx-pla.net/dashboard/Public/maintenance-page/index.html
  qa-niaid.planx-pla.net/etlMapping.yaml
  qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifests/fence/fence-config-public.yaml
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
  qa-niaid.planx-pla.net/manifests/scaling/scaling.json
  qa-niaid.planx-pla.net/portal/gitops-favicon.ico
  qa-niaid.planx-pla.net/portal/gitops-logo.png
  qa-niaid.planx-pla.net/portal/gitops-sponsors/niaid_dark.png
  qa-niaid.planx-pla.net/portal/gitops-sponsors/sars-cov2.png
  qa-niaid.planx-pla.net/portal/gitops.css
  qa-niaid.planx-pla.net/portal/gitops.json
Labels: decommission-environment

#3272 pointing to branch that contains the VPODC notebook
  qa-prometheus.planx-pla.net/manifest.json
Labels: TestDataUpload, TestWorkspacePage, TestUserToken, TestDbgap, TestGraphSubmitAndQuery

#3290 Updating CI env with 2025.07 jenkins-perf.planx-pla.net 1750436034
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: TestRasAuthN, TestCentralizedAuth, TestGraphSubmitAndQuery

#3289 Updating CI env with 2025.07 qa-dcp.planx-pla.net 1750436028
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: TestRasAuthN

#3274 Gen3 Monthly Release 2025.06 qa-covid19.planx-pla.net 1749058560
  qa-covid19.planx-pla.net/manifest.json
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
Labels: TestAuditService
