Repository uc-cdis/gitops-qa, pull requests merged in 2025-05, with the labels that each got.

#3237 Add project map File for qa-dcf
  ctds-test-env.planx-pla.net/manifests/datarefresh/GDC_project_map.json
Labels: TestDataUpload

#3248 Updating CI env with integration202506 jenkins-perf.planx-pla.net 1747232191
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#3246 remove heal study manifest from qa heal aggmds config
  .secrets.baseline
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Labels: TestRequestor

#3252 Update manifest.json
  qa-vpodc.planx-pla.net/manifest.json
Labels: TestDiscoveryPage

#3239 Gen3 Monthly Release 2025.05 qa-heal.planx-pla.net 1746806052
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Labels: TestLoginPage

#3256 Updating CI env with 2025.06 jenkins-perf.planx-pla.net 1747758989
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release, TestGraphSubmitAndQuery

#3259 Update qa-mickey manifest.json to stable versions
  qa-mickey.planx-pla.net/manifest.json
Labels: TestAuditService

#3261 Update Indices qa-vpodc
  qa-vpodc.planx-pla.net/manifest.json
Labels: TestDiscoveryPage
