Repository uc-cdis/gitops-qa, pull requests merged in 2025-07, with the labels that each got.

#3280 switch cadc qa mickey FF to main branch
  qa-mickey.planx-pla.net/manifest.json
Labels: TestHomePage, TestUserToken

#3322 qa-vpodc Test ETL mapping matching explorer config
  qa-vpodc.planx-pla.net/etlMapping.yaml
  qa-vpodc.planx-pla.net/manifest.json
Labels: TestLoginPage, TestHomePage, TestWorkspacePage, TestRequestor, TestUserToken, TestDbgap, TestGoogleDataAccess, TestETL, TestGraphSubmitAndQuery, TestOauth2

#3332 point qa-vpodc ff to main
  qa-vpodc.planx-pla.net/manifest.json
Labels: TestGuppyService

#3340 Updating CI env with 2025.08 jenkins-perf.planx-pla.net 1753374535
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: TestRasAuthN

#3339 Updating CI env with 2025.08 qa-dcp.planx-pla.net 1753374530
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: TestRasAuthN, TestDataUpload, TestRegisterUser
