Repository uc-cdis/gitops-qa, pull requests merged in 2025-03, with the labels that each got.

#3168 Upgrading all services to latest in qa-midrc
  qa-midrc.planx-pla.net/manifest.json
Labels: test-apis-etlTest

#3182 Updating CI env with integration202504 jenkins-perf.planx-pla.net 1742221619
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release

#3181 Updating CI env with integration202504 qa-dcp.planx-pla.net 1742221612
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release, test-portal-pfbExportTest

#3188 Pin audit and mds to 2025.01
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#3193 Remove karpenter provisioning for qaplanetv1
  qa.planx-pla.net/manifest.json
Labels: test-portal-homepageTest

#3196 Updating CI env with 2025.04 jenkins-perf.planx-pla.net 1743098859
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release, test-apis-OAuth2Test

#3195 Updating CI env with 2025.04 qa-dcp.planx-pla.net 1743098851
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Labels: gen3-release, test-google-googleDataAccessTest, test-portal-pfbExportTest
