Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8

Update manifest.json
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

fix etlMapping
  qa-dcp.planx-pla.net/etlMapping.yaml
Owners: @jingh8

fixing jenkins-dcp studyViewer
  jenkins-dcp.planx-pla.net/portal/gitops.json
Owners: @haraprasadj, @atharvar28, @jingh8

fix etlMapping
  qa-dcp.planx-pla.net/etlMapping.yaml
Owners: @jingh8

feat(qa-mickey): change app order
  qa-mickey.planx-pla.net/portal/gitops.json
Owners: @jingh8

added link to github pages for public JDC documentation
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

remove filecounts field
  qa-dcp.planx-pla.net/portal/gitops.json
Owners: @jingh8

Update gitops.json
  qa-dcp.planx-pla.net/portal/gitops.json
Owners: @jingh8

JCOIN dd to 2.1.0
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

added new category variables in ETL
  qa-jcoin.planx-pla.net/etlMapping.yaml
Owners: @atharvar28

del documentation placeholder
  qa-jcoin.planx-pla.net/dashboard/Public/index.html
Owners: @atharvar28

del unused cols in portal config including breaking changes
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

added ETL for new DD and added link to github pages for public JDC documentation (#1990)
  qa-jcoin.planx-pla.net/dashboard/Public/index.html
  qa-jcoin.planx-pla.net/etlMapping.yaml
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

remove filecounts field (#1989)
  qa-dcp.planx-pla.net/portal/gitops.json
Owners: @jingh8

QA_NCT_0.5.2_DD
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.05 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version 2022.05 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

qa-midrc tube to 0.6.9 to fix ETL/explorer
  qa-midrc.planx-pla.net/manifest.json
Owners: none

Update etlMapping.yaml
  qa-niaid.planx-pla.net/etlMapping.yaml
Owners: @atharvar28

Update manifest.json
  ctds-test-env.planx-pla.net/manifest.json
Owners: none

Update manifest.json
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

Update etlMapping.yaml
  qa-niaid.planx-pla.net/etlMapping.yaml
Owners: @atharvar28

dummy change to trigger test
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

Update Jenkinsfile
  Jenkinsfile
Owners: none

Update Jenkinsfile
  Jenkinsfile
Owners: none

add jenkins-workers to manifest
  qa.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

use latest aws-es-proxy
  qa.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

Update DUA
  qa-midrc.planx-pla.net/portal/gitops.json
Owners: none

removing tube since etl mapping is not defined here
  qa.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

update dua, fix comma
  qa-midrc.planx-pla.net/portal/gitops.json
Owners: none

PXP-9923
  qa-niaid.planx-pla.net/portal/gitops.json
Owners: @atharvar28

add jenkins-workers to manifest (#1996)
  qa.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

Update qa-midrc.planx-pla.net/portal/gitops.json
  qa-midrc.planx-pla.net/portal/gitops.json
Owners: none

update heal services
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

update heal services (#1999)
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Add dropdown button to qa-midrc
  qa-midrc.planx-pla.net/portal/gitops.json
Owners: none

Update gitops.json
  qa-midrc.planx-pla.net/portal/gitops.json
Owners: none

changes
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.html
Owners: @haraprasadj

apply version 2022.05 to qa-heal.planx-pla.net
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

apply version 2022.05 to qa-heal.planx-pla.net
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj
