Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

QA JCOIN - Add field to ETL mapping (#2138)
  qa-jcoin.planx-pla.net/etlMapping.yaml
Owners: @atharvar28

Update gitops such that it is consistent with new DD
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

fix-added hub documents back in
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

qa-jcoin Update gitops new dd (#2139)
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

added new ETL'ed fields to explorer page
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

changed tab titles
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

del unused field name mappings
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

QA JCOIN: Feature/explorer page additions (#2140)
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

feat(qa-mickey): correct URL for Atlas
  qa-mickey.planx-pla.net/portal/gitops.json
Owners: @jingh8

bumping cedar wrapper to 0.1.3
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update Jenkinsfile
  Jenkinsfile
Owners: none

Fix/explorer chart title
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

docs bigger pictures and grammer fixes
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/slide_10.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/slide_11.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/slide_13.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/slide_14.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/slide_15.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/slide_17.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/slide_18.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/slide_19.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/slide_20.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/slide_21.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/slide_22.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/slide_23.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/slide_26.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_sources/index.rst.txt
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_sources/temp.md.txt
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/slide_10.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/slide_11.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/slide_13.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/slide_14.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/slide_15.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/slide_17.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/slide_18.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/slide_19.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/slide_20.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/slide_21.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/slide_22.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/slide_23.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/slide_26.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/index.html
  qa-mickey.planx-pla.net/dashboard/Public/documentation/objects.inv
  qa-mickey.planx-pla.net/dashboard/Public/documentation/searchindex.js
  qa-mickey.planx-pla.net/dashboard/Public/documentation/temp.html
Owners: @jingh8

add default values for _subject_count for all commons in brh
  qa-brh.planx-pla.net/metadata/aggregate_config.json
Owners: none

apply version integration202209 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @jingh8

apply version integration202209 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

apply version integration202209 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version integration202209 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

testing studyViewer code change
  Jenkinsfile
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

updated aggconfig to include OADC,Canine and MIDRC NA fixes
  qa-brh.planx-pla.net/manifest.json
  qa-brh.planx-pla.net/metadata/aggregate_config.json
Owners: none

chore: bump requestor version in qa-heal
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

apply version 2022.08 to qa-midrc.planx-pla.net
  qa-midrc.planx-pla.net/manifest.json
Owners: none

updated HEAL aggregate_config.json
  .secrets.baseline
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

qa-heal MDs to 1.8.0
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

reverting to old versions until more direction is received
  .secrets.baseline
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

change HEAL's aggMDS to use agg_server_paging
  .secrets.baseline
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

chore(portal): bump version
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

feat(qa-mickey): update to versions
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

removing duplicate `data_category` field
  qa-dcp.planx-pla.net/etlMapping.yaml
Owners: @jingh8

dummy to trigger CI pipeline
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

removing duplicate `data_category` field (#2158)
  qa-dcp.planx-pla.net/etlMapping.yaml
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

apply version 2022.08 to qa.planx-pla.net
  qa.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

Update manifest.json
  qa.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

Update manifest.json
  qa.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

Bumping up the version of metadata 22.06 to 22.08
  qa-midrc.planx-pla.net/manifest.json
Owners: none

Updating env qa-midrc the manifest 2202.08
  qa-midrc.planx-pla.net/manifest.json
Owners: none

Gen3 Monthly Release 2022.08 qa.planx-pla.net 1661237073 (#2159)
  qa.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

Enabling the dicom viewer
  qa-midrc.planx-pla.net/manifest.json
  qa-midrc.planx-pla.net/portal/gitops.json
Owners: none

Update qa-canine to master
  qa-canine.planx-pla.net/manifest.json
Owners: @trevars, @haraprasadj, @atharvar28, @jingh8

added git tag for MDS, changed wts release version
  qa-brh.planx-pla.net/manifest.json
Owners: none

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8
