Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8

Update gitops.json
  qa-mickey.planx-pla.net/portal/gitops.json
Owners: @jingh8

feat update documentation to version 8
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_sources/index.rst.txt
  qa-mickey.planx-pla.net/dashboard/Public/documentation/index.html
  qa-mickey.planx-pla.net/dashboard/Public/documentation/searchindex.js
Owners: @jingh8

feat add images to va doc
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/Image_from_slide_10.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/Image_from_slide_11.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/Image_from_slide_13.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/Image_from_slide_14.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/Image_from_slide_15.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/Image_from_slide_17.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/Image_from_slide_18.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/Image_from_slide_19.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/Image_from_slide_20.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/Image_from_slide_21.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/Image_from_slide_22.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/Image_from_slide_23.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/Image_from_slide_26.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/test.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_sources/index.rst.txt
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/Image_from_slide_10.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/Image_from_slide_11.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/Image_from_slide_13.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/Image_from_slide_14.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/Image_from_slide_15.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/Image_from_slide_17.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/Image_from_slide_18.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/Image_from_slide_19.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/Image_from_slide_20.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/Image_from_slide_21.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/Image_from_slide_22.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/Image_from_slide_23.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/Image_from_slide_26.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/test.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/index.html
  qa-mickey.planx-pla.net/dashboard/Public/documentation/searchindex.js
Owners: @jingh8

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json (#2106)
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

revert back to using master branch
  Jenkinsfile
Owners: none

apply version 2022.07 to qa-anvil.planx-pla.net
  qa-anvil.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version 2022.07 to qa-anvil.planx-pla.net
  qa-anvil.planx-pla.net/manifest.json
Owners: @atharvar28

change from case_id to _case_id
  jenkins-blood.planx-pla.net/etlMapping.yaml
  jenkins-blood.planx-pla.net/portal/gitops.json
  jenkins-brain.planx-pla.net/etlMapping.yaml
  jenkins-brain.planx-pla.net/portal/gitops.json
Owners: @haraprasadj, @atharvar28, @jingh8

udpate services
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

udpate services (#2109)
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Update gitops.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Update aggregate_config.json
  qa-brh.planx-pla.net/metadata/aggregate_config.json
Owners: none

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

add favicon
  qa-heal.planx-pla.net/portal/gitops-favicon.ico
Owners: @haraprasadj

disable study reg
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

remove kayako
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json (#2110)
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops-favicon.ico
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Update manifest.json
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

apply version 2022.08 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

apply version 2022.08 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @jingh8

apply version 2022.08 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.08 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

fix hatchery config for decoupled workspaces
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

fix hatchery config for decoupled workspaces (#2113)
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

fix command in hatchery for decoupled workspaces
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

fix command in hatchery for decoupled workspaces (#2115)
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

update midrc entry for qa-brh aggMDS config
  qa-brh.planx-pla.net/metadata/aggregate_config.json
Owners: none

[WIP] Replaced Prod urls with qa urls
  qa-brh.planx-pla.net/metadata/aggregate_config.json
Owners: none

Update manifest.json (#2114)
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

apply hatchery changes for decoupled ws in jenkins
  .secrets.baseline
  jenkins-new.planx-pla.net/manifest.json
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

increase memory limit
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

reduce sidecar memory
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

do not use midrc es aliases
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-new.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

do not use midrc es aliases
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-new.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

do not use midrc es aliases (#2120)
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-new.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

apply hatchery changes for decoupled ws in jenkins (#2118)
  .secrets.baseline
  jenkins-new.planx-pla.net/manifest.json
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

dummy PR for testing
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj
