Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8

Making changes to GitopsJson
  qa-brh.planx-pla.net/manifest.json
  qa-brh.planx-pla.net/portal/gitops.json
Owners: none

reverting tube back to 2022.10 version
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.09 to qa-brh.planx-pla.net
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
Owners: none

apply version 2022.09 to qa-brh.planx-pla.net
  qa-brh.planx-pla.net/manifest.json
Owners: none

Update manifest.json
  qa-brh.planx-pla.net/manifest.json
Owners: none

use new feature flag to enable faster refresh of WTS token
  qa-mickey.planx-pla.net/portal/gitops.json
Owners: @jingh8

Update qa-brh.planx-pla.net/manifest.json
  qa-brh.planx-pla.net/manifest.json
Owners: none

test portalConfig validation script
  .travis.yml
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

Updating the type
  .travis.yml
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

Update gitops.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

remove unused ct.gov fields
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

add fields back
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

QA-heal ct.gov cedar fixes (#2229)
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

remove duplicate props
  qa-anvil.planx-pla.net/etlMapping.yaml
Owners: @atharvar28

apply version 2022.10 to qa.planx-pla.net
  qa.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

Update manifest.json
  qa.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

apply version 2022.10 to qa-heal.planx-pla.net
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

apply version 2022.10 to qa-heal.planx-pla.net
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Remove duplicate `project_id` from jenkins-new
  jenkins-new.planx-pla.net/etlMapping.yaml
Owners: @haraprasadj, @atharvar28, @jingh8

apply version integration202211 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version integration202211 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

apply version integration202211 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

apply version integration202211 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @jingh8

Gen3 Monthly Release 2022.10 qa-heal.planx-pla.net 1665757027 (#2232)
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

Update etlMapping.yaml
  qa-dcp.planx-pla.net/etlMapping.yaml
Owners: @jingh8

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update etlMapping.yaml
  qa-dcp.planx-pla.net/etlMapping.yaml
Owners: @jingh8

Update etlMapping.yaml
  qa-dcp.planx-pla.net/etlMapping.yaml
Owners: @jingh8

apply version 2022.10 to qa-covid19.planx-pla.net
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.10 to qa-covid19.planx-pla.net
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

Update etlMapping.yaml
  qa-ibd.planx-pla.net/etlMapping.yaml
Owners: @atharvar28

Updating Env qa-dcp.planx-pla.net - integration202211 1666100339 (#2235)
  qa-dcp.planx-pla.net/etlMapping.yaml
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @jingh8

Update etlMapping.yaml
  qa-ibd.planx-pla.net/etlMapping.yaml
Owners: @atharvar28

Update etlMapping.yaml
  qa-ibd.planx-pla.net/etlMapping.yaml
Owners: @atharvar28

Updating Env qa-ibd.planx-pla.net - integration202211 1666100015 (#2234)
  qa-ibd.planx-pla.net/etlMapping.yaml
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

qa-heal cedar-wrapper 0.2.0
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update fence-config-public.yaml
  qa-ibd.planx-pla.net/manifests/fence/fence-config-public.yaml
Owners: @atharvar28
