Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

Update manifest.json (#2178)
  qa-brh.planx-pla.net/manifest.json
Owners: none

reverting heal gitops change, putting it in a different PR
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Updating the workspace policy with the new umbrella policy
  qa-brh.planx-pla.net/portal/gitops.json
Owners: none

qa-heal: add qa-jcoin back to agg mds config
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

qa-heal: add qa-jcoin back to agg mds config (#2179)
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

change project id to project name for datasets tab
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

del hub documentation (final decision was to put in public docs)
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

del hub documentation (button)
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

del notebook browser button
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

qa-heal Deploy 'feat/heal-ct.gov' portal branch
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

qa-heal Deploy 'feat/heal-ct.gov' portal branch
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Updated release version of requestor
  qa-brh.planx-pla.net/manifest.json
Owners: none

resource browser to back to public
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

qa-jcoin Homepage and explorer UI final content changes (#2180)
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

Add workspaceRegistration flags to qa-brh (#2163)
  qa-brh.planx-pla.net/manifest.json
  qa-brh.planx-pla.net/portal/gitops.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Update qa-heal study reg config to match with new portal
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

feat update portal to 3.32.0
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

update cohort-middleware entry to point to master
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

fix: quarter_recruited --> quarter_of_sae in SAE tab
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

qa-jcoin fix to SAE explorer tab (#2184)
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

qa-heal portal to 3.32.1
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

made_changes_in_gitops.css
  qa-bloodpac.planx-pla.net/portal/gitops.css
Owners: @haraprasadj, @atharvar28, @jingh8

feat make portal point to master for qa-mickey
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

chore(qa-brh): use agg WTS
  qa-brh.planx-pla.net/portal/gitops.json
Owners: none

chore/UpdateBloodpac: update servaces to match production versions
  qa-bloodpac.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

Update qa-bloodpac.planx-pla.net/manifest.json
  qa-bloodpac.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

chore/UpdateBloodpac: update manifest to look like production
  qa-bloodpac.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

chore/UpdateBloodpac: fence update
  qa-bloodpac.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

chore/UpdateBloodpac: revert some changes
  qa-bloodpac.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

merge agg_mds_true_access_brh_changes
  qa-brh.planx-pla.net/manifest.json
Owners: none

add portal changes
  qa-brh.planx-pla.net/portal/gitops.json
Owners: none

updated portal branch for BRH
  qa-brh.planx-pla.net/manifest.json
Owners: none

removed portal gitops.json changes as already in portal feat branch
  qa-brh.planx-pla.net/portal/gitops.json
Owners: none

login title: "portal" to "data commons"
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

changed app name from portal to data commons
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

QA JCOIN login page title: "portal" to "data commons" (#2190)
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

apply version integration202210 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

apply version integration202210 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @jingh8

apply version integration202210 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

apply version integration202210 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8
