Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8

apply version 2022.04 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

feat(disco-tab-config):
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

feat(disco-tab-config):
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Change requestor branch and gen3-qa-branch
  Jenkinsfile
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

Changing documentation link to gen3 client docs
  qa-mickey.planx-pla.net/portal/gitops.json
Owners: @jingh8

feat(qa-mickey): demo branch for portal
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

feat(qa-mickey): making it similar to prod
  qa-mickey.planx-pla.net/portal/gitops.json
Owners: @jingh8

fix(qa-mickey): missing comma
  qa-mickey.planx-pla.net/portal/gitops.json
Owners: @jingh8

link to correct UI branch
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

feat(argo): test new config script
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

fix(test): correct etl-mapping to tube tests
  jenkins-blood.planx-pla.net/etlMapping.yaml
  jenkins-brain.planx-pla.net/etlMapping.yaml
  jenkins-dcp.planx-pla.net/etlMapping.yaml
  jenkins-genomel.planx-pla.net/etlMapping.yaml
  jenkins-new.planx-pla.net/etlMapping.yaml
Owners: @haraprasadj, @atharvar28, @jingh8

feat(argo-wrapper): add manifest
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

fix(argo): move bucket properties to manifests directory
  qa-mickey.planx-pla.net/manifest.json
  qa-mickey.planx-pla.net/manifests/argo/argo.json
Owners: @jingh8

qa-midrc orthanc on master
  qa-midrc.planx-pla.net/manifest.json
Owners: none

fix(test): correct etl-mapping to tube tests (#1936)
  jenkins-blood.planx-pla.net/etlMapping.yaml
  jenkins-brain.planx-pla.net/etlMapping.yaml
  jenkins-dcp.planx-pla.net/etlMapping.yaml
  jenkins-genomel.planx-pla.net/etlMapping.yaml
  jenkins-new.planx-pla.net/etlMapping.yaml
Owners: @haraprasadj, @atharvar28, @jingh8

chore(ctds-test-env): upgrade arborist to 3.4.0
  ctds-test-env.planx-pla.net/manifest.json
Owners: none

fix(tube): postgresql compatibility
  qa-covid19.planx-pla.net/manifest.json
  qa-midrc.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

qa-dcp_data_dictionary_4.3.0
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

jenkins new - use decoupled workspaces
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

feat(argo): add config to qaplanetv1
  qa.planx-pla.net/manifests/argo/argo.json
Owners: @haraprasadj, @atharvar28, @jingh8

fix(tube): postgresql compatibility (#1939)
  qa-covid19.planx-pla.net/manifest.json
  qa-midrc.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.04 to qa-jcoin.planx-pla.net
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.04 to qa-jcoin.planx-pla.net
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version 2022.04 to qa-niaid.planx-pla.net
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version 2022.04 to qa-niaid.planx-pla.net
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.04 to qa-covid19.planx-pla.net
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.04 to qa-covid19.planx-pla.net
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

Update fence-config-public.yaml
  qa-niaid.planx-pla.net/manifests/fence/fence-config-public.yaml
Owners: @atharvar28

Update manifest.json
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

qa-niaid: test ImmPort login (#1946)
  qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifests/fence/fence-config-public.yaml
Owners: @atharvar28

updating portal version
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

updating portal version
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

updating portal version
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

feat(qa-mickey): release 0.1.0 for cohort-middleware
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

feat(qa-mickey): sorting versions section
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

feat(vadc): test pre-demo release
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

feat(qa-mickey): use ECR images
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

change jcoin prod to jcoin qa for adapter
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

JCOIN adapter connects to JCOIN QA instead of JCOIN PROD (#1948)
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

qa-midrc: rename orthanc => dicom-server
  qa-midrc.planx-pla.net/manifest.json
Owners: none
