Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8

deploy
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

deploy (#2051)
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

PRC ETL to 5.2.1
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

update text
  qa-mickey.planx-pla.net/portal/gitops.json
Owners: @jingh8

feat(qa-mickey.planx-pla.net): hide resources from profile page
  qa-mickey.planx-pla.net/portal/gitops.json
Owners: @jingh8

Update manifest.json
  ctds-test-env.planx-pla.net/manifest.json
Owners: none

dummy commit
  qa-midrc.planx-pla.net/manifest.json
Owners: none

Update Jenkinsfile
  Jenkinsfile
Owners: none

apply version 2022.06 to qa-niaid.planx-pla.net
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version 2022.06 to qa-niaid.planx-pla.net
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.06 to qa-kidsfirst.planx-pla.net
  qa-kidsfirst.planx-pla.net/manifest.json
Owners: @atharvar28

update tab charts nb
  qa-covid19.planx-pla.net/dashboard/Public/notebooks/IL_tab_charts.html
Owners: @atharvar28

Update jupyter-covid19.yaml
  qa-covid19.planx-pla.net/manifests/hatchery/jupyter-covid19.yaml
Owners: @atharvar28

feat add argo template to portal
  qa-mickey.planx-pla.net/portal/gitops.json
Owners: @jingh8

checking frontend_root changes - negative
  qa-midrc.planx-pla.net/manifest.json
Owners: none

Update Jenkinsfile
  Jenkinsfile
Owners: none

Update Jenkinsfile
  Jenkinsfile
Owners: none

add google mobility data citation
  qa-covid19.planx-pla.net/portal/gitops.json
Owners: @atharvar28

Update gitops.json
  qa-covid19.planx-pla.net/portal/gitops.json
Owners: @atharvar28

remove double space
  qa-covid19.planx-pla.net/portal/gitops.json
Owners: @atharvar28

add google mobility data citation (#2060)
  qa-covid19.planx-pla.net/portal/gitops.json
Owners: @atharvar28

PRC chart description: add new line
  qa-covid19.planx-pla.net/portal/gitops.json
Owners: @atharvar28

update
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

update (#2061)
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

apply version integration202207 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

apply version integration202207 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

apply version integration202207 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version integration202207 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @jingh8

add tierAccessLevel in gitops.json
  qa-ibd.planx-pla.net/portal/gitops.json
Owners: @atharvar28

Update manifest.json
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

updating the tierAccessLevel for indices
  qa-ibd.planx-pla.net/portal/gitops.json
Owners: @atharvar28

feat/setNIAIDportalTobanch: point NIAD data-portal to feat/userLoginIDPRedirect
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

dummy commit
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

dummy commit to retrigger travis
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

updated midrc QA config
  qa-midrc.planx-pla.net/etlMapping.yaml
  qa-midrc.planx-pla.net/gitops.json
  qa-midrc.planx-pla.net/manifest.json
Owners: none

updated gitops.json
  qa-midrc.planx-pla.net/gitops.json
  qa-midrc.planx-pla.net/portal/gitops.json
Owners: none

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

feat update argo wrapper to release 1.0.1
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8
