Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

Add new nb
  qa-heal.planx-pla.net/dashboard/Public/notebooks/VisualizingChangesInOpioidTreatmentPolicy.png
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

feat(qa-mickey): new release of cohort-middleware
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

feat(qa-mickey): pinning cohort-middleware to latest for now
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

feat(qa-mickey): pin master for cohort-middleware
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

update argo
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

qa-niaid fence debug branch
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

updating to ECR path
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

update to ECR path
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

apply version integration202205 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @jingh8

apply version integration202205 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

revert back the fence version
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

apply version integration202205 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

apply version integration202205 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

update aws-proxy version
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

qa-midrc explorer: remove duplicate study_description
  qa-midrc.planx-pla.net/portal/gitops.json
Owners: none

fix(version): update tube version to 0.6.5
  qa-covid19.planx-pla.net/manifest.json
  qa-midrc.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

fix(version): update tube version to 0.6.5 (#1956)
  qa-covid19.planx-pla.net/manifest.json
  qa-midrc.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json (#1957)
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

feat add enviorment and indexd_admin_user to argo wrapper config
  qa-mickey.planx-pla.net/manifests/argo/argo.json
Owners: @jingh8

Updating CI env with integration202205 qa-ibd.planx-pla.net 1649693746 (#1955)
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

Updating CI env with integration202205 qa-dcp.planx-pla.net 1649690605 (#1954)
  qa-dcp.planx-pla.net/manifest.json
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @jingh8

remove mariner from manifests
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-blood.planx-pla.net/manifests/mariner/mariner.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/manifests/mariner/mariner.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifests/mariner/mariner.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifests/mariner/mariner.json
  jenkins-new.planx-pla.net/manifest.json
  jenkins-new.planx-pla.net/manifests/mariner/mariner.json
  jenkins-niaid.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifests/mariner/mariner.json
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/mariner/mariner.json
  qa-covid19.planx-pla.net/manifest.json
  qa-mickey.planx-pla.net/manifest.json
  qa-mickey.planx-pla.net/manifests/mariner/mariner.json
Owners: @haraprasadj, @atharvar28, @jingh8

remove mariner from manifests (#1959)
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-blood.planx-pla.net/manifests/mariner/mariner.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/manifests/mariner/mariner.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifests/mariner/mariner.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifests/mariner/mariner.json
  jenkins-new.planx-pla.net/manifest.json
  jenkins-new.planx-pla.net/manifests/mariner/mariner.json
  jenkins-niaid.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifests/mariner/mariner.json
  jenkins-perf.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifests/mariner/mariner.json
  qa-covid19.planx-pla.net/manifest.json
  qa-mickey.planx-pla.net/manifest.json
  qa-mickey.planx-pla.net/manifests/mariner/mariner.json
Owners: @haraprasadj, @atharvar28, @jingh8

qa-jcoin DD 2.0.0
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

jenkins new - use decoupled workspaces (#1941)
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

qa-niaid: deploy workaround to test ImmPort login
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

add latest ff changes to qa heal
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

fix(tube): bump to 0.6.6
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

fix(tube): bump to 0.6.6 (#1961)
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.04 to qa-heal.planx-pla.net
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

apply version 2022.04 to qa-heal.planx-pla.net
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update hatchery.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

use decoupled workspaces in jenkins-genomel and jenkins-niaid
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

qa-ibd: use new qa-ibd user.yaml
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

qa-ibd: use new qa-ibd user.yaml (#1964)
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

Updating_tube_v.0.6.6
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8
