Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @uc-cdis/planx-qa, @nmetokishlubsky, @haraprasadj, @atharvar28, @hughestr, @radhrreddy, @briennal, @frankliuao, @cgmeyer

GWAS Results App update
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_sources/index.rst.txt
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/documentation_options.js
  qa-mickey.planx-pla.net/dashboard/Public/documentation/genindex.html
  qa-mickey.planx-pla.net/dashboard/Public/documentation/index.html
  qa-mickey.planx-pla.net/dashboard/Public/documentation/search.html
  qa-mickey.planx-pla.net/dashboard/Public/documentation/searchindex.js
Owners: @nmetokishlubsky, @haraprasadj

remove pidgin deployment form jenkins-envs
  .secrets.baseline
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-new-1.planx-pla.net/manifest.json
  jenkins-new-2.planx-pla.net/manifest.json
  jenkins-new-3.planx-pla.net/manifest.json
  jenkins-new-4.planx-pla.net/manifest.json
  jenkins-new.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifest.json
Owners: @uc-cdis/planx-qa

updating sower block jenkins-perf
  jenkins-perf.planx-pla.net/manifest.json
Owners: @uc-cdis/planx-qa

Update manifest.json
  jenkins-perf.planx-pla.net/manifest.json
Owners: @uc-cdis/planx-qa

update sower block
  jenkins-perf.planx-pla.net/manifest.json
Owners: @uc-cdis/planx-qa

revert jenkins-perf changes
  jenkins-perf.planx-pla.net/manifest.json
Owners: @uc-cdis/planx-qa

revert jenkins-perf changes 1
  jenkins-perf.planx-pla.net/manifest.json
Owners: @uc-cdis/planx-qa

apply version 2023.08 to qa-mickey.planx-pla.net
  qa-mickey.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @nmetokishlubsky, @haraprasadj

apply version 2023.08 to qa-mickey.planx-pla.net
  qa-mickey.planx-pla.net/manifest.json
Owners: @nmetokishlubsky, @haraprasadj

apply version 2023.08 to qa-midrc.planx-pla.net
  qa-midrc.planx-pla.net/manifest.json
Owners: @frankliuao, @cgmeyer

Add kayako `0.2.0` in `qa-brh` (#2576)
  qa-brh.planx-pla.net/manifest.json
Owners: @briennal, @haraprasadj

qa-ibd persist nextflow testing change
  qa-ibd.planx-pla.net/manifest.json
Owners: @hughestr, @atharvar28

fix: /workspace link in portal
  jenkins-brain.planx-pla.net/portal/gitops.json
  jenkins-new-1.planx-pla.net/portal/gitops.json
  jenkins-new-2.planx-pla.net/portal/gitops.json
  jenkins-new-3.planx-pla.net/portal/gitops.json
  jenkins-new-4.planx-pla.net/portal/gitops.json
  jenkins-new.planx-pla.net/portal/gitops.json
Owners: @uc-cdis/planx-qa

apply version integration202309 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @uc-cdis/planx-qa

apply version integration202309 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifest.json
Owners: @hughestr, @atharvar28

apply version 2023.09 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @uc-cdis/planx-qa

apply version 2023.09 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @uc-cdis/planx-qa

apply version 2023.09 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifest.json
Owners: @hughestr, @atharvar28

apply version 2023.09 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @hughestr, @atharvar28

TEST PR - DO NOT MERGE
  qa-niaid.planx-pla.net/manifest.json
Owners: @hughestr, @atharvar28

qa-ibd update nextflow config
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @hughestr, @atharvar28

Update qa-niaid
  qa-niaid.planx-pla.net/portal/gitops.json
Owners: @hughestr, @atharvar28

Update gitops.json
  qa-niaid.planx-pla.net/portal/gitops.json
Owners: @hughestr, @atharvar28

adding manifest and data-portal branch into qa covid19
  qa-covid19.planx-pla.net/manifest.json
  qa-covid19.planx-pla.net/portal/gitops.json
Owners: @hughestr, @atharvar28

feat: update VADC QA to sprint17 results
  qa-mickey.planx-pla.net/manifest.json
Owners: @nmetokishlubsky, @haraprasadj

feat: update VADC QA to sprint17 results (#2596)
  qa-mickey.planx-pla.net/manifest.json
Owners: @nmetokishlubsky, @haraprasadj

Update qa-covid19.planx-pla.net/manifest.json
  qa-covid19.planx-pla.net/manifest.json
Owners: @hughestr, @atharvar28

remove download links
  qa-covid19.planx-pla.net/portal/gitops.json
Owners: @hughestr, @atharvar28

qa-niaid Fix new dataset announcement
  qa-niaid.planx-pla.net/portal/gitops.json
Owners: @hughestr, @atharvar28

apply version 2023.09 to qa-midrc.planx-pla.net
  qa-midrc.planx-pla.net/manifest.json
Owners: @frankliuao, @cgmeyer

qa-niaid Update gitops.json (#2594)
  qa-niaid.planx-pla.net/portal/gitops.json
Owners: @hughestr, @atharvar28

qa-niaid update ACTIV-1 docs
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTIV-1 Data Use Limitations.pdf
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTIV-1 IM 3-14-A_Infliximab_SDTM Specifications.xlsx
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTIV-1 IM 3-14-B_Abatacept_SDTM Specifications.xlsx
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTIV-1 IM-3-14-C_Cenicriviroc_SDTM Specifications.xlsx
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTIV-1 NIAID information page_ 18July2023.docx
  qa-niaid.planx-pla.net/dashboard/Public/files/TEST.xlsx
  qa-niaid.planx-pla.net/dashboard/Public/files/TEST2.xlsx
  qa-niaid.planx-pla.net/dashboard/Public/files/TEST3.xlsx
  qa-niaid.planx-pla.net/dashboard/Public/files/TEST4.xlsx
Owners: @hughestr, @atharvar28

adding manifest and data-portal branch into qa covid19 (#2595)
  qa-covid19.planx-pla.net/manifest.json
  qa-covid19.planx-pla.net/portal/gitops.json
Owners: @hughestr, @atharvar28

removing Kyle Hernandez (former employee)
  jenkins-brain.planx-pla.net/manifests/argo/argo.json
  qa-mickey.planx-pla.net/manifests/argo/argo.json
Owners: @uc-cdis/planx-qa, @nmetokishlubsky, @haraprasadj

test PR- DO NOT MERGE
  qa-niaid.planx-pla.net/manifest.json
Owners: @hughestr, @atharvar28

update aggmds for ICPSR studies
  .secrets.baseline
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @hughestr, @haraprasadj

align json config
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @hughestr, @haraprasadj

remove entry
  .secrets.baseline
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @hughestr, @haraprasadj

update aggmds for ICPSR studies (#2600)
  .secrets.baseline
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @hughestr, @haraprasadj

(HP-1059): set fence version for VLMD
  qa-heal.planx-pla.net/manifest.json
Owners: @hughestr, @haraprasadj

CODEOWNERS:

qa-acct.planx-pla.net @uc-cdis/planx-qa
qa-bloodpac.planx-pla.net @uc-cdis/planx-qa
qa-canine.planx-pla.net @uc-cdis/planx-qa
qa.planx-pla.net @uc-cdis/planx-qa
qaplanetv2.planx-pla.net @uc-cdis/planx-qa

qa-mickey.planx-pla.net @nmetokishlubsky @haraprasadj
qa-anvil.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @uc-cdis/planx-qa

qa-covid19.planx-pla.net @hughestr @atharvar28
qa-ibd.planx-pla.net @hughestr @atharvar28
qa-jcoin.planx-pla.net @hughestr @atharvar28
qa-kidsfirst.planx-pla.net @radhrreddy @atharvar28
qa-niaid.planx-pla.net @hughestr @atharvar28

qa-heal.planx-pla.net @hughestr @haraprasadj
qa-brh.planx-pla.net @briennal @haraprasadj
qa-midrc.planx-pla.net @frankliuao @cgmeyer

jenkins-blood.planx-pla.net @uc-cdis/planx-qa
jenkins-brain.planx-pla.net @uc-cdis/planx-qa
jenkins-dcp.planx-pla.net @uc-cdis/planx-qa
jenkins-genomel.planx-pla.net @uc-cdis/planx-qa
jenkins-niaid.planx-pla.net @uc-cdis/planx-qa
jenkins-new.planx-pla.net @uc-cdis/planx-qa
jenkins-perf.planx-pla.net @uc-cdis/planx-qa
