Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @uc-cdis/planx-qa, @nmetokishlubsky, @haraprasadj, @atharvar28, @hughestr, @radhrreddy, @briennal, @frankliuao, @cgmeyer

CODEOWNERS:

qa-acct.planx-pla.net @uc-cdis/planx-qa
qa-bloodpac.planx-pla.net @uc-cdis/planx-qa
qa-canine.planx-pla.net @uc-cdis/planx-qa
qa.planx-pla.net @uc-cdis/planx-qa
qaplanetv2.planx-pla.net @uc-cdis/planx-qa

qa-mickey.planx-pla.net @nmetokishlubsky @haraprasadj
qa-anvil.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @uc-cdis/planx-qa

qa-covid19.planx-pla.net @hughestr @atharvar28
qa-ibd.planx-pla.net @hughestr @atharvar28
qa-jcoin.planx-pla.net @hughestr @atharvar28
qa-kidsfirst.planx-pla.net @radhrreddy @atharvar28
qa-niaid.planx-pla.net @hughestr @atharvar28

qa-heal.planx-pla.net @hughestr @haraprasadj
qa-brh.planx-pla.net @briennal @haraprasadj
qa-midrc.planx-pla.net @frankliuao @cgmeyer

jenkins-blood.planx-pla.net @uc-cdis/planx-qa
jenkins-brain.planx-pla.net @uc-cdis/planx-qa
jenkins-dcp.planx-pla.net @uc-cdis/planx-qa
jenkins-genomel.planx-pla.net @uc-cdis/planx-qa
jenkins-niaid.planx-pla.net @uc-cdis/planx-qa
jenkins-new.planx-pla.net @uc-cdis/planx-qa
jenkins-perf.planx-pla.net @uc-cdis/planx-qa

(HP-1059): set fence version for VLMD (#2601)
  qa-heal.planx-pla.net/manifest.json
Owners: @hughestr, @haraprasadj

Dummy PR to test exportToWorkspace in qa-brh
  qa-brh.planx-pla.net/manifest.json
Owners: @briennal, @haraprasadj

feat: update VA QA OHDSI/WebAPI with new prototype version
  qa-mickey.planx-pla.net/manifest.json
Owners: @nmetokishlubsky, @haraprasadj

feat: update VA QA OHDSI/WebAPI with new prototype version (#2603)
  qa-mickey.planx-pla.net/manifest.json
Owners: @nmetokishlubsky, @haraprasadj

feat: update VA QA OHDSI/WebAPI with new prototype version
  qa-mickey.planx-pla.net/manifest.json
Owners: @nmetokishlubsky, @haraprasadj

feat: update VA QA OHDSI/WebAPI with new prototype version (#2604)
  qa-mickey.planx-pla.net/manifest.json
Owners: @nmetokishlubsky, @haraprasadj

apply version 2023.09 to qa-brh.planx-pla.net
  qa-brh.planx-pla.net/manifest.json
Owners: @briennal, @haraprasadj

apply version 2023.09 to qa-brh.planx-pla.net
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @briennal, @haraprasadj

test:exportToWorkspace qa-mickey
  Jenkinsfile
  qa-mickey.planx-pla.net/manifest.json
Owners: @nmetokishlubsky, @haraprasadj

test:exportToWorkspace qa-heal
  qa-heal.planx-pla.net/manifest.json
  qa-mickey.planx-pla.net/manifest.json
Owners: @hughestr, @haraprasadj, @nmetokishlubsky

qa-ibd - Update nextflow AMI
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @hughestr, @atharvar28

move portal image to master for testing
  qa-heal.planx-pla.net/manifest.json
Owners: @hughestr, @haraprasadj

Update manifest.json
  qa-mickey.planx-pla.net/manifest.json
Owners: @nmetokishlubsky, @haraprasadj

Update wts to master
  qa-heal.planx-pla.net/manifest.json
Owners: @hughestr, @haraprasadj

replace/update static notebook in QA HEAL and QA BRH
  qa-brh.planx-pla.net/dashboard/Public/notebooks/JCOIN_PDAPS_Public_Policy_Changes_v2.html
  qa-brh.planx-pla.net/portal/gitops.json
  qa-heal.planx-pla.net/dashboard/Public/notebooks/JCOIN_PDAPS_Public_Policy_Changes.png
  qa-heal.planx-pla.net/dashboard/Public/notebooks/JCOIN_PDAPS_Public_Policy_Changes_v2.html
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @briennal, @haraprasadj, @hughestr
