Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

add gen3ff to qa_midrc
  qa-midrc.planx-pla.net/manifest.json
Owners: none

Seperating the prod metadata in brh
  qa-brh.planx-pla.net/metadata/aggregate_config_prod.json
Owners: none

Update Jenkinsfile
  Jenkinsfile
Owners: none

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

fix decoupled ws config on jenkins envs
  .secrets.baseline
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

apply version 2022.08 to qa-heal.planx-pla.net
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

apply version 2022.08 to qa-heal.planx-pla.net
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

fix decoupled ws config on jenkins envs (#2123)
  .secrets.baseline
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

apply version 2022.07 to qa-jcoin.planx-pla.net
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.07 to qa-jcoin.planx-pla.net
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

deploy .08 instead of .07
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Gen3 Monthly Release 2022.08 qa-heal.planx-pla.net 1659103246 (#2124)
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

Update gitops.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Update gitops.json (#2126)
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

(HP-828) chore: add disclaimer to registration
  .secrets.baseline
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

(HP-828) chore: update disclaimer to remove ending period
  .secrets.baseline
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

put back kayako wrapper
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

put back kayako wrapper (#2128)
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

feat add dichotomous variables to va doc
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_sources/index.rst.txt
  qa-mickey.planx-pla.net/dashboard/Public/documentation/index.html
  qa-mickey.planx-pla.net/dashboard/Public/documentation/searchindex.js
Owners: @jingh8

apply version 2022.08 to qa-kidsfirst.planx-pla.net
  qa-kidsfirst.planx-pla.net/manifest.json
Owners: @atharvar28

Add list item to QA NIAID gitops.json
  qa-niaid.planx-pla.net/portal/gitops.json
Owners: @atharvar28

Add list item to QA NIAID gitops.json (#2131)
  qa-niaid.planx-pla.net/portal/gitops.json
Owners: @atharvar28

Add list item to QA NIAID gitops.json redux
  qa-niaid.planx-pla.net/portal/gitops.json
Owners: @atharvar28

Add list item to QA NIAID gitops.json redux (#2132)
  qa-niaid.planx-pla.net/portal/gitops.json
Owners: @atharvar28

qa-niaid portal - add space
  qa-niaid.planx-pla.net/portal/gitops.json
Owners: @atharvar28

qa-niaid portal 3.29.0 for study viewer update
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

trigger dicom-viewer test
  qa-midrc.planx-pla.net/manifest.json
Owners: none

qa-niaid portal to 3.29.1 (typo fix)
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

fix minor bugs in va
  qa-mickey.planx-pla.net/manifest.json
  qa-mickey.planx-pla.net/portal/gitops-createdby.png
  qa-mickey.planx-pla.net/portal/gitops.json
Owners: @jingh8

Update Jenkinsfile
  Jenkinsfile
Owners: none

Dummy PR to test aurora
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

chore(version): bump argo wrapper tag
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

udpate services
  .secrets.baseline
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

update aggmds config
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Chore/update qaheal (#2137)
  .secrets.baseline
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Updated one of the etl mappings to include current_client_status
  qa-jcoin.planx-pla.net/etlMapping.yaml
Owners: @atharvar28

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8
