Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

Add Workspace registration flags in qa-brh
  qa-brh.planx-pla.net/portal/gitops.json
Owners: none

Add workspaceRegistration flags to qa-brh
  qa-brh.planx-pla.net/portal/gitops.json
Owners: none

Remove hatchery config
  qa-midrc.planx-pla.net/manifest.json
Owners: none

feat(VADC-41): move submitted jobs to separate app
  qa-mickey.planx-pla.net/portal/gitops.json
Owners: @jingh8

updating the etlMapping to _file_id
  qa-dcp.planx-pla.net/etlMapping.yaml
Owners: @jingh8

fix remove sower
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

feat update data portal for gwas-1.2.0
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

Add info with gitops.json and new services to qa-brh
  qa-brh.planx-pla.net/manifest.json
  qa-brh.planx-pla.net/portal/gitops.json
Owners: none

chore/update_niaid-portal: update niaid data-portal image to 2022.08.1
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.08 to qa-covid19.planx-pla.net
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.08 to qa-covid19.planx-pla.net
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

Update qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

updated metadata tag
  qa-brh.planx-pla.net/manifest.json
Owners: none

apply version 2022.09 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

apply version 2022.09 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @jingh8

apply version 2022.09 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.09 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version 2022.08 to qa-niaid.planx-pla.net
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.08 to qa-niaid.planx-pla.net
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

reverting fence to 2022.07
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

add final text edits for titles and other text
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

Updating StudyRegistrationConfig Location
  qa-brh.planx-pla.net/portal/gitops.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

update portal to semantic version
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

final portal edits
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

DD w enrollment node
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

add new DD w enrollment node
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

Adding successRedirect to workspaceConfig
  qa-brh.planx-pla.net/portal/gitops.json
Owners: none

update mds to 1.8.1
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

update config to support new agg MDS format
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

update mds to 1.8.1 (#2175)
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

add HEAL date fields to aggMDS config
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

feat update portal version to 3.31.0
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

chore(qa-brh): access changes
  qa-brh.planx-pla.net/portal/gitops.json
Owners: none

reverting fence back to 2022.07
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

reverting fence back to 2022.07
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

update mds to 1.8.2
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

update mds to 1.8.2 (#2177)
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

add new DD w enrollment node (#2174)
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

Update incorrect structuring in heal gitops
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Update manifest.json
  qa-brh.planx-pla.net/manifest.json
Owners: none

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8
