Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8

indvertently re-added cmc_data_type
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

Test out jupyter labs
  .secrets.baseline
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

test
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

test
  .secrets.baseline
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

Chore/jupyter lab (#1810)
  .secrets.baseline
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

IBD: remove "IBD Browser" link
  qa-ibd.planx-pla.net/portal/gitops.json
Owners: @atharvar28

IBD: enable "public_datasets"
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

update gen3-aupsice with a new IL tree
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

apply version 2022.01 to qa-kidsfirst.planx-pla.net
  qa-kidsfirst.planx-pla.net/manifest.json
Owners: @atharvar28

update heal footer
  qa-heal.planx-pla.net/portal/gitops.css
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

update heal footer (#1814)
  qa-heal.planx-pla.net/portal/gitops.css
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

replace R 3.5.3 with 3.6.3
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

replace R 3.5.3 with 3.6.3 (#1815)
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

HEAL - join tutorials into one ws
  .secrets.baseline
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

Add hhs footer for kids-first
  qa-covid19.planx-pla.net/portal/gitops.json
  qa-kidsfirst.planx-pla.net/portal/gitops.json
Owners: @atharvar28

Increase Dataportal version in QA-niaid
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

Add HHS footer link for jcoin
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

apply version 2021.12 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version 2021.12 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

Add hhs footer for kids-first and jcoin (#1818)
  qa-covid19.planx-pla.net/portal/gitops.json
  qa-jcoin.planx-pla.net/portal/gitops.json
  qa-kidsfirst.planx-pla.net/portal/gitops.json
Owners: @atharvar28

style/adjustFooterSpacing: subtract more space form main contents min width to make up for added height to footer
  qa-jcoin.planx-pla.net/portal/gitops.css
  qa-kidsfirst.planx-pla.net/portal/gitops.css
Owners: @atharvar28

Increase Dataportal version in QA-niaid (#1817)
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

Remove World tab from qa-covid19 portal
  qa-covid19.planx-pla.net/portal/gitops.json
Owners: @atharvar28

Remove World tab from qa-covid19 portal (#1822)
  qa-covid19.planx-pla.net/portal/gitops.json
Owners: @atharvar28

QA NCT requestor 1.5.0
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

update aws-es-proxy version in jenkins envs
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifest.json
  jenkins-genomel.planx-pla.net/manifest.json
  jenkins-new.planx-pla.net/manifest.json
  jenkins-niaid.planx-pla.net/manifest.json
  jenkins-perf.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

apply version integration202202 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

apply version integration202202 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @jingh8

apply version integration202202 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version integration202202 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

inc qa-covid19 portal version
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

inc qa-covid19 portal version (#1826)
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

KidsFirst update gitops.json
  qa-kidsfirst.planx-pla.net/manifests/fence/fence-config-public.yaml
  qa-kidsfirst.planx-pla.net/portal/gitops.css
  qa-kidsfirst.planx-pla.net/portal/gitops.json
Owners: @atharvar28

Update qa-kidsfirst.planx-pla.net/portal/gitops.css
  qa-kidsfirst.planx-pla.net/portal/gitops.css
Owners: @atharvar28

Update qa-jcoin.planx-pla.net/portal/gitops.css
  qa-jcoin.planx-pla.net/portal/gitops.css
Owners: @atharvar28

style/footerSpace: subtract more space form main contents min height to make up for added height to footer
  qa-jcoin.planx-pla.net/portal/gitops.css
  qa-kidsfirst.planx-pla.net/portal/gitops.css
Owners: @atharvar28

Fix previous image tag
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

New combined tutorials and rm old nb
  .secrets.baseline
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj
