Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8

add argo and cohort-middleware to jenkins-brain
  jenkins-brain.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

Create argo.json
  jenkins-brain.planx-pla.net/manifests/argo/argo.json
Owners: @haraprasadj, @atharvar28, @jingh8

Update manifest.json
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

made separate mapping for time points rather than using nested props within one mapping
  qa-jcoin.planx-pla.net/etlMapping.yaml
Owners: @atharvar28

made separate mapping for time points rather than using nested props within one mapping
  qa-jcoin.planx-pla.net/etlMapping.yaml
Owners: @atharvar28

fix indent issue
  qa-jcoin.planx-pla.net/etlMapping.yaml
Owners: @atharvar28

reorg parent_props; del parent prop that doesnt exist
  qa-jcoin.planx-pla.net/etlMapping.yaml
Owners: @atharvar28

add project_id and submitter_id to time_point props
  qa-jcoin.planx-pla.net/etlMapping.yaml
Owners: @atharvar28

apply version 2022.05 to qa-niaid.planx-pla.net
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version 2022.05 to qa-niaid.planx-pla.net
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.05 to qa-jcoin.planx-pla.net
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version 2022.05 to qa-jcoin.planx-pla.net
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

Add new index to guppy config + DD to 2.1.1
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

update aws proxy path to aws ecr
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

qa-midrc: DICOM viewer/server to `gen3-0.1.1`
  qa-midrc.planx-pla.net/manifest.json
Owners: none

fix version: `gen3-0.1.0`
  qa-midrc.planx-pla.net/manifest.json
Owners: none

Update manifest.json
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

qa-jcoin DD and ETL mapping update (#2022)
  qa-jcoin.planx-pla.net/etlMapping.yaml
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

Update Jenkinsfile
  Jenkinsfile
Owners: none

update fence-config with ORCID login
  qa-jcoin.planx-pla.net/manifests/fence/fence-config-public.yaml
Owners: @atharvar28

qa-midrc gen3-orthanc:gen3-0.1.1
  qa-midrc.planx-pla.net/manifest.json
Owners: none

Add files via upload
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTT-4 Data Use Limitations.pdf
  qa-niaid.planx-pla.net/dashboard/Public/files/ACTT4_Data_Dictionary_v1.0.pdf
Owners: @atharvar28

external footer ff branch
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

test/NIAIDexternal_url: add external_url to etl mapping and potal gitops
  qa-niaid.planx-pla.net/etlMapping.yaml
  qa-niaid.planx-pla.net/portal/gitops.json
Owners: @atharvar28

dummy pr - do not merge
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

test/NIAIDexternal_url: change required_idp_field to requiredIdpField
  qa-niaid.planx-pla.net/portal/gitops.json
Owners: @atharvar28

update
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

test/resetNiaidPortal: set NIAID portal to master branch
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

update (#2030)
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Update gitops.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Update qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.06 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.06 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version 2022.06 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

apply version 2022.06 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @jingh8

Update gitops.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Update gitops.json (#2033)
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj
