Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

Update gitops.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Update portal to 3.27.0
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

use blue gen3
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/gen3.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/gen3_grey.png
Owners: @haraprasadj

use blue gen3 (#2068)
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/gen3.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/gen3_grey.png
Owners: @haraprasadj

changing the tier access level to libre
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.07 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.07 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version 2022.07 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

apply version 2022.07 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @jingh8

qa-niaid requestor to feat/auth-call branch
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

Update portal to 3.27.0 (#2067)
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

feat update documentation with table of contents
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_sources/index.md.txt
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_sources/index.rst.txt
  qa-mickey.planx-pla.net/dashboard/Public/documentation/index.html
  qa-mickey.planx-pla.net/dashboard/Public/documentation/searchindex.js
Owners: @jingh8

Update manifest.json
  jenkins-dcp.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

Update index.html
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.html
Owners: @haraprasadj

Update index.html
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.html
Owners: @haraprasadj

Update index.html
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.html
Owners: @haraprasadj

Update index.html
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.html
Owners: @haraprasadj

Edit text HEAL Login and Disco Page
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

apply version 2022.05 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.05 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

Update qa-heal documentation
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.html
Owners: @haraprasadj

Update fence-config-public.yaml
  qa-niaid.planx-pla.net/manifests/fence/fence-config-public.yaml
Owners: @atharvar28

qa-niaid dev login
  qa-niaid.planx-pla.net/manifests/fence/fence-config-public.yaml
Owners: @atharvar28

qa-niaid requestor 1.6.0
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.06 to qa-jcoin.planx-pla.net
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.06 to qa-jcoin.planx-pla.net
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version 2022.06 to qa-covid19.planx-pla.net
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.06 to qa-covid19.planx-pla.net
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

jenkins-niaid
  jenkins-niaid.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

jenkins-blood
  jenkins-blood.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

jenkins-brain
  jenkins-brain.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

jenkins genomel
  jenkins-genomel.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

jenkins new
  jenkins-new.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

decoupled workspaces in jenkins-new
  .secrets.baseline
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

frontend_root support
  Jenkinsfile
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

decoupled workspaces in jenkins-new (#2080)
  .secrets.baseline
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

try without gen3ff
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8
