Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

Added JCOIN MOUD notebook html and png image
  qa-jcoin.planx-pla.net/dashboard/Public/notebooks/JCOIN-MOUD_accessibility_analysis_02092022.html
  qa-jcoin.planx-pla.net/dashboard/Public/notebooks/jcoin_moud_analysis.png
Owners: @atharvar28

Updated gitops.json
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

Update tooltip message
  qa-covid19.planx-pla.net/portal/gitops.json
Owners: @atharvar28

Add discovery config to qa-covid19 (#1856)
  qa-covid19.planx-pla.net/manifest.json
  qa-covid19.planx-pla.net/portal/gitops.json
Owners: @atharvar28

QA-HEAL - update to 2022.02
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

update qa agg mds heal url
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Update gitops.css
  qa-heal.planx-pla.net/portal/gitops.css
Owners: @haraprasadj

Update gitops.css
  qa-heal.planx-pla.net/portal/gitops.css
Owners: @haraprasadj

remove duplicate field names
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

KF indexd:3.3.1 (DRS contents fix)
  qa-kidsfirst.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.01 to qa-niaid.planx-pla.net
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version 2022.01 to qa-niaid.planx-pla.net
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

fixing the sower version
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

apply version 2022.02 to qa-niaid.planx-pla.net
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.02 to qa-niaid.planx-pla.net
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

Revert "HP-638 - qa heal attribute change part 3"
  qa-heal.planx-pla.net/metadata/aggregate_config.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

fixing the sower version
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

fix(etl): update version to 0.6.1
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

fix(etl): update version to 0.6.1 (#1872)
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

Update hatchery.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

Update hatchery.json (#1873)
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

use hatchery release 0.3.0
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update hatchery.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

Update hatchery.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

Update hatchery.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

apply version integration202203 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

apply version integration202203 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version integration202203 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @jingh8

apply version integration202203 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

updating the portal version to latest release
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

chore(ctds-test-env): rm unnecessary uwsgi timeout
  ctds-test-env.planx-pla.net/manifest.json
Owners: none

SAMHDA as an individually configured repository
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

update portal service
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

fix(title): change title of browse studies/access-request
  qa-ibd.planx-pla.net/portal/gitops.json
Owners: @atharvar28

fix(title): change title of browse studies/access-request (#1879)
  qa-ibd.planx-pla.net/portal/gitops.json
Owners: @atharvar28

update display name
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8
