Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

Fix local data file dir
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

copied heal preprod aggregate_config for QA
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

copied heal preprod aggregate_config for QA
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Revert "indvertently re-added cmc_data_type"
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

copied heal preprod aggregate_config for QA
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

copied heal preprod aggregate_config for QA
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

qaplanetv1 - add qa-reports landing page code
  qa.planx-pla.net/dashboard/Secure/qa-reports/img/gen3-home-logo.svg
  qa.planx-pla.net/dashboard/Secure/qa-reports/index.html
  qa.planx-pla.net/dashboard/Secure/qa-reports/js/jquery-1.3.2.min.js
  qa.planx-pla.net/dashboard/Secure/qa-reports/js/script.js
  qa.planx-pla.net/dashboard/Secure/qa-reports/style.css
Owners: @haraprasadj, @atharvar28, @jingh8

HP-655 - QA for additional PDAPS to heal aggregate config (#1831)
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Update aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Update aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

add new field "study_name_title"
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

add field "investigators_name"
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Update aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

mds branch
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

HP-638 - adding field names to gitops
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json (#1835)
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Edit HEAL static notebooks
  qa-heal.planx-pla.net/dashboard/Public/notebooks/JCOIN_Tracking_Opioid_Stigma.html
  qa-heal.planx-pla.net/dashboard/Public/notebooks/Opioid_Environment_Toolkit_And_OEPS_R.html
  qa-heal.planx-pla.net/dashboard/Public/notebooks/Opioid_Prevalence_And_Overdoses.html
Owners: @haraprasadj

Edit HEAL documentation
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.html
Owners: @haraprasadj

apply version 2021.12 to qa-jcoin.planx-pla.net
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2021.12 to qa-jcoin.planx-pla.net
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version 2021.12 to qa-covid19.planx-pla.net
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2021.12 to qa-covid19.planx-pla.net
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

fix hatchery manifest in qa-heal
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

HP-655 - delete pdaps duplicates
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Update aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Updating presigned-url scaling for load-testing
  qa-dcp.planx-pla.net/manifests/scaling/scaling.json
Owners: @jingh8

Update HEAL documentation images
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/static_notebook_bacpac_manifestname.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_download_one_file_sdk.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_placeholder_guid.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_terminal_download.png
Owners: @haraprasadj

Update images with new colors
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/static_notebook_bacpac_manifestname.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_download_one_file_sdk.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_placeholder_guid.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspace_terminal_download.png
Owners: @haraprasadj

use released MDS
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

formatting
  .secrets.baseline
  qa-heal.planx-pla.net/metadata/aggregate_config.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

chore: try dataSim branch
  Jenkinsfile
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

Update gitops.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

remove redundant fields in agg config qa heal
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Chore/qaheal mds (#1843)
  .secrets.baseline
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

remove "study_name"
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

remove "investigators"
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

remove "summary"
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

gitops- remove "study_name
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

gitops-remove "investigators"
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8
