Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8

Update fence-config-public.yaml
  qa-jcoin.planx-pla.net/manifests/fence/fence-config-public.yaml
Owners: @atharvar28

Update fence-config-public.yaml
  qa-covid19.planx-pla.net/manifests/fence/fence-config-public.yaml
Owners: @atharvar28

Update fence-config-public.yaml
  qa-kidsfirst.planx-pla.net/manifests/fence/fence-config-public.yaml
Owners: @atharvar28

Update fence-config-public.yaml
  qa-niaid.planx-pla.net/manifests/fence/fence-config-public.yaml
Owners: @atharvar28

Remove SESSION_TIMEOUT override (#2237)
  qa-covid19.planx-pla.net/manifests/fence/fence-config-public.yaml
  qa-ibd.planx-pla.net/manifests/fence/fence-config-public.yaml
  qa-jcoin.planx-pla.net/manifests/fence/fence-config-public.yaml
  qa-kidsfirst.planx-pla.net/manifests/fence/fence-config-public.yaml
  qa-niaid.planx-pla.net/manifests/fence/fence-config-public.yaml
Owners: @atharvar28

apply version 2022.10 to qa-jcoin.planx-pla.net
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version 2022.10 to qa-jcoin.planx-pla.net
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

Updating MDS to 2.0.0 in qa-brh
  qa-brh.planx-pla.net/manifest.json
Owners: none

fix
  qa-brh.planx-pla.net/manifest.json
Owners: none

updating agg_cong.json to match preprod heal
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

updating mds to 2.0.0
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

change HEAL's aggMDS to use agg_server_paging (#2155)
  .secrets.baseline
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json (#2240)
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update MDS version to 2.0.1
  qa-brh.planx-pla.net/manifest.json
Owners: none

Update hatchery.json
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

Update hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

Fix/hatchery ecs (#2242)
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

apply version 2022.11 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.11 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version 2022.11 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

apply version 2022.11 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @jingh8

Update etlMapping.yaml
  jenkins-dcp.planx-pla.net/etlMapping.yaml
Owners: @haraprasadj, @atharvar28, @jingh8

Update jenkins-dcp.planx-pla.net/etlMapping.yaml
  jenkins-dcp.planx-pla.net/etlMapping.yaml
Owners: @haraprasadj, @atharvar28, @jingh8

Update etlMapping.yaml
  jenkins-dcp.planx-pla.net/etlMapping.yaml
Owners: @haraprasadj, @atharvar28, @jingh8

Update etlMapping.yaml
  qa-dcp.planx-pla.net/etlMapping.yaml
Owners: @jingh8

Update etlMapping.yaml
  jenkins-dcp.planx-pla.net/etlMapping.yaml
Owners: @haraprasadj, @atharvar28, @jingh8

Update etlMapping.yaml
  qa-dcp.planx-pla.net/etlMapping.yaml
Owners: @jingh8

switch to new sliders
  qa-midrc.planx-pla.net/manifest.json
Owners: none

aggmds config
  .secrets.baseline
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

portal config
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Update Jenkinsfile
  Jenkinsfile
Owners: none
