Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

switching portal branch for tests
  qa-brh.planx-pla.net/manifest.json
Owners: none

Update manifest.json
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

Update hatchery.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

qa-jcoin: deploy Stata notebook (#2194)
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

test BRH workspace registration in qa-heal
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

test/vlmdSubmissionPage: pointing heal data portal to dev branch
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

update portal to use 4.0.0
  qa-brh.planx-pla.net/manifest.json
Owners: none

qa-jcoin update Stata Notebook
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

qa-jcoin update Stata Notebook
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

remove bar chart items from homepage
  qa-mickey.planx-pla.net/portal/gitops.json
Owners: @jingh8

updated manifest and portal gitops.json
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

chore(qa-heal): add empty list of portal studies
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

remove stata workspaces
  .secrets.baseline
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
Owners: none

clean up
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

chore(qa-brh): add discovery studies
  qa-brh.planx-pla.net/portal/gitops.json
Owners: none

chore(qa-brh): pin mds to 2022.08
  qa-brh.planx-pla.net/manifest.json
Owners: none

enabling request access flow in qa-ibd
  qa-ibd.planx-pla.net/portal/gitops.json
Owners: @atharvar28

test
  Jenkinsfile
Owners: none

removed pidgin to test
  qa-brh.planx-pla.net/manifest.json
Owners: none

test updated pidgin instead of removal
  qa-brh.planx-pla.net/manifest.json
Owners: none

updated BRH tag for MDS
  qa-brh.planx-pla.net/manifest.json
Owners: none

feat update va documentation to match attrition table
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_images/test.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_sources/index.rst.txt
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_sources/temp.md.txt
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/test.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/index.html
  qa-mickey.planx-pla.net/dashboard/Public/documentation/searchindex.js
  qa-mickey.planx-pla.net/dashboard/Public/documentation/temp.html
Owners: @jingh8

enabling request access flow in qa-ibd (#2200)
  qa-ibd.planx-pla.net/portal/gitops.json
Owners: @atharvar28

Update manifest.json
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

fix(etlmapping): fix etl-mapping
  jenkins-blood.planx-pla.net/etlMapping.yaml
  jenkins-brain.planx-pla.net/etlMapping.yaml
  jenkins-dcp.planx-pla.net/etlMapping.yaml
  jenkins-new.planx-pla.net/etlMapping.yaml
Owners: @haraprasadj, @atharvar28, @jingh8

Updated manifest with portal-master
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

fix argo wrapper to master in qa
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

test pipeline
  Jenkinsfile
Owners: none

use mingfei test branch
  Jenkinsfile
Owners: none

qa-dcp update data dictionary to version 4.3.1 (#2204)
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

BRH-259 Fix test
  qa-brh.planx-pla.net/manifest.json
  qa-brh.planx-pla.net/portal/gitops.json
Owners: none

BRH-259 Fix test (#2206)
  qa-brh.planx-pla.net/manifest.json
  qa-brh.planx-pla.net/portal/gitops.json
Owners: none

Updating portal and wts in qa-brh
  qa-brh.planx-pla.net/manifest.json
Owners: none

update service
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

format
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Updating portal and wts in qa-brh (#2207)
  qa-brh.planx-pla.net/manifest.json
Owners: none

Updated manifest and gitops for qa-heal
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Updating wts to 0.4.1 that fixes the queue pool error
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update ws image and static nb
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8
