Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8

Add new static notebook
  qa-heal.planx-pla.net/dashboard/Public/notebooks/COVID-19_and_Opioids_part1.png
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

qa-jcoin DD to 2.0.1
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

Update fence-config-public.yaml
  qa-ibd.planx-pla.net/manifests/fence/fence-config-public.yaml
Owners: @atharvar28

Update manifest.json
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

Update fence-config-public.yaml
  qa-jcoin.planx-pla.net/manifests/fence/fence-config-public.yaml
Owners: @atharvar28

Feat: Dev login (#1967)
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/fence/fence-config-public.yaml
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/fence/fence-config-public.yaml
Owners: @atharvar28

bump up tube version to 0.6.6
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

update tube
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Gen3 Monthly Release 2022.04 qa-heal.planx-pla.net 1650378262 (#1962)
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

updated ETL mapping v1 with paired back core measure DD
  qa-jcoin.planx-pla.net/etlMapping.yaml
Owners: @atharvar28

use decoupled workspaces in jenkins-genomel and jenkins-niaid (#1963)
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

fix(remove-unused-links): remove unused links and sections.
  qa-mickey.planx-pla.net/portal/gitops.json
Owners: @jingh8

chore(tube-version): Upgrade tube version
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

Change requestor to 1.5.0
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

fix: portal home page for qa-mickey
  qa-mickey.planx-pla.net/portal/gitops.json
Owners: @jingh8

fix: remove submission button for qa-mickey
  qa-mickey.planx-pla.net/portal/gitops.json
Owners: @jingh8

chore: fixing studyViewer config with ETLmapping
  jenkins-new.planx-pla.net/portal/gitops.json
Owners: @haraprasadj, @atharvar28, @jingh8

change scaling group name for argo
  qa-mickey.planx-pla.net/manifests/argo/argo.json
Owners: @jingh8

update argo-wrapper version
  qa-mickey.planx-pla.net/manifest.json
Owners: @jingh8

Update manifest.json
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

QANCT_0.5.1_DD
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

QACovid19_3.8.15_DD
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

Change `requestor` to `1.5.1`
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.05 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

apply version 2022.05 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @jingh8

Update manifest.json
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

Add disclaimer prop to ETL and mapping
  qa-covid19.planx-pla.net/etlMapping.yaml
Owners: @atharvar28

Update gitops.json
  qa-covid19.planx-pla.net/portal/gitops.json
Owners: @atharvar28

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json (#1982)
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

incorporate landing page branch into subpages branch
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Revert "use decoupled workspaces in jenkins-genomel and jenkins-niaid (#1963)"
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

Revert "jenkins new - use decoupled workspaces (#1941)"
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

Update manifest.json
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

apply version integration202205 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

Revert "jenkins new - use decoupled workspaces (#1941)" (#1985)
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

Revert "use decoupled workspaces in jenkins-genomel and jenkins-niaid (#1963)" (#1984)
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8
