Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8

Update manifest.json
  qa.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

Update manifest.json
  qa.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Add tube back to qa.planx-pla.net (#2034)
  qa.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

tier config QA-IBD
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.05 to qa-covid19.planx-pla.net
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.05 to qa-covid19.planx-pla.net
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

Update gitops.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

update gitops.json - PXP-100102
  qa-niaid.planx-pla.net/portal/gitops.json
Owners: @atharvar28

updated google_mobility.html file
  .secrets.baseline
Owners: none

update tab charts nb
  qa-covid19.planx-pla.net/dashboard/Public/notebooks/IL_tab_charts.html
Owners: @atharvar28

qa-niaid ACTT-4 - PXP-100102 (#2039)
  qa-niaid.planx-pla.net/portal/gitops.json
Owners: @atharvar28

Update google mobility data table (#2040)
  .secrets.baseline
  qa-covid19.planx-pla.net/dashboard/Public/notebooks/IL_tab_charts.html
Owners: @atharvar28

Update jupyter-covid19.yaml
  qa-covid19.planx-pla.net/manifests/hatchery/jupyter-covid19.yaml
Owners: @atharvar28

Update hatchery.json
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

Update manifest.json
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

Update jupyter-covid19.yaml
  qa-covid19.planx-pla.net/manifests/hatchery/jupyter-covid19.yaml
Owners: @atharvar28

apply version 2022.06 to qa-heal.planx-pla.net
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

apply version 2022.06 to qa-heal.planx-pla.net
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Gen3 Monthly Release 2022.06 qa-heal.planx-pla.net 1654542054 (#2043)
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update gitops.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Update manifest.json (#2044)
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Update Jenkinsfile
  Jenkinsfile
Owners: none

qa-covid19 DD to 3.8.16
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

Update Jenkinsfile
  Jenkinsfile
Owners: none

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update Jenkinsfile
  Jenkinsfile
Owners: none

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

doc add va doc
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/alabaster.css
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/basic.css
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/custom.css
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/doctools.js
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/documentation_options.js
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/file.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/jquery-3.5.1.js
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/jquery.js
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/language_data.js
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/minus.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/plus.png
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/pygments.css
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/searchtools.js
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/underscore-1.13.1.js
  qa-mickey.planx-pla.net/dashboard/Public/documentation/_static/underscore.js
  qa-mickey.planx-pla.net/dashboard/Public/documentation/genindex.html
  qa-mickey.planx-pla.net/dashboard/Public/documentation/index.html
  qa-mickey.planx-pla.net/dashboard/Public/documentation/objects.inv
  qa-mickey.planx-pla.net/dashboard/Public/documentation/search.html
  qa-mickey.planx-pla.net/dashboard/Public/documentation/searchindex.js
Owners: @jingh8

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update Jenkinsfile
  Jenkinsfile
Owners: none

vadc portal changes
  qa-mickey.planx-pla.net/portal/gitops.json
Owners: @jingh8

Updated covid-notebook-etl version
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

PRC ETL to 5.2.0 (cityofchicago ETL)
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28
