Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

test BRH workspace registration in qa-heal (#2195)
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

apply version 2022.10 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @jingh8

apply version 2022.10 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.10 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

apply version 2022.10 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

new ws image tag
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

add 'appl_id' to HEAL agg MDS config
  .secrets.baseline
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Update hatchery.json
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
Owners: none

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json (#2214)
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

remove unneeded field
  .secrets.baseline
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

update
  .secrets.baseline
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

QA IBD discovery page
  qa-ibd.planx-pla.net/portal/gitops.json
Owners: @atharvar28

QA IBD discovery page (#2215)
  qa-ibd.planx-pla.net/portal/gitops.json
Owners: @atharvar28

QA IBD portal patch
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

fix typo
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Update hatchery.json (#2213)
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
Owners: none

bumping cedar wrapper service to 0.1.5
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json (#2217)
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

bumping cedar wrapper service to 0.1.5 (#2216)
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

Update manifest.json
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

Adding dicom viewer confgs
  qa-midrc.planx-pla.net/portal/gitops.json
Owners: none

Update gitops.json
  qa-midrc.planx-pla.net/portal/gitops.json
Owners: none

Update gitops.json
  qa-midrc.planx-pla.net/portal/gitops.json
Owners: none

Update gitops.json
  qa-midrc.planx-pla.net/portal/gitops.json
Owners: none

Update gitops.json
  qa-midrc.planx-pla.net/portal/gitops.json
Owners: none

Revert "Updating Env qa-ibd.planx-pla.net - 2022.10 1664555927"
  qa-ibd.planx-pla.net/manifest.json
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version 2022.10 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.10 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

apply version 2022.10 to qa-kidsfirst.planx-pla.net
  qa-kidsfirst.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.10 to qa-niaid.planx-pla.net
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version 2022.10 to qa-niaid.planx-pla.net
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

feat(VADC-214): add new app gwas++ to qa-mickey
  qa-mickey.planx-pla.net/portal/gitops.json
Owners: @jingh8

fix(etl): update tube to master
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

Making a test commit to check the flow
  qa-brh.planx-pla.net/manifest.json
Owners: none

Test commit
  qa-brh.planx-pla.net/manifest.json
Owners: none

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8
