Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

Update qa-heal.planx-pla.net/metadata/aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Update qa-heal.planx-pla.net/metadata/aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Update qa-heal.planx-pla.net/metadata/aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Update qa-heal.planx-pla.net/metadata/aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Update qa-heal.planx-pla.net/metadata/aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

apply version 2022.03 to qa-heal.planx-pla.net
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

apply version 2022.03 to qa-heal.planx-pla.net
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

Apply suggestions from code review
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

reducing the max pods
  qa-dcp.planx-pla.net/manifests/scaling/scaling.json
Owners: @jingh8

changed etlMapping.yaml -- added project name to files injector props
  qa-jcoin.planx-pla.net/etlMapping.yaml
Owners: @atharvar28

Merge branch 'master' of github.com:uc-cdis/gitops-qa into chore/qa_heal-update_2022.02
  jenkins-brain.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

fix
  .secrets.baseline
  jenkins-blood.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-dcp.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

Update jenkins-brain.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-brain.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

Update jenkins-blood.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-blood.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

Update jenkins-dcp.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

Update jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

Update jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

Update jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

Update jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

apply version 2022.03 to qa-kidsfirst.planx-pla.net
  qa-kidsfirst.planx-pla.net/manifest.json
Owners: @atharvar28

Testing studyViewer in jenkins-new
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

qa-jcoin changed etlMapping.yaml -- added project name to files injector props (#1896)
  qa-jcoin.planx-pla.net/etlMapping.yaml
Owners: @atharvar28

apply version 2022.03 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.03 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

Update manifest.json
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update hatchery.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

Use new sidecar image
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

gitops css for footer
  qa-heal.planx-pla.net/portal/gitops.css
Owners: @haraprasadj

Test : studyeViewer wait
  Jenkinsfile
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.03 to qa-niaid.planx-pla.net
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.03 to qa-niaid.planx-pla.net
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version 2022.03 to qa-jcoin.planx-pla.net
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.03 to qa-jcoin.planx-pla.net
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version 2022.03 to qa-covid19.planx-pla.net
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version 2022.03 to qa-covid19.planx-pla.net
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

revert back the tube version
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

IMPACC_DUL_file
  qa-niaid.planx-pla.net/dashboard/Public/files/IMPACC March 2022 Data Use Limitations.pdf
Owners: @atharvar28

Update gitops.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8
