Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8

Update manifest.json (#2083)
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update gitops.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Update gitops.json (#2084)
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update tagsDisplayName
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Update gitops.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Update index.html
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.html
Owners: @haraprasadj

Updating images in documentation
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/data_resources.png
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/data_resources_tags.png
Owners: @haraprasadj

Update index.html
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.html
Owners: @haraprasadj

reverting back the portal version to newer one
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

feat/healMetaDescription: add meta description to heal
  qa-niaid.planx-pla.net/portal/gitops.json
Owners: @atharvar28

Update index.html
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.html
Owners: @haraprasadj

Update tagsDisplayName (#2085)
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

deploy study reg with req access forms
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

feat/healMetaDescription: update data portal to version with meta description
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

update gen3ff
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

deploy study reg with req access forms (#2090)
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Update gitops.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

feat/healMetaDescription: move code to correct place
  qa-heal.planx-pla.net/portal/gitops.json
  qa-niaid.planx-pla.net/portal/gitops.json
Owners: @haraprasadj, @atharvar28

updated brh qa env to match cdis-manifest prod
  qa-brh.planx-pla.net/dashboard/Public/notebooks/ACTT1_accessclinical_notebook.html
  qa-brh.planx-pla.net/dashboard/Public/notebooks/ACTT1_accessclinical_notebook.png
  qa-brh.planx-pla.net/dashboard/Public/notebooks/AnVIL_1k_Genome_data_analysis.html
  qa-brh.planx-pla.net/dashboard/Public/notebooks/AnVIL_1k_Genome_data_analysis.png
  qa-brh.planx-pla.net/dashboard/Public/notebooks/BDCat_Biolincc_Framingham_study_exploration.png
  qa-brh.planx-pla.net/dashboard/Public/notebooks/BDCat_CAMP_study_exploration_notebook.png
  qa-brh.planx-pla.net/dashboard/Public/notebooks/BDCat_Framingham_study_exploration_R.html
  qa-brh.planx-pla.net/dashboard/Public/notebooks/BDCat_Framingham_study_exploration_R.png
  qa-brh.planx-pla.net/dashboard/Public/notebooks/GDC_TCGA-CHOL_RNA_analysis_BRH_040722.html
  qa-brh.planx-pla.net/dashboard/Public/notebooks/GDC_TCGA-CHOL_RNA_analysis_BRH_040722.png
  qa-brh.planx-pla.net/dashboard/Public/notebooks/JCOIN_MOUD_accessibility_jupyter_notebook_BRH.html
  qa-brh.planx-pla.net/dashboard/Public/notebooks/JCOIN_MOUD_accessibility_jupyter_notebook_BRH.png
  qa-brh.planx-pla.net/dashboard/Public/notebooks/JCOIN_PDAPS_Public_Policy_Changes.png
  qa-brh.planx-pla.net/dashboard/Public/notebooks/JCOIN_Tracking_Opioid_Stigma.html
  qa-brh.planx-pla.net/dashboard/Public/notebooks/JCOIN_Tracking_Opioid_Stigma.png
  qa-brh.planx-pla.net/dashboard/Public/notebooks/MIDRC_CT_Scan_Demo.html
  qa-brh.planx-pla.net/dashboard/Public/notebooks/MIDRC_CT_Scan_Demo.png
  qa-brh.planx-pla.net/dashboard/Public/notebooks/MIDRC_Clinical_Data_Demo.html
  qa-brh.planx-pla.net/dashboard/Public/notebooks/MIDRC_Clinical_Data_Demo.png
  qa-brh.planx-pla.net/dashboard/Public/notebooks/OADC_CCLE_RNAseq_visualization.png
  qa-brh.planx-pla.net/dashboard/Public/notebooks/OADC_CCLE_gene_expression_data_analysis.html
  qa-brh.planx-pla.net/dashboard/Public/notebooks/OADC_CCLE_gene_expression_data_analysis.png
  qa-brh.planx-pla.net/dashboard/Public/notebooks/PDC_clustergram.html
  qa-brh.planx-pla.net/dashboard/Public/notebooks/PDC_clustergram.png
  qa-brh.planx-pla.net/dashboard/Public/notebooks/canine_datacommons_fastq_reader.html
  qa-brh.planx-pla.net/dashboard/Public/notebooks/canine_datacommons_fastq_reader.png
  qa-brh.planx-pla.net/dashboard/Public/notebooks/data_access_how_to.html
  qa-brh.planx-pla.net/dashboard/Public/notebooks/data_access_how_to.png
  qa-brh.planx-pla.net/manifest.json
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
  qa-brh.planx-pla.net/metadata/aggregate_config.json
  qa-brh.planx-pla.net/portal/gitops.json
Owners: none

keep qa-brh names and links
  .secrets.baseline
  qa-brh.planx-pla.net/manifest.json
  qa-brh.planx-pla.net/manifests/hatchery/hatchery.json
  qa-brh.planx-pla.net/portal/gitops.json
Owners: none

decoupled workspaces on jenkins-genomel and jenkins-niaid
  .secrets.baseline
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

heal doc changes
  qa-heal.planx-pla.net/dashboard/Public/documentation/index.html
Owners: @haraprasadj

decoupled workspaces on jenkins-genomel and jenkins-niaid (#2092)
  .secrets.baseline
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

Add files via upload
  qa-heal.planx-pla.net/dashboard/Public/documentation/img/workspaces_new_2.png
Owners: @haraprasadj

apply version 2022.07 to qa-covid19.planx-pla.net
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.07 to qa-covid19.planx-pla.net
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version 2022.07 to qa-niaid.planx-pla.net
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.07 to qa-niaid.planx-pla.net
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

Testing the etl cleanup task fix
  Jenkinsfile
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

dummy pr to trigger Travis job
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

update services
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

reverting back requestor version to new one
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

debugging etlTest cleanUptask in qa-covid19
  Jenkinsfile
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

apply version integration202208 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

apply version integration202208 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @jingh8

apply version integration202208 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version integration202208 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

update services (#2098)
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

update manifest to support aggregating manifests to counts and query on download/workspace
  qa-brh.planx-pla.net/manifest.json
  qa-brh.planx-pla.net/metadata/aggregate_config.json
Owners: none
