Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

fix config
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

remove dups
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

format
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

restore
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

adding notebook to jenkins envs
  jenkins-blood.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-brain.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-dcp.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-genomel.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-new.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
  jenkins-perf.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

HP-638 - bring in the changes back
  .secrets.baseline
  qa-heal.planx-pla.net/metadata/aggregate_config.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Fix hatchery namespace in jenkins-niaid
  jenkins-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj, @atharvar28, @jingh8

update version
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

update version
  .secrets.baseline
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

Chore/rename (#1880)
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

apply version 2022.03 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

apply version 2022.03 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @jingh8

apply version 2022.02 to qa-jcoin.planx-pla.net
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.02 to qa-jcoin.planx-pla.net
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

update covid-notebook-etl version
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

update covid-notebook-etl version (#1886)
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

update
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

Fix/download (#1888)
  .secrets.baseline
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

Add static nb
  .secrets.baseline
  qa-heal.planx-pla.net/dashboard/Public/notebooks/JCOIN-MOUD_accessibility_analysis_02092022.html
  qa-heal.planx-pla.net/dashboard/Public/notebooks/jcoin_moud_analysis.png
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

dummy
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Update hatchery.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

baseline conflicts
  .secrets.baseline
Owners: none

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json (#1890)
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

baseline conflicts
  .secrets.baseline
Owners: none

baseline conflicts
  .secrets.baseline
Owners: none

Update .secrets.baseline
  .secrets.baseline
Owners: none

Revert "HP-638 - HEAL delete redundant fields (A->AB->B this is B) in agg config and gitops"
  qa-heal.planx-pla.net/metadata/aggregate_config.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Update gitops.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

HP-638 - new metadata release
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

HP-638 - new metadata release (#1892)
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

added PDAPS JCOIN studies
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

added new study filters + changed main commons_url
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Update qa-heal.planx-pla.net/metadata/aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Update qa-heal.planx-pla.net/metadata/aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Update qa-heal.planx-pla.net/metadata/aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Update qa-heal.planx-pla.net/metadata/aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Update qa-heal.planx-pla.net/metadata/aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Update qa-heal.planx-pla.net/metadata/aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Update qa-heal.planx-pla.net/metadata/aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8
