Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

gitops-remove "summary" (excl search)
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

delete "summary" from search
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

HEAL - add extended jup lab ws image
  .secrets.baseline
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

Update hatchery.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version 2022.01 to qa-covid19.planx-pla.net
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.01 to qa-covid19.planx-pla.net
  qa-covid19.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version 2022.01 to qa-jcoin.planx-pla.net
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.01 to qa-jcoin.planx-pla.net
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

chore: fixing covid19-bayes service
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

qa-covid19 ETL to 4.13.0
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

qa-covid19: portal 3.19.2 and ETL 5.0.0
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.02 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @jingh8

apply version 2022.02 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

Update hatchery.json. (#1848)
  qa-jcoin.planx-pla.net/manifest.json
  qa-jcoin.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

qa-nct arborist to 3.2.0 to fix requestor issues
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

Update HHS link in QA-Kidsfirst
  qa-kidsfirst.planx-pla.net/portal/gitops.json
Owners: @atharvar28

Updating the HHS link qa-jcoin and qa-ibd
  qa-ibd.planx-pla.net/portal/gitops.json
  qa-jcoin.planx-pla.net/portal/gitops.json
Owners: @atharvar28

Update HHS link in QA-Kidsfirst (#1852)
  qa-kidsfirst.planx-pla.net/portal/gitops.json
Owners: @atharvar28

Increment niaid portal version
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

qa-covid19 portal to 3.19.2
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

Update aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

qa-covid19 portal to 3.19.4
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

Update aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Update aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Update aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Increment niaid portal version (#1854)
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

Update qa-heal.planx-pla.net/metadata/aggregate_config.json
  qa-heal.planx-pla.net/metadata/aggregate_config.json
Owners: @haraprasadj

Add discovery config to qa-covid19
  qa-covid19.planx-pla.net/portal/gitops.json
Owners: @atharvar28

Sorted services in manifest for ease.
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

mTLS on for ctds-test-env
  ctds-test-env.planx-pla.net/manifest.json
Owners: none

Update tutorial image tag for bug fix
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

qa-covid19: covid19-etl:5.0.1
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

add gen3ff to qaheal
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

add gen3ff to qaheal (#1859)
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

qa-ibd study viewer link updates
  qa-ibd.planx-pla.net/portal/gitops.json
Owners: @atharvar28

qa-ibd study viewer link updates (#1860)
  qa-ibd.planx-pla.net/portal/gitops.json
Owners: @atharvar28

apply version 2022.02 to qa-kidsfirst.planx-pla.net
  qa-kidsfirst.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

qa-ibd portal to 3.19.5
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8
