Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

apply version 2022.05 to qa-kidsfirst.planx-pla.net
  qa-kidsfirst.planx-pla.net/manifest.json
Owners: @atharvar28

fix: studyViewer config jenkins-genomel
  jenkins-genomel.planx-pla.net/portal/gitops.json
Owners: @haraprasadj, @atharvar28, @jingh8

use nested_props
  qa-jcoin.planx-pla.net/etlMapping.yaml
Owners: @atharvar28

Gen3 Monthly Release 2022.05 qa-heal.planx-pla.net 1652278331 (#2002)
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

Move "moud_uses"
  qa-jcoin.planx-pla.net/etlMapping.yaml
Owners: @atharvar28

Tube to 0.6.9
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

qa-jcoin etl nested_props (#2005)
  qa-jcoin.planx-pla.net/etlMapping.yaml
  qa-jcoin.planx-pla.net/manifest.json
Owners: @atharvar28

qa-midrc: DICOM viewer+server on ECR urls + python plugin
  qa-midrc.planx-pla.net/manifest.json
Owners: none

Update hatchery.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

Update hatchery.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

Update hatchery.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

Update hatchery.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

Update hatchery.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

test/niaidPortalIdp: point niaid portal to test branch feat_studyViewerIdpFlag
  qa-niaid.planx-pla.net/manifest.json
  qa-niaid.planx-pla.net/portal/gitops.json
Owners: @atharvar28

update services
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

Update hatchery.json (#2006)
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @haraprasadj

update services (#2008)
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

NCTQA_0.5.3_DD
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

feat(PXP-9868): change atlas app description
  qa-mickey.planx-pla.net/portal/gitops.json
Owners: @jingh8

qa-niaid fence to 5.6.0
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

testing studyViewer
  jenkins-new.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

Update manifest.json
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

Update Jenkinsfile
  Jenkinsfile
Owners: none

feat(qa-mickey): change atlas app description
  qa-mickey.planx-pla.net/portal/gitops.json
Owners: @jingh8

fix
  jenkins-new.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

studyViewer test
  Jenkinsfile
  jenkins-new.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

apply version integration202202 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

apply version integration202202 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @jingh8

apply version integration202206 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @jingh8

apply version integration202206 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

apply version integration202206 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

apply version integration202206 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

Add dispatcher_job_num to jenkins-perf
  jenkins-perf.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

add [] to sower block
  jenkins-perf.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

fix sower
  jenkins-perf.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8
