Repository uc-cdis/gitops-qa, changes with the owners that CODEOWNERS names for each.
All owners: @haraprasadj, @atharvar28, @jingh8, @trevars

CODEOWNERS:

qa-acct.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-bloodpac.planx-pla.net @haraprasadj @atharvar28 @jingh8
qa-canine.planx-pla.net @trevars @haraprasadj @atharvar28 @jingh8
qa.planx-pla.net @haraprasadj @atharvar28 @jingh8
qaplanetv2.planx-pla.net @haraprasadj @atharvar28 @jingh8

qa-mickey.planx-pla.net @jingh8
qa-brain.planx-pla.net @jingh8

qa-anvil.planx-pla.net @atharvar28
qa-dcf.planx-pla.net @atharvar28
qa-dcfdemo.planx-pla.net @atharvar28
qa-dcp.planx-pla.net @jingh8

qa-aids.planx-pla.net @atharvar28
qa-covid19.planx-pla.net @atharvar28
qa-flu.planx-pla.net @atharvar28
qa-ibd.planx-pla.net @atharvar28
qa-jcoin.planx-pla.net @atharvar28
qa-kidsfirst.planx-pla.net @atharvar28
qa-microbiome.planx-pla.net @atharvar28
qa-nde.planx-pla.net @atharvar28
qa-niaid.planx-pla.net @atharvar28
qa-tb.planx-pla.net @atharvar28

qa-heal.planx-pla.net @haraprasadj

jenkins-blood.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-brain.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-dcp.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-genomel.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-niaid.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-new.planx-pla.net @haraprasadj @atharvar28 @jingh8
jenkins-perf.planx-pla.net @haraprasadj @atharvar28 @jingh8

Multiple paymodels testing qa-heal (#1902)
  qa-heal.planx-pla.net/manifest.json
  qa-heal.planx-pla.net/manifests/hatchery/hatchery.json
  qa-heal.planx-pla.net/portal/gitops.json
Owners: @haraprasadj

QADCP_4.2.1_DD
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

Update manifest.json
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json (#1910)
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

Increment Covid19-etl version
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

Increment Covid19-etl version (#1911)
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json
  qa-midrc.planx-pla.net/manifest.json
Owners: none

Imaging Studies tab link to DICOM viewer
  qa-midrc.planx-pla.net/portal/gitops.json
Owners: none

Update gitops.json
  qa-midrc.planx-pla.net/portal/gitops.json
Owners: none

Update manifest.json
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

add mock scaling group
  qa-mickey.planx-pla.net/manifests/argo/argo.json
Owners: @jingh8

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

apply version integration202204 to qa-niaid.planx-pla.net
  qa-niaid.planx-pla.net/manifest.json
Owners: @atharvar28

apply version integration202204 to qa-niaid.planx-pla.net
  qa-niaid.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

apply version integration202204 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

apply version integration202204 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @jingh8

qa-midrc: deploy dicom viewer link in explorer (#1913)
  qa-midrc.planx-pla.net/manifest.json
  qa-midrc.planx-pla.net/portal/gitops.json
Owners: none

apply version integration202204 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28

apply version integration202204 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @atharvar28

fix(array): check and fix array in auth reousrce path
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

Update manifest.json (#1912)
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.03 to qa-midrc.planx-pla.net
  qa-midrc.planx-pla.net/manifest.json
Owners: none

Update manifest.json
  qa-heal.planx-pla.net/manifest.json
Owners: @haraprasadj

feat(disco-tab-config):
  qa-heal.planx-pla.net/portal/gitops.css
Owners: @haraprasadj

fix(array): check and fix array in auth reousrce path (#1920)
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.03 to qa.planx-pla.net
  qa.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

qa-midrc DICOM viewer link
  qa-midrc.planx-pla.net/manifest.json
Owners: none

Update manifest.json
  qa-midrc.planx-pla.net/manifest.json
Owners: none

qa-midrc DICOM viewer link and services (#1923)
  qa-midrc.planx-pla.net/manifest.json
Owners: none

apply version 2022.04 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifest.json
Owners: @jingh8

apply version 2022.04 to qa-dcp.planx-pla.net
  qa-dcp.planx-pla.net/manifests/hatchery/hatchery.json
Owners: @jingh8

qa-midrc portal 3.22.0
  qa-midrc.planx-pla.net/manifest.json
Owners: none

chore(jenkins-*): use fixed ES aliases in gppy cfg
  jenkins-blood.planx-pla.net/manifest.json
  jenkins-brain.planx-pla.net/manifest.json
  jenkins-dcp.planx-pla.net/manifest.json
Owners: @haraprasadj, @atharvar28, @jingh8

chore(jenkins-*): make etlMapping names consistent
  jenkins-brain.planx-pla.net/etlMapping.yaml
  jenkins-dcp.planx-pla.net/etlMapping.yaml
  jenkins-genomel.planx-pla.net/etlMapping.yaml
  jenkins-new.planx-pla.net/etlMapping.yaml
  jenkins-niaid.planx-pla.net/etlMapping.yaml
Owners: @haraprasadj, @atharvar28, @jingh8

use the right images
  qa-midrc.planx-pla.net/manifest.json
Owners: none

Update manifest.json
  qa-midrc.planx-pla.net/manifest.json
Owners: none

Update manifest.json
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

Update DD to 3.8.14
  qa-covid19.planx-pla.net/manifest.json
Owners: @atharvar28

apply version 2022.04 to qa-ibd.planx-pla.net
  qa-ibd.planx-pla.net/manifest.json
Owners: @atharvar28
